Repository tokio-rs/tokio, changes with the labels that .github/labeler.yml gives for each.
All labels: R-loom-sync, R-loom-time-driver, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

.github/labeler.yml:

R-loom-sync:
- tokio/src/sync/*
- tokio/src/sync/**/*

R-loom-time-driver:
- tokio/src/runtime/time/*
- tokio/src/runtime/time/**/*

R-loom-current-thread:
- tokio/src/runtime/scheduler/*
- tokio/src/runtime/scheduler/current_thread/*
- tokio/src/runtime/task/*
- tokio/src/runtime/task/**

R-loom-multi-thread:
- tokio/src/runtime/scheduler/*
- tokio/src/runtime/scheduler/multi_thread/*
- tokio/src/runtime/scheduler/multi_thread/**
- tokio/src/runtime/task/*
- tokio/src/runtime/task/**

R-loom-multi-thread-alt:
- tokio/src/runtime/scheduler/*
- tokio/src/runtime/scheduler/multi_thread_alt/*
- tokio/src/runtime/scheduler/multi_thread_alt/**
- tokio/src/runtime/task/*
- tokio/src/runtime/task/**

enable sync future for CachePadded
  tokio/src/util/cacheline.rs
Labels: none

Update CI config (#5893)
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/loom.yml
  .github/workflows/pr-audit.yml
  .github/workflows/stress-test.yml
  tokio/src/loom/std/parking_lot.rs
  tokio/src/macros/cfg.rs
  tokio/tests/tcp_connect.rs
  tokio/tests/tcp_socket.rs
Labels: none

Fix flaky test wake_while_rt_is_dropping
  tokio/tests/rt_common.rs
Labels: none

fix
  tokio/tests/rt_common.rs
Labels: none

runtime: fix flaky test `wake_while_rt_is_dropping` (#5905)
  tokio/tests/rt_common.rs
Labels: none

sync: avoid false sharing in mpsc channel (#5829)
  tokio/src/sync/mpsc/chan.rs
  tokio/src/util/cacheline.rs
  tokio/src/util/mod.rs
Labels: R-loom-sync

add tests for error readiness
  tokio/tests/io_async_fd.rs
Labels: none

add Ready::ERROR
  tokio/src/io/ready.rs
Labels: none

add Interest::ERROR
  tokio/src/io/interest.rs
  tokio/src/io/ready.rs
  tokio/tests/io_async_fd.rs
Labels: none

use option to accumulate mio Interest
  tokio/src/io/interest.rs
Labels: none

Interest as usize
  tokio/src/io/interest.rs
Labels: none

clarify comment
  tokio/src/io/ready.rs
Labels: none

use unwrap_or
  tokio/src/io/interest.rs
Labels: none

ensure test port cannot be selected as ephemeral port
  tokio/tests/io_async_fd.rs
Labels: none

implement extra reset variants for Interval
  tokio/src/time/interval.rs
  tokio/tests/time_interval.rs
Labels: none

rt(alt): fix a number of concurrency bugs
  tokio/Cargo.toml
  tokio/src/loom/mocked.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/inject/shared.rs
  tokio/src/runtime/scheduler/inject/synced.rs
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/mod.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
  tokio/tests/rt_threaded_alt.rs
Labels: R-loom-multi-thread-alt

fmt
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
Labels: R-loom-multi-thread-alt

revert not loom on_thread_start
  tokio/src/runtime/builder.rs
Labels: none

fix warnings
  tokio/src/runtime/config.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/inject/synced.rs
Labels: none

fix build
  tokio/src/runtime/driver.rs
Labels: none

try again
  tokio/src/runtime/driver.rs
Labels: none

and another ci fix
  tokio/src/runtime/scheduler/inject/synced.rs
Labels: none

assert that error readiness is not set before send
  tokio/tests/io_async_fd.rs
Labels: none

rm debug panic
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
Labels: R-loom-multi-thread-alt

rt: pop at least one task from inject queue
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: R-loom-multi-thread

rt: pop at least one task from inject queue (#5908)
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: R-loom-multi-thread

use released loom
  tokio/Cargo.toml
Labels: none

remove some debugging output
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/mod.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
Labels: R-loom-multi-thread-alt

time: implement extra reset variants for `Interval` (#5878)
  tokio/src/time/interval.rs
  tokio/tests/time_interval.rs
Labels: none

rt(alt): fix a number of concurrency bugs (#5907)
  tokio/Cargo.toml
  tokio/src/loom/mocked.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/inject/shared.rs
  tokio/src/runtime/scheduler/inject/synced.rs
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
  tokio/tests/rt_threaded_alt.rs
Labels: R-loom-multi-thread-alt

try 2 preemptions now
  .github/workflows/loom.yml
Labels: none

Mark `Sleep` as `!Unpin`
  tokio-stream/Cargo.toml
  tokio-util/Cargo.toml
  tokio/Cargo.toml
  tokio/src/time/sleep.rs
Labels: none

Create StreamMock for testing Streams
  tokio-test/src/lib.rs
  tokio-test/src/stream_mock.rs
  tokio-test/tests/stream_mock.rs
Labels: none

time: mark `Sleep` as `!Unpin` in docs (#5916)
  tokio-stream/Cargo.toml
  tokio-util/Cargo.toml
  tokio/Cargo.toml
  tokio/src/time/sleep.rs
Labels: none
