Repository tokio-rs/tokio, pull requests merged in 2018-11, with the labels that each got.

#734 Reduce log level of loop process
  tokio-reactor/src/lib.rs
Labels: tokio-reactor

#735 fs: gen_ascii_chars has been deprecated
  tokio-fs/tests/file.rs
Labels: maintenance

#743 Allow nightly builds to fail.
  .travis.yml
Labels: finish-line
