Repository tokio-rs/tokio, pull requests merged in 2019-11, with the labels that each got.

#1663 compat: add a compat runtime
  Cargo.toml
  tokio-compat/Cargo.toml
  tokio-compat/README.md
  tokio-compat/src/lib.rs
  tokio-compat/src/prelude.rs
  tokio-compat/src/runtime/compat.rs
  tokio-compat/src/runtime/current_thread/builder.rs
  tokio-compat/src/runtime/current_thread/mod.rs
  tokio-compat/src/runtime/current_thread/runtime.rs
  tokio-compat/src/runtime/current_thread/task_executor.rs
  tokio-compat/src/runtime/current_thread/tests.rs
  tokio-compat/src/runtime/mod.rs
  tokio-compat/src/runtime/threadpool/background.rs
  tokio-compat/src/runtime/threadpool/builder.rs
  tokio-compat/src/runtime/threadpool/idle.rs
  tokio-compat/src/runtime/threadpool/mod.rs
  tokio-compat/src/runtime/threadpool/task_executor.rs
  tokio-compat/src/runtime/threadpool/tests.rs
  tokio/src/net/driver/reactor/reactor/sharded_slab/page/slot.rs
Labels: enhancement

#1801 improve `tokio::task` API documentation
  tokio/src/task/join.rs
  tokio/src/task/mod.rs
Labels: docs

#1803 docs: refresh `tokio::io` API docs
  tokio/src/io/mod.rs
Labels: docs

#1804 docs: update and expand the `tokio::runtime` API docs
  tokio/src/runtime/mod.rs
  tokio/src/task/mod.rs
Labels: docs

#1806 docs: expand and update crate-level docs
  tokio/src/lib.rs
Labels: docs

#1764 v0.1.x: tokio: bump minimum versions
  tokio/Cargo.toml
Labels: v0.1.x

#1733 add `task::LocalSet` API for running `!Send` futures
  tokio/Cargo.toml
  tokio/src/macros/cfg.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/thread_pool/shared.rs
  tokio/src/sync/mod.rs
  tokio/src/task/local.rs
  tokio/src/task/mod.rs
  tokio/src/task/raw.rs
  tokio/src/tests/loom_schedule.rs
  tokio/src/tests/mock_schedule.rs
  tokio/tests/rt_common.rs
Labels: enhancement

#1809 v0.1.x: Expose CurrentThread runtime's executor handle
  tokio/src/runtime/current_thread/runtime.rs
Labels: v0.1.x

#1751 v0.1.x: prepare to release new reactor, executor, and timer
  tokio-executor/CHANGELOG.md
  tokio-executor/Cargo.toml
  tokio-executor/README.md
  tokio-executor/src/global.rs
  tokio-executor/src/lib.rs
  tokio-reactor/CHANGELOG.md
  tokio-reactor/Cargo.toml
  tokio-reactor/README.md
  tokio-reactor/src/lib.rs
  tokio-timer/CHANGELOG.md
  tokio-timer/Cargo.toml
  tokio-timer/README.md
  tokio-timer/src/clock/clock.rs
  tokio-timer/src/lib.rs
  tokio-timer/src/timer/handle.rs
Labels: v0.1.x

#1843 task: fix panic when dropping `LocalSet`
  tokio/src/task/local.rs
Labels: bug
