Repository tokio-rs/tokio, pull requests merged in 2019-07, with the labels that each got.

#1171 add release documentation to CONTRIBUTING.md
  CONTRIBUTING.md
  bin/publish
Labels: docs, maintenance, meta

#1331 signal: replace `windows::Event` with `windows::CtrlBreak`
  tokio-signal/CHANGELOG.md
  tokio-signal/src/ctrl_c.rs
  tokio-signal/src/lib.rs
  tokio-signal/src/windows.rs
Labels: tokio-signal

#1330 signal: change unix::Signal to return () instead of signum
  tokio-signal/CHANGELOG.md
  tokio-signal/examples/multiple.rs
  tokio-signal/examples/sighup-example.rs
  tokio-signal/src/unix.rs
  tokio-signal/tests/twice.rs
Labels: tokio-signal

#1320 process: pull in tokio-process code and history
  tokio-process/CHANGELOG.md
  tokio-process/Cargo.toml
  tokio-process/LICENSE
  tokio-process/README.md
  tokio-process/src/bin/cat.rs
  tokio-process/src/bin/exit.rs
  tokio-process/src/kill.rs
  tokio-process/src/lib.rs
  tokio-process/src/unix/mod.rs
  tokio-process/src/unix/orphan.rs
  tokio-process/src/unix/reap.rs
  tokio-process/src/windows.rs
  tokio-process/tests/issue_42.rs
  tokio-process/tests/smoke.rs
  tokio-process/tests/stdio.rs
  tokio-process/tests/support/mod.rs
Labels: tokio-process
