Repository tokio-rs/tokio, pull requests merged in 2019-03, with the labels that each got.

#923 trace: Allow specifying a new span's parent
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/counters.rs
  tokio-trace/examples/sloggish/sloggish_subscriber.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/span.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/support/mod.rs
  tokio-trace/tests/support/span.rs
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
  tokio-trace/tokio-trace-core/src/span.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: enhancement, tokio-trace

#953 trace-core: Add `'static` bound to `Subscriber`
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: tokio-trace

#955 trace: Add arguments struct to `subscriber::Record`
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/counters.rs
  tokio-trace/examples/sloggish/sloggish_subscriber.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/span.rs
  tokio-trace/tests/support/field.rs
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/span.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: tokio-trace

#961 trace-core: Debreak RustDoc links
  tokio-trace/tokio-trace-core/src/callsite.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
  tokio-trace/tokio-trace-core/src/span.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: docs, tokio-trace

#962 trace-core: API polish
  tokio-trace/examples/counters.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/span.rs
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/field.rs
Labels: enhancement, tokio-trace

#963 trace: Minor documentation improvements
  tokio-trace/src/lib.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: docs, tokio-trace

#969 trace: Switch to using `local_inner_macros` for instrumentation API
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/tokio-trace-core/src/lib.rs
Labels: enhancement, tokio-trace

#971 trace-core: Pass dispatcher by ref to `dispatcher::with_default`
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/sloggish/main.rs
  tokio-trace/src/span.rs
  tokio-trace/src/subscriber.rs
  tokio-trace/tests/dispatcher.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/subscriber.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
Labels: tokio-trace

#973 trace-core: Require span IDs to be > 0
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/src/span.rs
Labels: enhancement, tokio-trace

#975 trace-core: Fix `NoSubscriber` causing panics
  tokio-trace/tokio-trace-core/src/dispatcher.rs
Labels: bug, tokio-trace

#966 tokio: Enable trace subscriber propagation in the runtime
  Cargo.toml
  src/lib.rs
  src/runtime/threadpool/builder.rs
Labels: enhancement, tokio-trace

#979 Prepare `tokio-trace-core` for initial release.
  tokio-trace/tokio-trace-core/CHANGELOG.md
  tokio-trace/tokio-trace-core/Cargo.toml
  tokio-trace/tokio-trace-core/README.md
  tokio-trace/tokio-trace-core/src/lib.rs
Labels: tokio-trace

#988 trace: Span API polish
  tokio-trace/benches/subscriber.rs
  tokio-trace/src/span.rs
  tokio-trace/tests/span.rs
Labels: tokio-trace

#998 chore: Fix examples not working with `cargo run`
  README.md
  tokio/examples/README.md
  tokio/examples/chat-combinator-current-thread.rs
  tokio/examples/chat-combinator.rs
  tokio/examples/chat.rs
  tokio/examples/connect.rs
  tokio/examples/echo-udp.rs
  tokio/examples/echo.rs
  tokio/examples/hello_world.rs
  tokio/examples/manual-runtime.rs
  tokio/examples/print_each_packet.rs
  tokio/examples/proxy.rs
  tokio/examples/tinydb.rs
  tokio/examples/tinyhttp.rs
  tokio/examples/udp-client.rs
  tokio/examples/udp-codec.rs
Labels: bug, maintenance

#974 trace-core: Add overrideable downcasting to `Subscriber`s
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: enhancement, tokio-trace

#987 Trace static level filtering
  .cirrus.yml
  azure-pipelines.yml
  tokio-trace/Cargo.toml
  tokio-trace/src/level_filters.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/test_static_max_level_features/Cargo.toml
  tokio-trace/test_static_max_level_features/tests/test.rs
Labels: enhancement, finish-line, tokio-trace

#992 trace: Allow trace instrumentation to emit log records
  .cirrus.yml
  azure-pipelines.yml
  tokio-trace/Cargo.toml
  tokio-trace/examples/sloggish/sloggish_subscriber.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/src/span.rs
  tokio-trace/test-log-support/Cargo.toml
  tokio-trace/test-log-support/tests/log_no_trace.rs
  tokio-trace/tests/event.rs
  tokio-trace/tests/span.rs
  tokio-trace/tokio-trace-core/src/field.rs
Labels: enhancement, tokio-trace

#1014 trace-core: Add slightly more useful debug impls
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
Labels: enhancement, tokio-trace
