Repository tokio-rs/tokio, pull requests merged in 2019-06, with the labels that each got.

#1103 trace: Add shorthand syntax for local fields
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/test-log-support/tests/log_no_trace.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tests/span.rs
Labels: enhancement, tokio-trace

#1145 trace: Remove the `AsId` trait
  tokio-trace/src/span.rs
  tokio-trace/tokio-trace-core/src/span.rs
Labels: tokio-trace

#1167 trace: fix level_span macros not propagating parents
  tokio-trace/src/macros.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/support/subscriber.rs
Labels: bug, tokio-trace

#1152 trace: Add program-wide default dispatcher
  tokio-trace/Cargo.toml
  tokio-trace/README.md
  tokio-trace/src/lib.rs
  tokio-trace/src/subscriber.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
Labels: enhancement, tokio-trace

#1148 trace: Improve documentation
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/src/span.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
Labels: docs, tokio-trace

#1174 signal: factor out event delivery into its own module to share between Unix and Windows
  tokio-signal/Cargo.toml
  tokio-signal/src/lib.rs
  tokio-signal/src/registry.rs
  tokio-signal/src/unix.rs
  tokio-signal/src/windows.rs
Labels: tokio-signal

#1109 trace: Allow setting event parents explicitly
  tokio-trace/Cargo.toml
  tokio-trace/src/macros.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/parent.rs
  tokio-trace/tokio-trace-core/src/span.rs
Labels: tokio-trace

#1221 chore: remove `tokio-trace`, add "Related Projects" to README
  Cargo.toml
  README.md
  azure-pipelines.yml
  ci/patch.toml
  tokio-trace/CHANGELOG.md
  tokio-trace/Cargo.toml
  tokio-trace/LICENSE
  tokio-trace/README.md
  tokio-trace/benches/no_subscriber.rs
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/counters.rs
  tokio-trace/examples/sloggish/main.rs
  tokio-trace/examples/sloggish/sloggish_subscriber.rs
  tokio-trace/src/field.rs
  tokio-trace/src/level_filters.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/src/span.rs
  tokio-trace/src/subscriber.rs
  tokio-trace/test-log-support/Cargo.toml
  tokio-trace/test-log-support/tests/log_no_trace.rs
  tokio-trace/test_static_max_level_features/Cargo.toml
  tokio-trace/test_static_max_level_features/tests/test.rs
  tokio-trace/tests/event.rs
  tokio-trace/tests/filter_caching_is_lexically_scoped.rs
  tokio-trace/tests/filters_are_not_reevaluated_for_the_same_span.rs
  tokio-trace/tests/filters_are_reevaluated_for_different_call_sites.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/subscriber.rs
  tokio-trace/tests/support/event.rs
  tokio-trace/tests/support/field.rs
  tokio-trace/tests/support/metadata.rs
  tokio-trace/tests/support/mod.rs
  tokio-trace/tests/support/span.rs
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/CHANGELOG.md
  tokio-trace/tokio-trace-core/Cargo.toml
  tokio-trace/tokio-trace-core/LICENSE
  tokio-trace/tokio-trace-core/README.md
  tokio-trace/tokio-trace-core/src/callsite.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
  tokio-trace/tokio-trace-core/src/parent.rs
  tokio-trace/tokio-trace-core/src/span.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
  tokio-trace/tokio-trace-core/tests/macros.rs
  tokio/Cargo.toml
  tokio/src/runtime/threadpool/builder.rs
Labels: maintenance, meta
