Repository tokio-rs/tokio, pull requests merged in 2019-08, with the labels that each got.

#1457 signal: rename SignalKind methods
  tokio-process/src/unix/mod.rs
  tokio-signal/examples/multiple.rs
  tokio-signal/examples/sighup-example.rs
  tokio-signal/src/lib.rs
  tokio-signal/src/unix.rs
  tokio-signal/tests/drop_multi_loop.rs
  tokio-signal/tests/drop_then_get_a_signal.rs
  tokio-signal/tests/dropping_does_not_deregister_other_instances.rs
  tokio-signal/tests/multi_loop.rs
  tokio-signal/tests/notify_both.rs
  tokio-signal/tests/simple.rs
  tokio-signal/tests/twice.rs
Labels: tokio-signal

#1472 signal: remove `new()` constructors in favor of free functions
  tokio-net/src/signal/ctrl_c.rs
  tokio-net/src/signal/mod.rs
  tokio-net/src/signal/unix.rs
  tokio-net/src/signal/windows.rs
  tokio-net/tests/signal_drop_multi_loop.rs
  tokio-net/tests/signal_drop_then_get_a_signal.rs
  tokio-net/tests/signal_dropping_does_not_deregister_other_instances.rs
  tokio-net/tests/signal_multi_loop.rs
  tokio-net/tests/signal_notify_both.rs
  tokio-net/tests/signal_simple.rs
  tokio-net/tests/signal_support/mod.rs
  tokio-net/tests/signal_twice.rs
  tokio-process/src/lib.rs
  tokio-process/src/unix/mod.rs
  tokio-process/src/windows.rs
Labels: tokio-process, tokio-signal

#1454 executor: switch from `log` to `tracing`
  tokio-executor/Cargo.toml
  tokio-executor/src/lib.rs
  tokio-executor/src/threadpool/builder.rs
  tokio-executor/src/threadpool/park/boxed.rs
  tokio-executor/src/threadpool/pool/mod.rs
  tokio-executor/src/threadpool/sender.rs
  tokio-executor/src/threadpool/task/mod.rs
  tokio-executor/src/threadpool/worker/mod.rs
  tokio-executor/src/tracing.rs
  tokio/Cargo.toml
Labels: enhancement, tokio-executor

#1444 v0.1.x: Fix `UdpFramed` with regards to `Decode`
  tokio-udp/src/frame.rs
  tokio-udp/tests/udp.rs
Labels: v0.1.x
