Repository tokio-rs/tokio, pull requests merged in 2019-04, with the labels that each got.

#1021 trace: Make Span API functions taking IDs a little more flexible
  tokio-trace/src/span.rs
Labels: enhancement, tokio-trace

#1001 signal: refactor Windows registrations to be lazy
  tokio-signal/CHANGELOG.md
  tokio-signal/Cargo.toml
  tokio-signal/examples/ctrl-c.rs
  tokio-signal/src/windows.rs
Labels: tokio-signal

#1028 trace: Fix subscriber benchmarks panicking
  tokio-trace/benches/subscriber.rs
Labels: bug, tokio-trace

#1027 trace: Allow field names to be separated by `.`s
  tokio-trace/src/macros.rs
  tokio-trace/tests/event.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tests/span.rs
Labels: enhancement, tokio-trace

#1029 trace: Change `Span::enter` and `record` to take `&self`
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/sloggish/main.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/macros.rs
  tokio-trace/src/span.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/subscriber.rs
Labels: enhancement, tokio-trace

#1037 trace: fix counters example, Span IDs must be greater than zero.
  tokio-trace/examples/counters.rs
Labels: bug, tokio-trace

#1039 trace-core: add a function to rebuild cached interest
  tokio-trace/Cargo.toml
  tokio-trace/src/macros.rs
  tokio-trace/tests/filter_caching_is_lexically_scoped.rs
  tokio-trace/tests/filters_are_not_reevaluated_for_the_same_span.rs
  tokio-trace/tests/filters_are_reevaluated_for_different_call_sites.rs
  tokio-trace/tests/subscriber.rs
  tokio-trace/tokio-trace-core/Cargo.toml
  tokio-trace/tokio-trace-core/src/callsite.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: enhancement, tokio-trace

#1046 trace-core: Introduce callsite classification in metadata
  tokio-trace/src/macros.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tests/support/event.rs
  tokio-trace/tests/support/field.rs
  tokio-trace/tests/support/span.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
  tokio-trace/tokio-trace-core/tests/macros.rs
Labels: enhancement, tokio-trace

#1033 trace-core: Dispatchers unset themselves
  tokio-trace/tests/subscriber.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
Labels: bug, tokio-trace

#1047 trace-core: prepare for 0.2 release
  tokio-trace/tokio-trace-core/CHANGELOG.md
  tokio-trace/tokio-trace-core/Cargo.toml
  tokio-trace/tokio-trace-core/README.md
  tokio-trace/tokio-trace-core/src/lib.rs
Labels: maintenance, tokio-trace

#1051 trace: prepare tokio-trace for release
  tokio-trace/CHANGELOG.md
  tokio-trace/Cargo.toml
  tokio-trace/README.md
  tokio-trace/src/field.rs
  tokio-trace/src/level_filters.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/span.rs
  tokio-trace/src/subscriber.rs
Labels: maintenance, tokio-trace
