Repository tokio-rs/tokio, pull requests merged in 2019-02, with the labels that each got.

#880 trace: Improve support for batching field values
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/counters.rs
  tokio-trace/examples/sloggish/sloggish_subscriber.rs
  tokio-trace/src/field.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/span.rs
  tokio-trace/tests/event.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/support/event.rs
  tokio-trace/tests/support/field.rs
  tokio-trace/tests/support/metadata.rs
  tokio-trace/tests/support/mod.rs
  tokio-trace/tests/support/span.rs
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/src/callsite.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: tokio-trace

#827 Introduce `tokio-trace`
  Cargo.toml
  tokio-trace/Cargo.toml
  tokio-trace/LICENSE
  tokio-trace/README.md
  tokio-trace/benches/no_subscriber.rs
  tokio-trace/benches/subscriber.rs
  tokio-trace/examples/counters.rs
  tokio-trace/examples/sloggish/main.rs
  tokio-trace/examples/sloggish/sloggish_subscriber.rs
  tokio-trace/src/field.rs
  tokio-trace/src/lib.rs
  tokio-trace/src/span.rs
  tokio-trace/src/subscriber.rs
  tokio-trace/tests/dispatcher.rs
  tokio-trace/tests/event.rs
  tokio-trace/tests/macros.rs
  tokio-trace/tests/span.rs
  tokio-trace/tests/subscriber.rs
  tokio-trace/tests/support/event.rs
  tokio-trace/tests/support/field.rs
  tokio-trace/tests/support/metadata.rs
  tokio-trace/tests/support/mod.rs
  tokio-trace/tests/support/span.rs
  tokio-trace/tests/support/subscriber.rs
  tokio-trace/tokio-trace-core/Cargo.toml
  tokio-trace/tokio-trace-core/LICENSE
  tokio-trace/tokio-trace-core/README.md
  tokio-trace/tokio-trace-core/src/callsite.rs
  tokio-trace/tokio-trace-core/src/dispatcher.rs
  tokio-trace/tokio-trace-core/src/event.rs
  tokio-trace/tokio-trace-core/src/field.rs
  tokio-trace/tokio-trace-core/src/lib.rs
  tokio-trace/tokio-trace-core/src/metadata.rs
  tokio-trace/tokio-trace-core/src/span.rs
  tokio-trace/tokio-trace-core/src/subscriber.rs
Labels: tokio-trace

#910 trace: Allow `Span` IDs to be converted back to `u64`s
  tokio-trace/tokio-trace-core/src/span.rs
Labels: enhancement, tokio-trace

#913 trace: Minor doc improvements
  tokio-trace/README.md
  tokio-trace/src/lib.rs
  tokio-trace/tokio-trace-core/README.md
  tokio-trace/tokio-trace-core/src/lib.rs
Labels: docs, tokio-trace
