Repository tokio-rs/tokio, pull requests merged in 2020-09, with the labels that each got.

#2752 stream: move throttle.rs
  tokio/src/stream/mod.rs
  tokio/src/stream/throttle.rs
  tokio/src/time/mod.rs
  tokio/tests/time_throttle.rs
Labels: A-tokio, C-maintenance, M-stream, M-time

#2805 Apply alternate `LinkedList` suggested solution.
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/notify.rs
  tokio/src/task/local.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, C-maintenance, M-sync

#2817 io: add `ReadBuf::take`
  tokio/src/io/read_buf.rs
  tokio/src/io/util/take.rs
Labels: A-tokio, C-enhancement, M-io

#2820 Improve runtime customization docs
  tokio-macros/src/lib.rs
  tokio/src/lib.rs
  tokio/src/runtime/mod.rs
Labels: A-tokio, C-maintenance, M-runtime, T-docs

#2810 fs: remove `File::seek`
  tokio/src/fs/file.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio, C-enhancement, M-fs

#2801 tokio: document missing timer panics
  tokio/src/time/driver/handle.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2819 Mention on JoinHandle that the generic parameter is the return type
  tokio/src/runtime/task/join.rs
Labels: A-tokio, C-maintenance, M-task, T-docs

#2796 process: remove Future impl on Child
  tests-integration/tests/process_stdio.rs
  tokio/Cargo.toml
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/unix/reap.rs
  tokio/src/process/windows.rs
  tokio/tests/process_issue_2174.rs
  tokio/tests/process_issue_42.rs
  tokio/tests/process_smoke.rs
Labels: A-tokio, C-enhancement, M-process

#2822 sync: rename `Notify::notify()` -> `notify_one()`
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/loom_notify.rs
  tokio/tests/sync_notify.rs
Labels: A-tokio, C-enhancement, M-sync

#2809 runtime: add custom keep_alive functionality
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
Labels: A-tokio, C-enhancement, M-runtime

#2823 process: make `Child::kill` async
  tokio/src/process/mod.rs
  tokio/tests/process_issue_2174.rs
Labels: A-tokio, C-enhancement, M-process

#2788 Move StreamReader and ReaderStream into tokio_util
  tokio-util/Cargo.toml
  tokio-util/src/cfg.rs
  tokio-util/src/io/mod.rs
  tokio-util/src/io/reader_stream.rs
  tokio-util/src/io/stream_reader.rs
  tokio-util/src/lib.rs
  tokio-util/tests/io_reader_stream.rs
  tokio-util/tests/io_stream_reader.rs
  tokio-util/tests/sync_cancellation_token.rs
  tokio-util/tests/udp.rs
  tokio/src/io/mod.rs
  tokio/src/io/util/mod.rs
Labels: A-tokio, A-tokio-util, C-maintenance, M-io

#2821 Implement either type
  tokio-util/src/either.rs
  tokio-util/src/lib.rs
Labels: A-tokio-util, C-enhancement

#2825 sync: remove rt-core from blocking_{send,recv}
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, C-enhancement, M-sync

#2474 WIP: implement cancellation and raw handles
  tokio/src/runtime/task/join.rs
Labels: A-tokio, C-enhancement, M-task, S-waiting-on-review

#2786 Docs: Module level docs for tokio::stream
  tokio/src/stream/mod.rs
Labels: A-tokio, C-maintenance, M-stream

#2808 docs: mpsc::bounded minimum buffer size
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/mod.rs
  tokio/src/sync/mpsc/unbounded.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2733 Write guard to read guard downgrading for sync::RwLock
  tokio/src/sync/rwlock.rs
Labels: A-tokio, C-enhancement, M-sync

#2814 sync: tweak `watch` API
  tokio/src/sync/barrier.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/loom_watch.rs
  tokio/src/sync/tests/mod.rs
  tokio/src/sync/watch.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, C-enhancement, M-sync

#2790 Add a const-constructors for sync primitives
  tokio/src/loom/std/atomic_usize.rs
  tokio/src/loom/std/parking_lot.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mutex.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, C-enhancement, M-sync

#2834 Fix some links
  tokio-util/src/lib.rs
  tokio/src/io/util/async_read_ext.rs
  tokio/src/net/udp/socket.rs
  tokio/src/sync/mod.rs
Labels: A-tokio, A-tokio-util, C-maintenance, M-io, M-net, M-sync, T-docs

#2838 doc: fix some typos
  tokio/src/sync/broadcast.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/semaphore.rs
  tokio/src/sync/semaphore_ll.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2848 time: remove outdated todo comment
  tokio/src/time/interval.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2847 util: remove Slice wrapper
  tokio-util/tests/framed_read.rs
Labels: A-tokio-util, C-maintenance

#2846 io: fix doc-cfg on AsyncSeekExt
  tokio/src/io/seek.rs
  tokio/src/io/util/async_seek_ext.rs
Labels: A-tokio, M-io, T-docs

#2852 ci: update nightly and fix all sorts of new failures
  .github/workflows/ci.yml
  tokio-macros/src/lib.rs
  tokio-test/src/lib.rs
  tokio-util/src/lib.rs
  tokio/src/io/util/async_read_ext.rs
  tokio/src/lib.rs
  tokio/src/net/udp/socket.rs
  tokio/src/sync/mod.rs
  tokio/src/time/delay_queue.rs
Labels: A-ci, C-maintenance

#2851 ci: update miri flags
  .github/workflows/ci.yml
Labels: A-ci, C-maintenance

#2854 sync: fix missing notification during mpsc close
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/semaphore_ll.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, C-maintenance, M-sync

#2839 sync: Remove readiness assertion in `watch::Receiver::changed()
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/loom_watch.rs
Labels: A-tokio, C-enhancement, M-sync

#2859 ci: deny warnings on '--cfg tokio_unstable' tests
  .github/workflows/ci.yml
  tokio/src/runtime/builder.rs
  tokio/src/runtime/tests/loom_pool.rs
  tokio/src/util/bit.rs
Labels: A-ci, C-maintenance

#2860 chore: remove unused future/pending.rs
  tokio/src/future/pending.rs
Labels: A-tokio, C-maintenance

#2858 macros: add #[allow(unused_mut)] to select!
  tokio/src/macros/select.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, C-maintenance, M-macros

#2835 Signal refactor
  benches/Cargo.toml
  benches/signal.rs
  tokio/src/io/registration.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/io.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/park.rs
  tokio/src/runtime/shell.rs
  tokio/src/runtime/time.rs
  tokio/src/signal/unix.rs
  tokio/src/signal/unix/driver.rs
Labels: A-tokio, C-enhancement, M-runtime, M-signal

#2734 Fix stdout and stderr buffering on windows
  tokio/src/io/mod.rs
  tokio/src/io/stderr.rs
  tokio/src/io/stdio_common.rs
  tokio/src/io/stdout.rs
Labels: A-tokio, C-enhancement, M-io

#2864 io: move #[cfg(not(loom))] to fix warning
  tokio/src/io/stdio_common.rs
Labels: A-tokio, C-maintenance, M-io

#2845 Change `UnixListener::poll_accept` to public
  tokio/src/net/tcp/listener.rs
  tokio/src/net/unix/listener.rs
Labels: A-tokio, C-feature-request, M-net

#2856 Add `get_mut()` for `Mutex` & `RwLock`
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
Labels: A-tokio, C-feature-request, M-sync

#2804 rt: Allow concurrent `block_on`'s with basic_scheduler
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/notify.rs
  tokio/src/util/mod.rs
  tokio/tests/rt_common.rs
Labels: A-tokio, C-enhancement, M-runtime

#2828 Refactor IO registration using intrusive linked list
  .github/workflows/ci.yml
  examples/connect.rs
  examples/echo-udp.rs
  examples/udp-client.rs
  examples/udp-codec.rs
  tokio-util/Cargo.toml
  tokio-util/src/cfg.rs
  tokio-util/src/lib.rs
  tokio-util/tests/udp.rs
  tokio/Cargo.toml
  tokio/src/io/driver/mod.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/mod.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/registration.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/mod.rs
  tokio/src/net/udp/socket.rs
  tokio/src/net/udp/split.rs
  tokio/src/net/unix/datagram/mod.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/datagram/split.rs
  tokio/src/net/unix/datagram/split_owned.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/signal/unix/driver.rs
  tokio/src/sync/task/atomic_waker.rs
  tokio/src/util/bit.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/mod.rs
  tokio/src/util/slab.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/rt_common.rs
  tokio/tests/udp.rs
  tokio/tests/uds_datagram.rs
Labels: A-tokio, M-io, M-net

#2874 docs: use #[doc(no_inline)] on re-exports
  tokio/src/io/mod.rs
  tokio/src/stream/mod.rs
  tokio/src/time/mod.rs
Labels: A-tokio, M-io, T-docs

#2868 rt: Allow concurrent `Shell:block_on` calls
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/shell.rs
  tokio/src/sync/mod.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-runtime

#2871 process: do not publicly turn on `signal` when enabled
  tokio/Cargo.toml
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/driver.rs
  tokio/src/signal/windows.rs
  tokio/src/sync/mod.rs
Labels: A-tokio, C-maintenance, M-process, M-signal

#2878 chore: remove internal io-readiness cargo feature
  .github/workflows/ci.yml
  tokio/Cargo.toml
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/macros/cfg.rs
Labels: A-tokio, C-maintenance

#2881 chore: remove internal io-driver cargo feature
  .github/workflows/ci.yml
  tokio/Cargo.toml
  tokio/src/loom/std/mod.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/builder.rs
Labels: A-tokio, C-maintenance, M-io

#2861 sync: support mpsc send with `&self`
  tokio-test/src/io.rs
  tokio/src/signal/unix.rs
  tokio/src/stream/mod.rs
  tokio/src/stream/stream_map.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/error.rs
  tokio/src/sync/mpsc/mod.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/semaphore_ll.rs
  tokio/src/sync/tests/loom_mpsc.rs
  tokio/src/sync/tests/loom_semaphore_ll.rs
  tokio/src/sync/tests/mod.rs
  tokio/src/sync/tests/semaphore_ll.rs
  tokio/src/util/linked_list.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, C-enhancement, M-sync

#2872 chore: handle std `Mutex` poisoning in a shim
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/util/mem.rs
  tokio/src/loom/mocked.rs
  tokio/src/loom/std/mod.rs
  tokio/src/loom/std/mutex.rs
  tokio/src/loom/std/parking_lot.rs
  tokio/src/park/thread.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/park.rs
  tokio/src/runtime/queue.rs
  tokio/src/runtime/thread_pool/idle.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/notify.rs
  tokio/src/util/slab.rs
Labels: A-tokio, C-maintenance, M-sync

#2840 sync: add `mpsc::Sender::closed` future
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/tests/loom_mpsc.rs
Labels: A-tokio, C-enhancement, M-sync

#2889 Fix unused_mut lint in benches
  benches/mpsc.rs
  benches/signal.rs
Labels: A-tokio, C-maintenance

#2726 sync: Add `is_closed` method to mpsc senders
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
Labels: A-tokio, C-enhancement, M-sync

#2892 Seal ToSocketAddrs methods with an internal argument
  tokio/src/net/addr.rs
  tokio/src/net/lookup_host.rs
  tokio/src/net/mod.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/socket.rs
Labels: A-tokio, C-maintenance, M-net

#2890 Add iter and iter_mut methods to StreamMap
  tokio/src/stream/stream_map.rs
Labels: A-tokio, C-enhancement, M-stream

#2895 test: fix spelling error in documentation
  tokio-test/src/task.rs
Labels: A-tokio-test, T-docs

#2894 Seal FromStream methods with an internal argument
  tokio/src/stream/collect.rs
Labels: A-tokio, C-maintenance, M-stream
