Repository tokio-rs/tokio, pull requests merged in 2020-10, with the labels that each got.

#2826 time: introduce `sleep` and `sleep_until` functions
  tokio-test/src/io.rs
  tokio-test/tests/block_on.rs
  tokio-util/src/context.rs
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/tests/context.rs
  tokio/src/lib.rs
  tokio/src/macros/select.rs
  tokio/src/runtime/task/join.rs
  tokio/src/stream/mod.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/task/local.rs
  tokio/src/time/delay.rs
  tokio/src/time/delay_queue.rs
  tokio/src/time/driver/handle.rs
  tokio/src/time/instant.rs
  tokio/src/time/interval.rs
  tokio/src/time/mod.rs
  tokio/src/time/tests/mod.rs
  tokio/src/time/timeout.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/macros_select.rs
  tokio/tests/process_issue_2174.rs
  tokio/tests/process_kill_on_drop.rs
  tokio/tests/rt_common.rs
  tokio/tests/stream_timeout.rs
  tokio/tests/task_local.rs
  tokio/tests/task_local_set.rs
  tokio/tests/time_delay.rs
  tokio/tests/time_delay_queue.rs
  tokio/tests/time_rt.rs
Labels: A-tokio, C-enhancement, M-time

#2899 Fix new clippy warning
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/oneshot.rs
Labels: A-ci, A-tokio, C-maintenance, M-sync

#2900 Remove deprecated JoinError constructors
  tokio/src/runtime/task/error.rs
  tokio/src/runtime/task/harness.rs
Labels: A-tokio, C-maintenance, M-task

#2901 Make #[doc(hidden)] apis private
  tokio/src/fs/read_dir.rs
  tokio/src/io/util/lines.rs
  tokio/src/io/util/split.rs
  tokio/src/macros/scoped_tls.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/tests/loom_oneshot.rs
  tokio/src/time/interval.rs
  tokio/tests/sync_oneshot.rs
  tokio/tests/time_interval.rs
Labels: A-tokio, C-maintenance

#2909 fs: seal OpenOptionsExt and DirBuilderExt
  tokio/src/fs/os/unix/dir_builder_ext.rs
  tokio/src/fs/os/unix/open_options_ext.rs
Labels: A-tokio, C-maintenance, M-fs

#2888 Optimize writing large buffers to windows stdio
  tokio/src/io/stdio_common.rs
Labels: A-tokio, C-enhancement, M-io, T-performance

#2898 Broadcast channel breaking changes
  tokio/src/sync/broadcast.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, C-maintenance, M-sync

#2911 net: implement AsRawSocket on Windows
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/socket.rs
Labels: A-tokio, C-enhancement, M-net

#2910 Make futures returned by extension traits !Unpin
  tokio/src/io/seek.rs
  tokio/src/io/util/async_seek_ext.rs
  tokio/src/io/util/flush.rs
  tokio/src/io/util/read.rs
  tokio/src/io/util/read_exact.rs
  tokio/src/io/util/read_int.rs
  tokio/src/io/util/read_line.rs
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/read_to_string.rs
  tokio/src/io/util/read_until.rs
  tokio/src/io/util/shutdown.rs
  tokio/src/io/util/write.rs
  tokio/src/io/util/write_all.rs
  tokio/src/io/util/write_int.rs
  tokio/src/stream/all.rs
  tokio/src/stream/any.rs
  tokio/src/stream/collect.rs
  tokio/src/stream/fold.rs
  tokio/src/stream/mod.rs
  tokio/src/stream/next.rs
  tokio/src/stream/try_next.rs
Labels: A-tokio, M-io, M-stream

#2908 stream: remove bytes from public API
  tokio/src/stream/collect.rs
  tokio/tests/stream_collect.rs
Labels: A-tokio, C-maintenance, M-stream

#2913 io, stream: assert !Unpin for ext trait futures
  tokio/src/io/util/async_buf_read_ext.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio, C-maintenance, M-io, M-stream

#2897 time: Move DelayQueue to tokio-util
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
  tokio-util/src/time/delay_queue.rs
  tokio-util/src/time/mod.rs
  tokio-util/src/time/wheel/level.rs
  tokio-util/src/time/wheel/mod.rs
  tokio-util/src/time/wheel/stack.rs
  tokio-util/tests/time_delay_queue.rs
  tokio/Cargo.toml
  tokio/src/time/mod.rs
Labels: A-tokio, A-tokio-util, C-maintenance, M-time

#2907 process: add ProcessDriver to handle orphan reaping
  tokio/src/macros/cfg.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/driver.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/process/unix/reap.rs
  tokio/src/runtime/driver.rs
  tokio/src/signal/unix.rs
  tokio/src/signal/unix/driver.rs
Labels: A-tokio, C-enhancement, M-process

#2905 Timer refactoring
  tokio-util/src/time/delay_queue.rs
  tokio-util/src/time/wheel/mod.rs
  tokio/src/time/delay.rs
  tokio/src/time/driver/entry.rs
  tokio/src/time/driver/mod.rs
  tokio/src/time/driver/registration.rs
  tokio/src/time/driver/stack.rs
  tokio/src/time/tests/mod.rs
  tokio/src/time/wheel/level.rs
  tokio/src/time/wheel/mod.rs
  tokio/src/time/wheel/stack.rs
Labels: A-tokio, C-enhancement, M-time

#2883 docs: More docs for UdpSocket
  tokio/src/net/udp/socket.rs
Labels: A-tokio, C-maintenance, M-net, T-docs

#2921 fs: switch to our own DirEntryExt trait
  tokio/src/fs/open_options.rs
  tokio/src/fs/os/unix/dir_entry_ext.rs
  tokio/src/fs/os/unix/mod.rs
  tokio/src/fs/os/unix/open_options_ext.rs
  tokio/src/fs/read_dir.rs
Labels: A-tokio, C-maintenance, M-fs

#2920 net: add `TcpSocket` for configuring a socket
  tokio/Cargo.toml
  tokio/src/net/mod.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/mod.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
  tokio/tests/tcp_socket.rs
Labels: A-tokio, M-net

#2922 util: fix a typo in sync/cancellation_token.rs
  tokio-util/src/sync/cancellation_token.rs
Labels: A-tokio-util

#2885 io: remove `Poll` from the `AsyncSeek::start_seek` return value
  tokio-util/src/either.rs
  tokio/src/fs/file.rs
  tokio/src/io/async_seek.rs
  tokio/src/io/seek.rs
Labels: A-tokio, C-enhancement, M-io

#2923 fs: add os::windows::OpenOptionsExt
  tokio/src/fs/open_options.rs
  tokio/src/fs/os/windows/mod.rs
  tokio/src/fs/os/windows/open_options_ext.rs
Labels: A-tokio, C-enhancement, M-fs

#2919 net: use &self with TcpListener::accept
  examples/chat.rs
  examples/echo.rs
  examples/print_each_packet.rs
  examples/proxy.rs
  examples/tinydb.rs
  examples/tinyhttp.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/registration.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/net/tcp/incoming.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/mod.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/runtime/mod.rs
  tokio/src/task/spawn.rs
  tokio/tests/buffered.rs
  tokio/tests/io_driver.rs
  tokio/tests/io_driver_drop.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/tcp_accept.rs
  tokio/tests/tcp_connect.rs
  tokio/tests/tcp_echo.rs
  tokio/tests/tcp_into_split.rs
  tokio/tests/tcp_shutdown.rs
  tokio/tests/tcp_socket.rs
Labels: A-tokio, M-net

#2934 net: switch socket methods to &self
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/incoming.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/mod.rs
  tokio/tests/uds_datagram.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#2930 fs: future proof `File`
  tokio/src/fs/file.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/mutex.rs
  tokio/src/util/linked_list.rs
  tokio/tests/fs_file_mocked.rs
Labels: A-tokio, M-fs

#2937 sync: move broadcast error types into broadcast::error module
  tokio/src/sync/broadcast.rs
  tokio/src/sync/tests/loom_broadcast.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, M-sync

#2936 net: make UCred fields private
  tokio/src/net/unix/ucred.rs
  tokio/tests/uds_cred.rs
Labels: A-tokio, M-net

#2944 chore: remove use of doc_alias feature
  tokio/src/lib.rs
Labels: A-tokio

#2939 sync: change chan `closed(&mut self)` to `closed(&self)`
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/tests/loom_mpsc.rs
Labels: A-tokio, M-sync

#2945 io: Rename `ReadBuf` methods
  tokio-test/src/io.rs
  tokio-util/src/compat.rs
  tokio-util/src/io/stream_reader.rs
  tokio-util/tests/framed_read.rs
  tokio-util/tests/io_reader_stream.rs
  tokio-util/tests/length_delimited.rs
  tokio/src/io/async_read.rs
  tokio/src/io/blocking.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/read_buf.rs
  tokio/src/io/util/buf_reader.rs
  tokio/src/io/util/mem.rs
  tokio/src/io/util/repeat.rs
  tokio/src/io/util/take.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/stream.rs
  tokio/tests/io_copy.rs
  tokio/tests/io_read.rs
  tokio/tests/io_split.rs
Labels: A-tokio, C-enhancement, M-io

#2938 time: move error types into `time::error`
  tokio-util/src/time/delay_queue.rs
  tokio/src/stream/timeout.rs
  tokio/src/time/driver/atomic_stack.rs
  tokio/src/time/driver/entry.rs
  tokio/src/time/driver/mod.rs
  tokio/src/time/error.rs
  tokio/src/time/mod.rs
  tokio/src/time/sleep.rs
  tokio/src/time/timeout.rs
  tokio/src/time/wheel/mod.rs
Labels: A-tokio, C-maintenance, M-time

#2943 net: merge tcp, udp, uds features to net feature
  tokio/Cargo.toml
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/poll_evented.rs
  tokio/src/lib.rs
  tokio/src/loom/std/mod.rs
  tokio/src/macros/cfg.rs
  tokio/src/net/addr.rs
  tokio/src/net/mod.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/socket.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/runtime/builder.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-net

#2947 rt: `worker_threads` must be non-zero
  benches/signal.rs
  benches/sync_semaphore.rs
  tokio/src/runtime/builder.rs
Labels: A-tokio, M-runtime

#2918 chore: refactor runtime driver useage of `Either` and cfgs
  tokio/src/runtime/driver.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, C-maintenance, M-runtime

#2949 rt: simplify rt-* features
  .github/workflows/ci.yml
  tests-build/Cargo.toml
  tests-build/tests/fail/macros_core_no_default.stderr
  tests-build/tests/macros.rs
  tests-integration/Cargo.toml
  tests-integration/tests/macros_main.rs
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
  tokio-util/src/cfg.rs
  tokio-util/src/lib.rs
  tokio-util/tests/context.rs
  tokio/Cargo.toml
  tokio/src/blocking.rs
  tokio/src/coop.rs
  tokio/src/future/block_on.rs
  tokio/src/io/driver/mod.rs
  tokio/src/lib.rs
  tokio/src/loom/std/mod.rs
  tokio/src/macros/cfg.rs
  tokio/src/macros/mod.rs
  tokio/src/park/mod.rs
  tokio/src/process/unix/driver.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/error.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/signal/unix/driver.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/notify.rs
  tokio/src/task/blocking.rs
  tokio/src/task/local.rs
  tokio/src/task/mod.rs
  tokio/src/task/spawn.rs
  tokio/src/task/yield_now.rs
  tokio/src/time/clock.rs
  tokio/src/time/driver/handle.rs
  tokio/src/time/driver/mod.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/mod.rs
  tokio/src/util/slab.rs
  tokio/src/util/trace.rs
Labels: A-tokio, M-runtime

#2952 process: update docs regarding zombie processes
  tokio/src/process/mod.rs
Labels: A-tokio, M-process, T-docs

#2954 rt: switch `enter` to an RAII guard
  tokio-util/src/context.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/loom_blocking.rs
  tokio/src/signal/windows.rs
  tokio/tests/io_driver.rs
  tokio/tests/io_driver_drop.rs
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime

#2955 rt: tweak spawn_blocking docs
  tokio/src/task/blocking.rs
Labels: A-tokio, M-task, T-docs

#2961 v0.2.x: disable clippy check
  .github/workflows/ci.yml
Labels: A-ci, T-v0.2.x

#2962 ci: run clippy on MSRV
  .github/workflows/ci.yml
Labels: A-ci

#2958 util: Add `TokioContext` future (#2791)
  tokio-macros/src/entry.rs
  tokio-util/Cargo.toml
  tokio-util/src/cfg.rs
  tokio-util/src/context.rs
  tokio-util/src/lib.rs
  tokio-util/tests/context.rs
  tokio/src/lib.rs
  tokio/tests/macros_select.rs
  tokio/tests/rt_common.rs
  tokio/tests/stream_stream_map.rs
  tokio/tests/sync_broadcast.rs
  tokio/tests/time_delay_queue.rs
Labels: T-v0.2.x

#2963 chore: post release Cargo.toml fixes
  tokio-macros/Cargo.toml
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
Labels: C-maintenance

#2967 Fix doc typos
  tokio/src/runtime/builder.rs
Labels: A-tokio, C-maintenance, M-io, M-runtime, T-docs

#2974 Update version to 0.3 in module documentation
  tokio/src/lib.rs
Labels: A-tokio, C-maintenance, T-docs

#2979 docs: fix typos on UdpSocket
  tokio/src/net/udp/socket.rs
Labels: A-tokio, C-maintenance, M-net, T-docs

#2933 sync: implement Clone for broadcast::Receiver
  tokio/src/sync/broadcast.rs
  tokio/src/sync/tests/loom_broadcast.rs
Labels: A-tokio, M-sync

#2884 io: add `copy_buf`
  tokio/src/io/mod.rs
  tokio/src/io/util/copy_buf.rs
  tokio/src/io/util/mod.rs
Labels: A-tokio, C-enhancement, M-io

#2972 Add a poll_read_buf shim to tokio-util to mimic now deprecated AsyncRead API
  tokio-util/src/io/mod.rs
  tokio-util/src/io/poll_read_buf.rs
  tokio-util/src/io/read_buf.rs
Labels: A-tokio-util, M-io

#2992 docs: fix typo in runtime module documentation
  tokio/src/runtime/mod.rs
Labels: A-tokio, C-maintenance, M-runtime, T-docs

#2980 tokio: add Runtime::spawn_blocking
  tokio/src/runtime/mod.rs
Labels: A-tokio, C-enhancement, M-runtime

#2996 runtime: remove unneeded #[cfg(feature = "rt")]
  tokio/src/runtime/mod.rs
Labels: A-tokio, C-maintenance, M-runtime

#2993 util: prevent read buffer from being swapped during a read_poll
  tokio-util/src/io/poll_read_buf.rs
Labels: A-tokio-util, C-enhancement, M-io

#3009 fs: flush on shutdown
  tokio/src/fs/file.rs
  tokio/tests/fs_file.rs
Labels: A-tokio, C-maintenance, M-fs

#3015 sync: remove extra clone in `Semaphore::[try_]acquire_owned()`
  tokio/src/sync/semaphore.rs
Labels: A-tokio, C-maintenance, M-sync

#2991 sync: Add `is_closed` method to watch sender
  tokio/src/sync/watch.rs
Labels: A-tokio, C-enhancement, M-sync

#3017 tokio: deduplicate spawn_blocking
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/task/blocking.rs
Labels: A-tokio, C-maintenance, M-blocking

#3003 io: add `AsyncReadExt::read_buf`
  tokio/Cargo.toml
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/mod.rs
  tokio/src/io/util/read_buf.rs
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/write_buf.rs
  tokio/tests/io_read.rs
  tokio/tests/io_read_buf.rs
  tokio/tests/io_write_buf.rs
Labels: A-tokio, C-enhancement, M-io

#3019 net: fix use-after-free in slab compaction
  .github/workflows/ci.yml
  tokio/src/util/slab.rs
Labels: A-tokio, C-bug, I-unsound 💥, M-net

#3020 sync: revert Clone impl for broadcast::Receiver
  tokio/src/sync/broadcast.rs
  tokio/src/sync/tests/loom_broadcast.rs
Labels: A-tokio, M-sync

#3023 fix typo
  tokio/src/net/tcp/listener.rs
  tokio/src/net/unix/listener.rs
Labels: A-tokio, C-maintenance, M-net, T-docs

#2981 tokio: Add back poll_* for udp
  tokio/src/net/udp/socket.rs
  tokio/tests/udp.rs
Labels: A-tokio, C-enhancement, M-net

#2903 io: Add AsyncFd
  tokio/Cargo.toml
  tokio/src/io/async_fd.rs
  tokio/src/io/driver/mod.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/mod.rs
  tokio/src/lib.rs
  tokio/src/loom/std/mod.rs
  tokio/src/loom/std/parking_lot.rs
  tokio/tests/io_async_fd.rs
Labels: A-tokio, C-enhancement, M-io

#2957 sync: add mem::forget to RwLockWriteGuard::downgrade.
  tokio/src/sync/rwlock.rs
  tokio/src/sync/tests/loom_rwlock.rs
  tokio/src/sync/tests/mod.rs
Labels: A-tokio, C-enhancement, M-sync

#3016 docs: update docs for `from_std` functions
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/socket.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
Labels: A-tokio, M-net, T-docs

#3035 Expand on de-initialization of ReadBuf
  tokio/src/io/read_buf.rs
Labels: A-tokio, C-maintenance, M-io, T-docs

#3038 docs: remove `max_threads` mentions in tokio-macros
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
Labels: A-tokio-macros, T-docs

#3048 readme: update the MSRV to 1.45
  README.md
  tokio/README.md
Labels: T-docs

#3042 Prepare tokio-macros 0.3.1
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio-macros/src/lib.rs
Labels: A-tokio-macros, C-maintenance

#3050 Update oneshot::Receiver::closed() docs to use tokio::select!
  tokio/src/sync/oneshot.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#3051 udp: add UdpSocket::take_error
  tokio/src/net/udp/socket.rs
Labels: A-tokio, C-enhancement, M-net

#3032 Make oneshot::Sender::poll_closed public again
  tokio/src/sync/oneshot.rs
Labels: A-tokio, C-enhancement, M-sync

#3052 Upgrade tokio-util to bytes 0.6
  examples/Cargo.toml
  tokio-util/Cargo.toml
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/io/mod.rs
  tokio-util/src/io/poll_read_buf.rs
  tokio-util/src/io/read_buf.rs
  tokio-util/src/io/reader_stream.rs
  tokio-util/src/lib.rs
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/read_buf.rs
  tokio/tests/io_read_buf.rs
Labels: A-tokio-util

#3056 net: change mention of net2
  tokio/src/net/tcp/listener.rs
  tokio/src/net/udp/socket.rs
Labels: A-tokio, C-maintenance, T-docs

#3060 Revert "util: upgrade tokio-util to bytes 0.6 (#3052)"
  examples/Cargo.toml
  tokio-util/Cargo.toml
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/io/mod.rs
  tokio-util/src/io/poll_read_buf.rs
  tokio-util/src/io/read_buf.rs
  tokio-util/src/io/reader_stream.rs
  tokio-util/src/lib.rs
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/read_buf.rs
  tokio/tests/io_read_buf.rs
Labels: A-tokio, A-tokio-util, C-maintenance, M-io

#3063 Remove unused dependency on Fnv
  tokio/Cargo.toml
Labels: A-tokio, C-maintenance

#3070 Runtime::block_on should NOT be called from async context
  tokio/src/runtime/mod.rs
Labels: A-tokio, C-maintenance, M-task, T-docs

#3064 util: deduplicate implementations of poll_read_buf()
  tokio-util/src/io/mod.rs
  tokio-util/src/io/poll_read_buf.rs
  tokio-util/src/io/read_buf.rs
Labels: A-tokio-util, C-maintenance, M-io

#3071 util: update to bytes 0.6
  examples/Cargo.toml
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
Labels: A-tokio-util, C-enhancement

#3078 chore: prepare tokio-util v0.5.0 release
  examples/Cargo.toml
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
Labels: A-tokio-util, C-maintenance

#2633 add pid to tokio::net::unix::UCred
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, C-feature-request, M-net
