Repository tokio-rs/tokio, pull requests merged in 2020-08, with the labels that each got.

#2724 impl `ToSocketAddrs` for `(String, u16)`
  tokio/src/net/addr.rs
Labels: A-tokio, C-feature-request, M-net

#2736 process: document remote killing for Child
  tokio/src/process/mod.rs
Labels: A-tokio, M-process, T-docs

#2745 sync: typo in impl Semaphore
  tokio/src/sync/batch_semaphore.rs
Labels: A-tokio, C-enhancement, M-sync, T-docs

#2746 doc fix. should be stderr
  tokio/src/io/stderr.rs
Labels: A-tokio, C-enhancement, M-io, T-docs

#2761 file: Add comment
  tokio/src/fs/file.rs
Labels: A-tokio, C-maintenance, M-fs, T-docs

#2757 io: rewrite slab to support compaction
  tokio/src/io/driver/mod.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/registration.rs
  tokio/src/loom/std/atomic_ptr.rs
  tokio/src/util/bit.rs
  tokio/src/util/slab.rs
  tokio/src/util/slab/addr.rs
  tokio/src/util/slab/entry.rs
  tokio/src/util/slab/generation.rs
  tokio/src/util/slab/mod.rs
  tokio/src/util/slab/page.rs
  tokio/src/util/slab/shard.rs
  tokio/src/util/slab/slot.rs
  tokio/src/util/slab/stack.rs
  tokio/src/util/slab/tests/loom_slab.rs
  tokio/src/util/slab/tests/loom_stack.rs
  tokio/src/util/slab/tests/mod.rs
Labels: A-tokio, C-enhancement, M-io

#2768 chore: reformat some imports for consistency
  tokio/src/sync/mpsc/block.rs
  tokio/src/sync/mpsc/list.rs
Labels: A-tokio, C-maintenance, M-sync

#2758 io: change AsyncRead to use a ReadBuf
  tokio-test/src/io.rs
  tokio-util/src/compat.rs
  tokio-util/tests/framed.rs
  tokio-util/tests/framed_read.rs
  tokio-util/tests/length_delimited.rs
  tokio/src/fs/file.rs
  tokio/src/io/async_read.rs
  tokio/src/io/blocking.rs
  tokio/src/io/mod.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/read_buf.rs
  tokio/src/io/split.rs
  tokio/src/io/stdin.rs
  tokio/src/io/util/buf_reader.rs
  tokio/src/io/util/buf_stream.rs
  tokio/src/io/util/buf_writer.rs
  tokio/src/io/util/chain.rs
  tokio/src/io/util/copy.rs
  tokio/src/io/util/empty.rs
  tokio/src/io/util/mem.rs
  tokio/src/io/util/read.rs
  tokio/src/io/util/read_exact.rs
  tokio/src/io/util/read_int.rs
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/read_to_string.rs
  tokio/src/io/util/repeat.rs
  tokio/src/io/util/stream_reader.rs
  tokio/src/io/util/take.rs
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/split_owned.rs
  tokio/src/net/unix/stream.rs
  tokio/src/process/mod.rs
  tokio/src/signal/unix.rs
  tokio/tests/io_async_read.rs
  tokio/tests/io_copy.rs
  tokio/tests/io_read.rs
  tokio/tests/io_split.rs
Labels: A-tokio, C-enhancement, M-io

#2704 test: implement Drop for Mock to panic w/ unconsumed data
  tokio-test/src/io.rs
  tokio-test/tests/io.rs
Labels: A-tokio-test, C-enhancement

#1921 add thread_name_fn method to runtime::Builder, close #1907.
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
Labels: A-tokio, C-enhancement, M-runtime

#2794 fix typo in Notify documentation
  tokio/src/sync/notify.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2445 sync: Implement map methods of parking_lot fame
  tokio/src/sync/rwlock.rs
Labels: A-tokio, C-enhancement, M-sync

#2684 Start work on solution for blocking_recv and send in mpsc (issue #2629)
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/mod.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, C-enhancement, M-blocking, M-sync

#2771 sync: Implement map methods of parking_lot fame
  .github/workflows/ci.yml
  tokio/src/sync/rwlock.rs
Labels: A-tokio, C-enhancement, M-sync

#2791 util: Add `TokioContext` future
  tokio-util/src/context.rs
  tokio-util/src/lib.rs
  tokio-util/tests/context.rs
Labels: A-tokio-util, C-enhancement, M-task

#2782 rt: Refactor `Runtime::block_on` to take `&self`
  benches/mpsc.rs
  benches/scheduler.rs
  benches/spawn.rs
  benches/sync_rwlock.rs
  benches/sync_semaphore.rs
  tests-integration/tests/rt_shell.rs
  tokio-test/src/lib.rs
  tokio-util/src/context.rs
  tokio-util/tests/context.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/registration.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/socket.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/park/mod.rs
  tokio/src/park/thread.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/loom_pool.rs
  tokio/src/signal/registry.rs
  tokio/src/signal/windows.rs
  tokio/src/task/local.rs
  tokio/src/task/spawn.rs
  tokio/tests/io_driver.rs
  tokio/tests/rt_basic.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/signal_drop_rt.rs
  tokio/tests/signal_multi_rt.rs
  tokio/tests/task_blocking.rs
  tokio/tests/task_local_set.rs
  tokio/tests/time_rt.rs
Labels: A-tokio, C-enhancement, M-runtime

#2792 Implement `FromRawFd` & `FromRawHandle` for `File`
  tokio/src/fs/file.rs
  tokio/tests/support/mock_file.rs
Labels: A-tokio, C-enhancement, M-fs
