Repository tokio-rs/tokio, pull requests merged in 2020-06, with the labels that each got.

#2569 fix typo s/BufWriter/BufReader/ in io/util/buf_reader.rs
  tokio/src/io/util/buf_reader.rs
Labels: A-tokio, C-maintenance, M-io, T-docs

#2593 chore: fix ci failure on master
  ci/azure-test-stable.yml
  examples/echo-udp.rs
  examples/echo.rs
  examples/tinyhttp.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/semaphore_ll.rs
  tokio/tests/rt_basic.rs
  tokio/tests/task_local_set.rs
  tokio/tests/tcp_accept.rs
Labels: A-tokio, C-maintenance

#2577 docs: fix the link of contributing guide
  tokio/README.md
Labels: A-tokio, C-maintenance, T-docs

#2608 ci: fix ci failure on v0.1.x
  .cirrus.yml
  ci/azure-test-stable.yml
Labels: A-ci, T-v0.1.x

#2604 net: impl ToSocketAddrs for &[SocketAddr]
  tokio/src/net/addr.rs
Labels: A-tokio, C-enhancement, M-net

#2612 io: fix unsound pin projection in read_buf and write_buf
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/read_buf.rs
  tokio/src/io/util/write_buf.rs
Labels: A-tokio, M-io

#2614 ci: pin compiler version in miri tests
  azure-pipelines.yml
  ci/azure-miri.yml
Labels: A-ci

#2613 Reduce pin related unsafe code
  tokio-test/src/task.rs
  tokio/src/runtime/blocking/task.rs
  tokio/src/runtime/enter.rs
  tokio/src/time/timeout.rs
  tokio/tests/rt_basic.rs
  tokio/tests/tcp_accept.rs
Labels: A-tokio, C-maintenance

#2615 sync: allow unsized types in Mutex and RwLock
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
Labels: A-tokio, C-enhancement, M-sync

#2622 doc: typo in select.rs
  tokio/src/macros/select.rs
Labels: A-tokio, C-maintenance, T-docs

#2623 time: add an example using `interval` to the time module
  tokio/src/time/delay.rs
  tokio/src/time/interval.rs
  tokio/src/time/mod.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2600 sync: elaborate on unbounded send not being async
  tokio/src/sync/mpsc/mod.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/oneshot.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2624 Channel documentation update
  tokio/src/sync/mpsc/mod.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2621 docs: Remove inapplicable paragraph from 'AsyncReadExt::read_ext()'.
  tokio/src/io/util/async_read_ext.rs
Labels: A-tokio, C-maintenance, M-io, T-docs

#2487 docs: Fix inconsistency in BufWriter behaviour description
  tokio/src/io/mod.rs
Labels: A-tokio, C-maintenance, M-io, T-docs

#2631 fix cargo clippy many_single_char_names on fs_file_mocked.rs test
  tokio/tests/fs_file_mocked.rs
Labels: A-tokio, C-maintenance

#2630 doc: fixes link for tokio::sync::oneshot::Receiver::close (close #2601)
  tokio/src/sync/oneshot.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs
