Repository tokio-rs/tokio, pull requests merged in 2020-05, with the labels that each got.

#2476 doc: remove reference to the Sink trait in the MPSC documentation
  tokio/src/sync/mpsc/mod.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2263 Add CancellationToken
  tokio/Cargo.toml
  tokio/src/sync/cancellation_token.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/tests/loom_cancellation_token.rs
  tokio/src/sync/tests/mod.rs
  tokio/src/util/intrusive_double_linked_list.rs
  tokio/src/util/mod.rs
Labels: A-tokio, C-proposal, S-waiting-on-author

#2485 tls: Deprecate in favor of `tokio-native-tls`
  tokio-tls/CHANGELOG.md
  tokio-tls/Cargo.toml
  tokio-tls/README.md
  tokio-tls/src/lib.rs
Labels: A-tokio-tls, C-maintenance

#2501 Add Handle::spawn_blocking method
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/blocking/task.rs
  tokio/src/runtime/handle.rs
Labels: A-tokio, C-enhancement, M-task

#2502 rt: set task budget after block_in_place call
  tokio/src/coop.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/tests/rt_threaded.rs
Labels: A-tokio, C-bug, M-runtime

#2491 docs: fix links in `tokio::sync`
  tokio/src/sync/mod.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2507 added link fragments to contribution documentation
  CONTRIBUTING.md
Labels: A-tokio, C-maintenance, T-docs

#2511 stream: add missing "not" in filter_map docs
  tokio/src/stream/mod.rs
Labels: A-tokio, C-maintenance, M-stream, T-docs

#2419 Error Creating PollEvented for RawFd #2413
  tokio/src/io/driver/mod.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/registration.rs
Labels: A-tokio, C-maintenance, M-io, S-waiting-on-review

#2439 io: Add doc warning about concurrently calling poll_read/write_ready
  tokio/src/io/poll_evented.rs
Labels: A-tokio, C-maintenance, M-io, S-waiting-on-review

#2486 add support for illumos target
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, C-enhancement, M-net, S-waiting-on-review

#2503 macros: Disambiguate the built-in #[test] attribute in macro expansion.
  tokio-macros/src/entry.rs
  tokio/tests/macros_test.rs
Labels: A-tokio, C-bug

#2368 WIP: Rewrite of codec::Framed
  CONTRIBUTING.md
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
  tokio-util/src/codec/mod.rs
Labels: A-tokio-util, C-enhancement, M-codec, S-waiting-on-author

#2518 Change norun to no_run
  tokio/src/time/throttle.rs
Labels: A-tokio, C-maintenance

#2530 chore: prepare v0.2.21 release
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/lib.rs
Labels: A-tokio, C-maintenance

#2523 docs: improve discoverability of tokio_util::codec module
  tokio-test/src/io.rs
  tokio-util/src/codec/mod.rs
  tokio/src/io/mod.rs
  tokio/src/process/mod.rs
  tokio/src/stream/empty.rs
  tokio/src/stream/iter.rs
  tokio/src/stream/once.rs
  tokio/src/stream/pending.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/semaphore_ll.rs
Labels: A-tokio, A-tokio-util, C-maintenance, M-codec, M-io, T-docs

#2493 Clarifying that Handle::current must be called on a thread managed by tokio
  tokio/src/runtime/handle.rs
Labels: A-tokio, C-maintenance, M-task, T-docs

#2539 Fix add_permits document
  tokio/src/lib.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/semaphore.rs
  tokio/src/sync/semaphore_ll.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2546 util: Add Framed::read_buffer_mut()
  tokio-util/src/codec/framed.rs
Labels: A-tokio-util, C-enhancement, M-codec

#2521 tokio-macros: add documentation about re-naming the tokio dependency
  tokio-macros/src/lib.rs
Labels: A-tokio, C-maintenance, T-docs

#2552 Update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: C-maintenance

#2520 stream: update StreamExt::merge doc
  tokio/src/stream/mod.rs
Labels: A-tokio, C-maintenance, M-stream, T-docs

#2524 fs: add support for DirBuilder and DirBuilderExt
  tokio/src/fs/dir_builder.rs
  tokio/src/fs/mod.rs
  tokio/src/fs/os/unix/dir_builder_ext.rs
  tokio/src/fs/os/unix/mod.rs
  tokio/tests/fs_dir.rs
Labels: A-tokio, C-enhancement, M-fs

#2515 fs: implement unix OpenOptionsExt for OpenOptions
  tokio/src/fs/open_options.rs
  tokio/src/fs/os/unix/mod.rs
  tokio/src/fs/os/unix/open_options_ext.rs
Labels: A-tokio, C-enhancement, M-fs

#2525 Fix unnecessary zeroing for AsyncRead implementors
  tokio/src/fs/file.rs
  tokio/src/io/async_read.rs
  tokio/src/io/mod.rs
  tokio/src/io/stdin.rs
  tokio/src/io/util/chain.rs
  tokio/src/io/util/empty.rs
  tokio/src/io/util/repeat.rs
  tokio/src/process/mod.rs
Labels: A-tokio, C-enhancement, M-fs, M-io, M-process, T-performance

#2549 coop: Undo budget decrement on Pending
  tokio/src/coop.rs
  tokio/src/io/registration.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/task/join.rs
  tokio/src/stream/iter.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/oneshot.rs
  tokio/src/time/driver/registration.rs
Labels: A-tokio, C-enhancement, M-coop

#2531 Start migrating CI to Github Actions
  .github/workflows/test_tokio.yml
Labels: C-maintenance

#2541 io: fix panic in read_line
  tokio/src/io/util/lines.rs
  tokio/src/io/util/read_line.rs
  tokio/src/io/util/read_until.rs
  tokio/src/io/util/split.rs
  tokio/tests/io_read_line.rs
  tokio/tests/io_read_until.rs
Labels: A-tokio, C-maintenance, M-io

#2567 Added a note about into_split's drop
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, C-maintenance, M-net, T-docs

#2564 Update AsyncBufRead's doc comment
  tokio/src/io/async_buf_read.rs
Labels: A-tokio, C-maintenance, M-io, T-docs

#2540 docs: replace method links with intra-links
  azure-pipelines.yml
  tokio/src/io/async_read.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/registration.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/udp/socket.rs
  tokio/src/net/udp/split.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/time/delay_queue.rs
Labels: A-tokio, C-maintenance, T-docs

#2571 Fix clippy errors
  tokio/src/macros/select.rs
  tokio/tests/tcp_into_split.rs
  tokio/tests/tcp_split.rs
Labels: A-tokio, C-maintenance

#2573 Fix all clippy lints in tests
  ci/azure-clippy.yml
  tokio/src/sync/tests/semaphore_batch.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_try_join.rs
  tokio/tests/sync_mutex_owned.rs
  tokio/tests/time_delay_queue.rs
Labels: A-tokio, C-maintenance

#2575 docs: use intra-links in the docs
  tokio-util/src/codec/length_delimited.rs
  tokio/src/coop.rs
  tokio/src/fs/remove_dir_all.rs
  tokio/src/fs/set_permissions.rs
  tokio/src/fs/symlink_metadata.rs
  tokio/src/io/mod.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/registration.rs
  tokio/src/macros/pin.rs
  tokio/src/net/udp/split.rs
  tokio/src/signal/unix.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
  tokio/src/task/blocking.rs
  tokio/src/task/local.rs
  tokio/src/task/task_local.rs
  tokio/src/time/delay_queue.rs
Labels: A-tokio, A-tokio-util, C-maintenance, T-docs
