Repository tokio-rs/tokio, pull requests merged in 2020-07, with the labels that each got.

#2563 uds: illumos can build using existing Solaris support
  tokio-uds/src/ucred.rs
Labels: A-tokio, C-enhancement, S-waiting-on-review, T-v0.1.x

#2638 chore: prepare tokio-uds v0.2.7 release
  tokio-uds/CHANGELOG.md
  tokio-uds/Cargo.toml
  tokio-uds/README.md
  tokio-uds/src/lib.rs
Labels: A-tokio, C-maintenance, M-net, T-v0.1.x

#2634 io: allocate large buffer directly on heap
  tokio/src/io/util/copy.rs
Labels: A-tokio, C-maintenance, M-io

#2643 ci: use latest stable compiler on macOS ci
  .github/workflows/test_tokio.yml
  ci/azure-test-stable.yml
Labels: A-ci

#2647 fix: Update the docs of "pause" to state that time will still advance
  tokio/src/time/clock.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2590 Close pending connection on proxy exemple
  examples/proxy.rs
Labels: A-tokio, C-maintenance, M-io

#2597 chore: fix windows CI
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/tests/rt_common.rs
  tokio/tests/tcp_into_split.rs
Labels: A-ci, A-tokio, M-net

#2645 Allow block_on inside block_in_place inside block_on
  tokio/src/runtime/thread_pool/worker.rs
  tokio/tests/task_blocking.rs
Labels: A-tokio, C-maintenance, M-runtime

#1915 Add Little Endian variants for Read/WriteExt
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/read_int.rs
  tokio/src/io/util/write_int.rs
Labels: A-tokio, C-enhancement, M-io

#2669 Fix new manual_non_exhaustive clippy lint
  tokio-util/src/codec/framed.rs
Labels: A-ci, A-tokio-util, C-maintenance, M-codec

#2658 Add section regarding which kind of mutex to use
  tokio/src/sync/mutex.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2663 Document that strings require the DNS feature
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, C-maintenance, M-net, T-docs

#2671 Slight change in inner attribute of Entry struct
  tokio/src/time/driver/entry.rs
Labels: A-tokio, C-maintenance, M-time

#2666 Remove misleading comment in `sync::watch::Sender::broadcast`
  tokio/src/sync/watch.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs

#2654 fix: Forward poll_write_buf on BufReader
  tokio/src/io/util/buf_reader.rs
Labels: A-tokio, C-maintenance, M-io

#2572 Update doc comments
  tokio/src/future/ready.rs
  tokio/src/io/util/flush.rs
  tokio/src/io/util/read_buf.rs
  tokio/src/io/util/read_exact.rs
  tokio/src/io/util/shutdown.rs
  tokio/src/runtime/context.rs
  tokio/src/time/driver/mod.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2646 provide a way to drop a runtime in an async context
  tokio/src/runtime/blocking/shutdown.rs
  tokio/src/runtime/mod.rs
  tokio/tests/task_blocking.rs
Labels: A-tokio, C-enhancement, M-runtime

#2609 doc: update links in README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  tokio/README.md
Labels: C-maintenance, T-docs

#2595 Add audit check
  .github/workflows/audit.yml
  .github/workflows/pr-audit.yml
Labels: A-ci, C-maintenance

#2607 Support larger number of permits
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/rwlock.rs
Labels: A-tokio, C-enhancement, M-sync

#2661 tokio: introduce io::Duplex
  tokio/src/io/mod.rs
  tokio/src/io/util/mem.rs
  tokio/src/io/util/mod.rs
  tokio/tests/io_mem_stream.rs
Labels: A-tokio, C-enhancement, M-io

#2674 Fix links to new website
  README.md
  examples/README.md
  tokio/README.md
  tokio/src/lib.rs
Labels: C-maintenance, T-docs

#1445 udp: Fix `UdpFramed` with regards to `Decode`
  tokio-util/src/udp/frame.rs
  tokio-util/tests/udp.rs
Labels: A-tokio, M-net

#2606 io: always reexport std::io types needed to implement async io traits
  tokio/src/io/mod.rs
Labels: A-tokio, M-io

#2557 net: introduce split on UnixDatagram
  tokio/src/net/unix/datagram.rs
  tokio/src/net/unix/mod.rs
  tokio/tests/uds_datagram.rs
Labels: A-tokio, C-enhancement, M-net

#2687 Ensure that unix sockets have both split and into_split
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/net/mod.rs
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp/split.rs
  tokio/src/net/unix/datagram/mod.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/datagram/split.rs
  tokio/src/net/unix/datagram/split_owned.rs
  tokio/src/net/unix/mod.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/split_owned.rs
  tokio/src/net/unix/stream.rs
  tokio/src/sync/broadcast.rs
Labels: A-tokio, C-enhancement, M-net

#2680 Fully migrate CI to Github Actions
  .cirrus.yml
  .github/workflows/ci.yml
  .github/workflows/test_tokio.yml
  azure-pipelines.yml
  ci/azure-cargo-check.yml
  ci/azure-check-docs.yml
  ci/azure-check-features.yml
  ci/azure-check-minrust.yml
  ci/azure-clippy.yml
  ci/azure-cross-compile.yml
  ci/azure-deploy-docs.yml
  ci/azure-install-rust.yml
  ci/azure-is-release.yml
  ci/azure-loom.yml
  ci/azure-miri.yml
  ci/azure-patch-crates.yml
  ci/azure-rustfmt.yml
  ci/azure-test-build.yml
  ci/azure-test-integration.yml
  ci/azure-test-nightly.yml
  ci/azure-test-stable.yml
  ci/azure-tsan.yml
  ci/patch.toml
  ci/tsan
  tokio/src/io/util/async_read_ext.rs
  tokio/src/time/tests/test_delay.rs
Labels: A-ci, C-maintenance

#1677 Added try_recv & try_send to UnixDatagram
  tokio/src/net/unix/datagram/socket.rs
  tokio/tests/uds_datagram.rs
Labels: A-tokio, C-enhancement, M-net

#2587 Address issue 2473
  tokio/src/time/delay_queue.rs
  tokio/tests/time_delay_queue.rs
Labels: A-tokio, C-maintenance, M-time

#2697 macros: document basic_scheduler option
  tokio-macros/src/lib.rs
Labels: A-tokio, A-tokio-macros, C-maintenance, M-macros, T-docs

#2691 time: fix incorrect argument name in doc
  tokio/src/time/interval.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2695 time: interval Stream impl requires stream feature
  tokio/src/time/interval.rs
Labels: A-tokio, C-maintenance, M-time, T-docs

#2678 Fix select macro giving warning when branch's returns never
  tokio/src/macros/select.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, C-enhancement, M-macros

#2673 Add a message on how to fix rustfmt errors.
  .github/workflows/ci.yml
Labels: A-ci, C-enhancement, S-waiting-on-review

#2708 Document issue labels
  CONTRIBUTING.md
Labels: C-maintenance

#2676 Update optional parking_lot dependency to 0.11.0
  tokio/Cargo.toml
Labels: A-tokio, C-maintenance

#2560 io: rewrite read_to_end and read_to_string
  tokio/src/io/util/read_line.rs
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/read_to_string.rs
  tokio/tests/io_read_to_string.rs
  tokio/tests/read_to_string.rs
Labels: A-tokio, C-maintenance, M-io

#1979 net: Add `UdpSocket::{try_send,try_send_to}` methods
  tokio/src/net/udp/socket.rs
  tokio/tests/udp.rs
Labels: A-tokio, C-enhancement, M-net

#2649 Fix #2641, #2535, and `shutdown_timeout` blocking for no reason
  tokio/Cargo.toml
  tokio/src/io/driver/mod.rs
  tokio/src/park/either.rs
  tokio/src/park/mod.rs
  tokio/src/park/thread.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/blocking/shutdown.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/park.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/time/driver/atomic_stack.rs
  tokio/src/time/driver/mod.rs
  tokio/src/time/tests/test_delay.rs
  tokio/tests/rt_common.rs
Labels: A-tokio, C-enhancement, M-runtime, S-blocked

#2725 Better Debug for Mutex
  tokio/src/sync/mutex.rs
  tokio/tests/sync_mutex.rs
Labels: A-tokio, C-enhancement, M-sync

#2732 Fix typo: suspectible -> susceptible
  tokio/src/sync/broadcast.rs
Labels: A-tokio, C-maintenance, M-sync, T-docs
