Repository tokio-rs/tokio, pull requests merged in 2021-07, with the labels that each got.

#3913 sync: fix watch borrow_and_update
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync

#3912 Prepare Tokio v1.8.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio

#3914 sync: fix watch wrapper
  tokio-stream/Cargo.toml
  tokio-stream/src/wrappers/watch.rs
  tokio-stream/tests/watch.rs
Labels: A-tokio-stream, M-sync

#3915 chore: fix new clippy complaint
  tokio-stream/src/stream_ext/collect.rs
Labels: A-tokio-stream

#3925 Modify HashMap to StreamMap in example.
  tokio-stream/src/stream_map.rs
Labels: A-tokio-stream

#3919 Ucred returns pid field for OpenBSD.
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net

#3926 tokio-macros: compat with clippy::unwrap_used
  tokio-macros/src/entry.rs
Labels: A-tokio-macros

#3920 fs: document performance considerations
  tokio-macros/src/lib.rs
  tokio-stream/src/lib.rs
  tokio-test/src/lib.rs
  tokio-util/src/lib.rs
  tokio/src/fs/read.rs
  tokio/src/fs/read_dir.rs
  tokio/src/fs/read_to_string.rs
  tokio/src/fs/write.rs
  tokio/src/lib.rs
Labels: A-tokio, M-fs

#3934 Remotely abort tasks on JoinHandle::abort
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/task/state.rs
  tokio/tests/macros_select.rs
  tokio/tests/task_abort.rs
Labels: A-tokio, M-task

#3922 Wrap watch state in helper struct
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#3927 bench: update spawn benchmarks
  benches/spawn.rs
Labels: A-benches

#3909 Add OwnedTasks
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/stack.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, M-runtime

#3931 Prepare tokio-macros 1.3.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
Labels: A-tokio-macros

#3923 chore: prepare tokio-stream 0.1.7
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#3273 Expose nameable future for TaskLocal::scope
  tokio/src/task/mod.rs
  tokio/src/task/task_local.rs
Labels: A-tokio, M-task

#3888 net: allow customized I/O operations for TcpStream (#3873)
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#3951 Update Nix to 0.22.0
  tokio/Cargo.toml
  tokio/tests/io_async_fd.rs
Labels: A-tokio

#3939 Move inject queue to `tokio::runtime::task`
  tokio/src/runtime/queue.rs
  tokio/src/runtime/task/inject.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/runtime/thread_pool/worker.rs
Labels: A-tokio, M-runtime

#3945 Clean up OnceCell
  tokio/src/sync/once_cell.rs
Labels: A-tokio, M-sync

#3953 Update nightly version in CI
  .github/workflows/ci.yml
Labels: A-ci

#3952 Fix the uds_datagram tests with the latest nightly stdlib
  tokio/tests/uds_datagram.rs
Labels: A-tokio, M-net

#3950 Use OwnedTasks in LocalSet
  tokio/src/runtime/task/mod.rs
  tokio/src/task/local.rs
Labels: A-tokio, M-runtime, M-task

#3943 chore: update async_send_sync test
  tokio/src/task/task_local.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio

#3944 Documentation cleanup
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net, T-docs

#3959 Remove mutex in JoinError
  tokio/src/runtime/task/error.rs
  tokio/src/util/mod.rs
  tokio/src/util/sync_wrapper.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio, M-runtime

#3965 Fix case where cancelled future would be leaked and add a regression …
  tokio/src/runtime/task/harness.rs
  tokio/tests/task_abort.rs
Labels: A-tokio, M-runtime

#3973 chore: merge 1.8.x into master
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio, M-runtime

#3958 Use the loom mutex wrapper everywhere
  tokio/src/loom/std/atomic_u64.rs
  tokio/src/runtime/shell.rs
  tokio/src/runtime/tests/loom_oneshot.rs
  tokio/src/sync/barrier.rs
  tokio/src/task/local.rs
  tokio/src/time/clock.rs
Labels: A-tokio

#3928 Mutex guard lock ref recovery methods
  tokio/src/sync/mutex.rs
Labels: A-tokio, M-sync

#3957 io: fix docs referring to clear_{read,write}_ready
  tokio/src/io/poll_evented.rs
Labels: A-tokio, M-io, T-docs

#3955 Rework binding of new tasks
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/queue.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/inject.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/task/state.rs
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/task/local.rs
  tokio/tests/support/mock_file.rs
Labels: A-tokio, M-runtime

#3980 Make scheduler non-optional
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
Labels: A-tokio, M-runtime

#3967 Test combinations of task behavior
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/task_combinations.rs
  tokio/tests/task_abort.rs
Labels: A-tokio, M-runtime, M-task

#3978 Fix leak in LocalSet
  tokio/src/runtime/tests/loom_local.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/task/local.rs
Labels: A-tokio, M-task

#3961 Prepare Tokio v1.9.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio

#3948 Add release schedule and bugfix policy
  README.md
  tokio/README.md
Labels: A-tokio

#3984 process: add arg0 method to Command
  tokio/src/process/mod.rs
  tokio/tests/process_arg0.rs
Labels: A-tokio, M-process

#3989 codec: remove unnecessary doc(cfg(...))
  tokio-util/src/udp/frame.rs
Labels: A-tokio-util, M-codec

#3981 task: elaborate on queue behavior of spawn_blocking
  tokio/src/task/blocking.rs
Labels: A-tokio, M-task, T-docs

#3979 Add owner id for tasks in OwnedTasks
  tokio/src/loom/std/atomic_u64.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/state.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/task/local.rs
Labels: A-tokio, M-runtime

#3997 io: document cancellation safety of AsyncBufReadExt
  tokio/src/fs/read_dir.rs
  tokio/src/io/util/async_buf_read_ext.rs
  tokio/src/io/util/lines.rs
Labels: A-tokio, M-io, T-docs

#3998 process: implement `raw_handle` getter on Child (#3987)
  tokio/src/process/mod.rs
  tokio/src/process/windows.rs
  tokio/tests/process_raw_handle.rs
Labels: A-tokio, M-process, relnotes

#3991 io: add fill_buf and consume
  tokio/src/io/util/async_buf_read_ext.rs
  tokio/src/io/util/fill_buf.rs
  tokio/src/io/util/mod.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/io_buf_reader.rs
Labels: A-tokio, M-io

#4001 Fix copy buffered write
  tokio/src/io/util/copy.rs
  tokio/tests/io_copy.rs
Labels: A-tokio, M-io

#3994 tests: reduce sleep durations
  tokio/tests/io_copy_bidirectional.rs
  tokio/tests/macros_select.rs
  tokio/tests/named_pipe.rs
  tokio/tests/no_rt.rs
  tokio/tests/task_abort.rs
  tokio/tests/task_local_set.rs
  tokio/tests/tcp_into_split.rs
  tokio/tests/time_rt.rs
  tokio/tests/time_sleep.rs
Labels: A-tokio, M-time

#4008 Fix CI on master
  tests-build/tests/fail/macros_core_no_default.stderr
Labels: A-ci, A-tokio-macros

#3995 tests: simplify loom tests
  tokio/src/runtime/tests/loom_pool.rs
Labels: A-tokio

#3988 Reorganize tokio::fs::file's mock tests.
  tokio/Cargo.toml
  tokio/src/fs/file.rs
  tokio/src/fs/file/tests.rs
  tokio/src/fs/mocks.rs
  tokio/src/fs/mod.rs
  tokio/src/fs/open_options.rs
  tokio/src/fs/open_options/mock_open_options.rs
  tokio/src/fs/read_dir.rs
  tokio/tests/support/mock_file.rs
  tokio/tests/support/mock_pool.rs
Labels: A-tokio, M-fs
