Repository tokio-rs/tokio, pull requests merged in 2021-05, with the labels that each got.

#3737 io: Add write_all_buf to AsyncWriteExt
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/mod.rs
  tokio/src/io/util/write_all_buf.rs
  tokio/tests/io_write_all_buf.rs
Labels: A-tokio, M-io

#3745 stream: implement Error and Display for BroadcastStreamRecvError
  tokio-stream/src/wrappers/broadcast.rs
Labels: A-tokio-stream, M-sync

#3636 Specify dependencies for tokio-util tests
  tokio-util/tests/_require_full.rs
Labels: A-ci, A-tokio-util

#3748 process: Updated example
  tokio/src/process/mod.rs
Labels: A-tokio, M-process, T-docs

#3728 tokio-test: extract assert_elapsed macro
  tokio-test/src/macros.rs
  tokio/tests/time_pause.rs
  tokio/tests/time_sleep.rs
Labels: A-tokio-test

#3660 sync: preserve permit state in notify_waiters
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/loom_notify.rs
Labels: A-tokio, M-sync

#3754 chore: bump nightly to nightly-2021-04-25
  .github/workflows/ci.yml
  tokio-stream/src/stream_map.rs
  tokio-util/src/udp/frame.rs
  tokio/src/io/driver/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/time/driver/handle.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/rand.rs
Labels: A-ci

#3753 Update documentation on block_in_place
  tokio/src/task/blocking.rs
  tokio/src/task/mod.rs
Labels: A-tokio, M-task, T-docs

#3013 Add file reading benchmarks
  benches/Cargo.toml
  benches/fs.rs
Labels: A-tokio, M-fs, T-performance

#3756 io: wake pending writers on DuplexStream close
  tokio/src/io/util/mem.rs
  tokio/tests/io_mem_stream.rs
Labels: A-tokio, M-io

#3758 Fix CI for Rust 1.52
  tokio/tests/macros_select.rs
Labels: A-ci

#3764 cargo: path dependencies for all tokio things
  examples/Cargo.toml
  tokio-stream/Cargo.toml
  tokio-util/Cargo.toml
Labels: A-examples, C-maintenance

#3765 util: impl AsRawFd/AsRawHandle for Compat<T>
  tokio-util/src/compat.rs
Labels: A-tokio-util

#3766 macros: improve diagnostics on type mismatch
  tests-build/tests/fail/macros_dead_code.rs
  tests-build/tests/fail/macros_dead_code.stderr
  tests-build/tests/fail/macros_type_mismatch.rs
  tests-build/tests/fail/macros_type_mismatch.stderr
  tests-build/tests/macros.rs
  tokio-macros/Cargo.toml
  tokio-macros/src/entry.rs
  tokio/tests/macros_test.rs
Labels: A-tokio-macros

#3769 benches: fix build error
  .github/workflows/ci.yml
  benches/Cargo.toml
  benches/fs.rs
Labels: A-ci

#3771 chore: enable syntax highlighting for toml in readme
  README.md
Labels: T-docs

#3774 signal: use std::os::raw::c_int instead of libc::c_int on public API
  tokio/src/signal/unix.rs
Labels: A-tokio, M-signal

#3773 doc: fix doc-cfg on io::duplex, io::copy_bidirectional, and task::unconstrained
  tokio/src/io/util/copy_bidirectional.rs
  tokio/src/io/util/mem.rs
  tokio/src/task/unconstrained.rs
Labels: A-tokio, M-io, T-docs

#3780 Barrier doc should use task, not thread
  tokio/src/sync/barrier.rs
Labels: A-tokio, M-sync, T-docs

#3761 net: add `{Tcp, Unix}Stream::try_{read, write}_vectored`
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/stream.rs
  tokio/tests/tcp_stream.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#3743 process: avoid redundant effort to reap orphan processes
  tokio/src/process/unix/driver.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/process/unix/reap.rs
  tokio/src/runtime/driver.rs
  tokio/src/signal/unix.rs
Labels: A-tokio, M-process, M-signal

#3491 io: impl AsyncSeek for BufReader/BufWriter/BufStream
  tokio/src/io/util/buf_reader.rs
  tokio/src/io/util/buf_stream.rs
  tokio/src/io/util/buf_writer.rs
  tokio/tests/io_buf_reader.rs
  tokio/tests/io_buf_writer.rs
Labels: A-tokio, M-io

#3782 Prepare Tokio v1.6.0
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio

#3783 chore: prepare tokio-macros v1.2.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
Labels: A-tokio-test

#3784 chore: prepare tokio-util v0.6.7
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#3785 chore: prepare tokio-stream v0.1.6
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#3786 chore: prepare tokio-test v0.4.2
  tokio-test/CHANGELOG.md
  tokio-test/Cargo.toml
Labels: A-tokio-test

#3729 add receiver_count to sync::watch::Sender
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#3794 chore: replace `*::{max, min}_value()` to const `*::MAX` and `*::MIN` respectively
  tokio-stream/tests/stream_chain.rs
  tokio-stream/tests/stream_merge.rs
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/buf_reader.rs
  tokio/src/net/unix/ucred.rs
  tokio/src/runtime/queue.rs
  tokio/src/runtime/task/state.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/time/driver/entry.rs
  tokio/src/time/driver/wheel/mod.rs
  tokio/tests/io_buf_reader.rs
Labels: A-tokio, A-tokio-stream, C-maintenance

#3788 doc: fix invalid `#[doc(inline)]` warnings on latest nightly.
  tokio-util/src/time/mod.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
Labels: A-tokio, M-macros

#3799 Add missing backtick
  tokio/src/sync/task/atomic_waker.rs
Labels: A-tokio, M-sync, T-docs

#3810 io: impl AsyncSeek for BufStream
  tokio/src/io/util/buf_stream.rs
Labels: A-tokio, M-io

#3817 tcp_into_std: assign an unused port
  tokio/tests/tcp_into_std.rs
Labels: A-ci

#3820 Clarify limits on return values of AsyncWrite::poll_write.
  tokio/src/io/async_write.rs
Labels: A-tokio, M-io, T-docs

#3827 ci: ignore private crates in minimal-versions check
  .github/workflows/ci.yml
Labels: A-ci
