Repository tokio-rs/tokio, pull requests merged in 2021-08, with the labels that each got.

#3770 Make windows docs for signal module show up on unix builds
  .github/workflows/ci.yml
  tokio-stream/Cargo.toml
  tokio-stream/src/wrappers.rs
  tokio/src/signal/unix.rs
  tokio/src/signal/windows.rs
  tokio/src/signal/windows/stub.rs
  tokio/src/signal/windows/sys.rs
Labels: A-tokio, M-signal, T-docs

#4020 Fix doc failure in CI on master
  tokio-stream/src/wrappers.rs
  tokio/src/macros/cfg.rs
Labels: A-tokio, A-tokio-stream, T-docs

#4021 Document when watch::send fails
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, T-docs

#4017 Fix clippy warnings
  tokio-util/src/udp/frame.rs
  tokio-util/tests/sync_cancellation_token.rs
  tokio/src/io/split.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/signal/registry.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/semaphore.rs
  tokio/src/task/local.rs
  tokio/src/task/task_local.rs
  tokio/tests/io_split.rs
  tokio/tests/io_write_all_buf.rs
  tokio/tests/sync_mutex.rs
  tokio/tests/sync_mutex_owned.rs
Labels: A-tokio

#4022 io: Add (read|write)_f(32|64)[_le] methods
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/read_int.rs
  tokio/src/io/util/write_int.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio, M-io

#4026 Add test for write_f(32|64)[_le]
  tokio/tests/async_send_sync.rs
Labels: A-tokio, M-io

#4009 task: quickly send task to heap on debug mode
  tokio/src/task/spawn.rs
Labels: A-tokio, M-runtime

#4037 Use spin_loop_hint instead of yield_now in mpsc
  tokio/src/sync/mpsc/block.rs
Labels: A-tokio, M-sync

#4024 Fix flaky test
  tokio/tests/task_local_set.rs
Labels: A-tokio, M-task

#4038 Prepare Tokio v1.10.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#4039 Add readme check to CI
  .github/workflows/ci.yml
Labels: A-tokio, A-ci

#4040 time: make Sleep examples easier to find
  tokio/src/time/driver/sleep.rs
Labels: T-docs, A-tokio, M-time

#4042 tracing: change span naming to new console convention
  tokio/src/runtime/handle.rs
  tokio/src/util/trace.rs
Labels: A-tokio, M-tracing

#4044 Don't panic when Instant is not monotonic
  tokio/src/time/driver/mod.rs
Labels: A-tokio, M-time

#3800 Make `sync::watch::Sender::subscribe` public
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync

#4045 process: add from_std to ChildStd*
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/windows.rs
Labels: A-tokio, M-process, relnotes

#4052 stream: Impl {From, Into}Iterator, Extend for StreamMap
  tokio-stream/src/stream_map.rs
Labels: M-stream, A-tokio-stream

#4060 Fix chores
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/tests/io_async_fd.rs
Labels: A-tokio

#4065 Merge 1.10.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/tests/task.rs
Labels: A-tokio

#4066 ci: fail if valgrind complains
  .github/workflows/ci.yml
Labels: A-ci

#4079 Skip the process_kill_on_drop test if bash is not installed.
  tokio/tests/process_kill_on_drop.rs
Labels: A-tokio, M-process

#4080 Add From<Receiver<T>> impl for receiver streams
  tokio-stream/src/wrappers/broadcast.rs
  tokio-stream/src/wrappers/mpsc_bounded.rs
  tokio-stream/src/wrappers/mpsc_unbounded.rs
  tokio-stream/src/wrappers/watch.rs
Labels: M-sync, A-tokio-stream

#4081 tokio-util: expose key used in DelayQueue's Expired
  tokio-util/src/time/delay_queue.rs
Labels: A-tokio-util, M-time

#4084 Fix fill_buf by not calling poll_fill_buf twice
  tokio/src/io/util/fill_buf.rs
  tokio/tests/io_fill_buf.rs
Labels: A-tokio, M-io
