Repository tokio-rs/tokio, pull requests merged in 2021-04, with the labels that each got.

#3673 Add Semaphore::is_closed method
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync

#3674 Remove panic from oneshot receiver
  tokio/src/sync/oneshot.rs
  tokio/tests/sync_oneshot.rs
Labels: A-tokio, M-sync

#3591 Add OnceCell
  tokio/src/sync/mod.rs
  tokio/src/sync/once_cell.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/sync_once_cell.rs
Labels: A-tokio, M-sync

#3677 macros: various error message improvements
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
Labels: A-tokio-macros, C-enhancement

#3678 io: add `AsyncWriteExt::write_vectored`
  tokio/src/io/util/async_write_ext.rs
  tokio/src/io/util/mod.rs
  tokio/src/io/util/write_vectored.rs
Labels: A-tokio, M-io

#3680 adds features full to readme
  README.md
Labels: T-docs

#3683 util: add `PollSemaphore::{add_permits, available_permits}`
  tokio-util/src/sync/poll_semaphore.rs
Labels: A-tokio-util, M-sync

#3644 Allow to configure RwLock max reads
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/owned_write_guard_mapped.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/src/sync/rwlock/write_guard_mapped.rs
  tokio/tests/sync_rwlock.rs
Labels: A-tokio, M-sync

#3684 net: implements IntoRawFd for TcpSocket
  tokio/src/net/tcp/socket.rs
Labels: A-tokio, M-net

#3685 Fix doc: Let comment match example
  tokio/src/time/mod.rs
Labels: A-tokio, M-time, T-docs

#3641 Require Park::Error: Debug for better panic messages.
  tokio/src/park/mod.rs
  tokio/src/runtime/basic_scheduler.rs
Labels: A-tokio, M-runtime

#3672 Prevent basic_scheduler from panicking if a task is aborted from another thread
  tokio/src/runtime/basic_scheduler.rs
  tokio/tests/task_abort.rs
Labels: A-tokio, M-task

#3691 macros: forward input arguments in `#[tokio::test]`
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tests-build/tests/macros.rs
  tests-build/tests/pass/forward_args_and_output.rs
  tokio-macros/src/entry.rs
Labels: A-tokio-macros

#3690 sync: add `mpsc::Sender::capacity`
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, M-sync

#3572 io: add a copy_bidirectional utility
  tokio/src/io/mod.rs
  tokio/src/io/util/copy.rs
  tokio/src/io/util/copy_bidirectional.rs
  tokio/src/io/util/mod.rs
  tokio/tests/io_copy_bidirectional.rs
Labels: A-tokio, M-io

#3693 Document that Semaphore is fair
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, T-docs

#3697 Upgrade loom to 0.5.0
  tokio/Cargo.toml
Labels: A-ci, A-tokio

#3696 Prepare tokio-util 0.6.6
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#3695 Prepare Tokio v1.5.0
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/sync/rwlock.rs
  tokio/tests/sync_rwlock.rs
Labels: A-tokio

#3518 File: Try doing a non-blocking read before punting to the threadpool
  tokio/Cargo.toml
  tokio/src/fs/file.rs
  tokio/tests/fs_file.rs
Labels: A-tokio, M-fs

#3451 util: UdpFramed takes Borrow<UdpSocket>
  tokio-util/src/udp/frame.rs
  tokio-util/tests/udp.rs
Labels: A-tokio-util, M-codec

#3705 time: add getter for Interval's period
  tokio/src/time/interval.rs
Labels: A-tokio, M-time

#3704 sync: add `mpsc::Sender::{reserve_owned, try_reserve_owned}`
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/mod.rs
Labels: A-tokio, M-sync

#3712 time: prevent `time::advance` from going too far
  tokio/src/time/clock.rs
  tokio/tests/time_pause.rs
Labels: A-tokio, M-time

#3720 chore: Fix some clippy lints
  tokio/src/io/util/lines.rs
  tokio/src/io/util/read_line.rs
  tokio/src/io/util/read_to_string.rs
  tokio/src/io/util/split.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/sync/watch.rs
  tokio/src/util/slab.rs
Labels: A-ci

#2472 Added map associated function to MutexGuard that uses new MappedMutexGuard type
  tokio/src/sync/mod.rs
  tokio/src/sync/mutex.rs
Labels: A-tokio, C-enhancement, M-sync

#3727 Update JoinHandle panic message
  tokio/src/runtime/task/core.rs
Labels: A-tokio, M-task

#3735 Update CHANGELOG.md
  tokio/CHANGELOG.md
Labels: A-tokio

#3715 CI: check docs of private items
  .github/workflows/ci.yml
  tokio-stream/src/stream_map.rs
  tokio/src/io/driver/registration.rs
  tokio/src/io/poll_evented.rs
  tokio/src/time/driver/entry.rs
  tokio/src/util/rand.rs
Labels: A-ci, T-docs
