Repository tokio-rs/tokio, pull requests merged in 2021-09, with the labels that each got.

#4061 time: document paused time details better
  tokio/src/time/clock.rs
Labels: T-docs, A-tokio, M-time

#4086 feat: add with_capacity for ReaderStream
  tokio-util/src/io/reader_stream.rs
Labels: A-tokio-util, M-io

#4078 Added AsyncSeek compat.
  tokio-util/src/compat.rs
Labels: A-tokio-util, M-compat

#4087 chore: prepare tokio-util v0.6.8
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#4089 codec: implement `Clone` for `LengthDelimitedCodec`
  tokio-util/src/codec/length_delimited.rs
Labels: A-tokio-util, M-codec

#4090 ci: disable benchmarks in CI
  .github/workflows/bench.yml
Labels: A-ci

#4092 chore: add Debug to NotDefinedHere
  tokio/src/doc/mod.rs
Labels: A-tokio, A-ci

#4091 task: document non-guarantees of yield_now
  tokio/src/task/yield_now.rs
Labels: T-docs, A-tokio, M-task

#4097 Make SendError field public
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#4108 ci: Add caching to the CI
  .github/workflows/ci.yml
  .github/workflows/stress-test.yml
Labels: A-ci

#4107 io: Add convenience method `AsyncSeekExt::rewind`.
  tokio/src/io/util/async_seek_ext.rs
  tokio/tests/fs_file.rs
Labels: A-tokio, M-io

#4110 sync: PollSender impls Sink
  tokio/src/sync/mpsc/bounded.rs
Labels: T-docs, A-tokio, M-sync

#4027 macros: run current_thread inside LocalSet
  tests-build/tests/fail/macros_type_mismatch.stderr
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
  tokio/tests/task_local_set.rs
Labels: A-tokio, M-task

#4054 Allow consumers to implement POSIX AIO sources.
  tokio/Cargo.toml
  tokio/src/io/bsd/poll_aio.rs
  tokio/src/io/driver/interest.rs
  tokio/src/io/driver/mod.rs
  tokio/src/io/driver/ready.rs
  tokio/src/io/mod.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/tests/io_poll_aio.rs
Labels: A-tokio, M-io

#4103 time: more docs on advance
  tokio/src/time/clock.rs
Labels: T-docs, A-tokio, M-time

#4070 runtime: Callbacks when a worker parks and unparks
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/queue.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
Labels: A-tokio, M-runtime

#4116 Update the mio-aio dev-dependency
  tokio/Cargo.toml
Labels: A-tokio, M-io

#4113 sync: implement try_recv for mpsc channels
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/error.rs
  tokio/src/sync/mpsc/list.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/tests/loom_mpsc.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom

#4115 mpsc: use spin_loop_hint instead of yield_now
  tokio/src/loom/std/mod.rs
  tokio/src/sync/mpsc/block.rs
Labels: A-tokio, M-sync

#4119 mpsc: ensure try_reserve error is consistent with try_send
  tokio/src/sync/mpsc/bounded.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync

#4117 sync: document spurious failures on poll_recv
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
Labels: T-docs, A-tokio, M-sync

#4112 ci: make loom tests optional
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/loom.yml
Labels: A-ci

#4121 docs: Improve JoinHandle::abort cancellation checking description
  tokio/src/runtime/task/join.rs
Labels: T-docs, A-tokio, M-task

#4123 Prepare Tokio v1.12.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#4072 tracing: instrument time::Sleep
  tokio/src/macros/mod.rs
  tokio/src/macros/trace.rs
  tokio/src/time/driver/sleep.rs
  tokio/src/time/timeout.rs
  tokio/src/util/trace.rs
Labels: A-tokio, M-time, M-tracing

#4125 add debug_assert in case pos > cap for copy_bidirectional
  tokio/src/io/util/copy.rs
Labels: A-tokio, M-io

#4129 sync: fix Notify to clone the waker before locking its waiter list
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/mod.rs
  tokio/src/sync/tests/notify.rs
Labels: A-tokio, M-sync

#4130 sync: add blocking_lock for mutex
  tokio/src/sync/mutex.rs
Labels: A-tokio, M-sync

#4132 docs: fixing broken links in tokio/src/lib.rs
  tokio/src/lib.rs
Labels: T-docs, A-tokio

#4131 net: add poll_{recv,send}_ready methods to udp/uds_datagram
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/tests/udp.rs
  tokio/tests/uds_datagram.rs
Labels: A-tokio, M-net

#4133 docs: add returning on the first error example for try_join!
  tokio/src/macros/try_join.rs
Labels: T-docs, A-tokio, M-macros

#4120 Add try_*, readable, writable, ready, and peer_addr methods to TCP and Unix split halves
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/split_owned.rs
  tokio/src/net/unix/stream.rs
Labels: A-tokio, M-net

#3962 Add `watch::Sender::send_replace`
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#4134 Expand `Debug for Mutex<T>` implementation to unsized `T`
  tokio/src/sync/mutex.rs
Labels: A-tokio, M-sync

#4139 Prepare tokio-macros 1.4.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
Labels: A-tokio-macros

#4142 Macros 1.4.1
  tests-build/tests/fail/macros_type_mismatch.stderr
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
  tokio/CHANGELOG.md
  tokio/tests/rt_threaded.rs
  tokio/tests/task_local_set.rs
Labels: A-tokio-macros
