Repository tokio-rs/tokio, pull requests merged in 2021-03, with the labels that each got.

#3535 Add acquire_many_owned and try_acquire_many_owned to tokio::sync::Semaphore
  tokio/src/sync/semaphore.rs
  tokio/tests/sync_semaphore_owned.rs
Labels: A-tokio, M-sync

#3490 Add pollable mpsc::Sender
  tokio-util/src/sync/mod.rs
  tokio-util/src/sync/mpsc.rs
  tokio-util/tests/mpsc.rs
Labels: A-tokio-util, M-sync

#3532 sync: add same_channel method to mpsc Senders
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
Labels: A-tokio, M-sync

#3576 tokio-stream: WatchStream: yield the current value
  tokio-stream/src/wrappers/watch.rs
Labels: A-tokio-stream, M-sync

#3571 stream: remove duplicate `doc(test(..))` & `cfg_attr` declarations
  tokio-stream/src/lib.rs
Labels: A-tokio-stream

#3592 docs - added additional documenation on the oneshot channel
  tokio/src/sync/oneshot.rs
Labels: A-tokio, M-sync, T-docs

#3547 coop: expose an unconstrained() opt-out
  tokio/src/coop.rs
  tokio/src/macros/cfg.rs
  tokio/src/task/mod.rs
  tokio/src/task/unconstrained.rs
  tokio/tests/rt_common.rs
Labels: A-tokio, M-coop

#3578 util: fuse PollSemaphore
  tokio-util/src/sync/poll_semaphore.rs
  tokio-util/tests/poll_semaphore.rs
Labels: A-tokio-util, M-sync

#3587 Update chat example to use `tokio::select!`
  examples/Cargo.toml
  examples/chat.rs
Labels: A-examples

#3597 Prepare Tokio v1.3.0
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio

#3599 Prepare tokio-util v0.6.4
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#3600 stream: documentation note for throttle unpin
  tokio-stream/src/stream_ext/throttle.rs
Labels: A-tokio-stream, M-time, T-docs

#3588 fix clippy warnings in newer versions
  tokio-util/src/codec/length_delimited.rs
  tokio-util/src/sync/mpsc.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/sync/watch.rs
  tokio/src/task/local.rs
Labels: A-ci

#3594 test: Make Mock both Send and Sync
  tokio-stream/Cargo.toml
  tokio-test/Cargo.toml
  tokio-test/src/io.rs
Labels: A-tokio-test

#3604 doc: alias sleep to delay
  tokio/src/time/driver/sleep.rs
Labels: A-tokio, M-time, T-docs

#3606 docs: anotate time module as requiring time ft
  tokio-util/src/cfg.rs
  tokio-util/src/lib.rs
Labels: A-tokio-util, M-time, T-docs

#3609 Issue 3608. Annotate struct EnterGuard with attr must_use
  tokio/src/runtime/handle.rs
Labels: A-tokio, M-runtime

#3603 Introduce `biased` argument for `select!`
  tokio/src/macros/select.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, M-macros

#3615 [docs] Improve Mutex FIFO explanation
  tokio/src/sync/mutex.rs
Labels: A-tokio, M-sync, T-docs

#3582 runtime: avoid unnecessary polling of block_on future
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/tests/loom_basic_scheduler.rs
  tokio/src/runtime/tests/mod.rs
Labels: A-tokio, M-runtime

#3613 docs: add link to PollSender
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, A-tokio-util, M-sync, T-docs

#3564 Fix memory leak/growth when creating many runtimes
  .github/workflows/ci.yml
  tests-integration/Cargo.toml
  tests-integration/src/bin/test-process-signal.rs
  tokio/src/io/driver/interest.rs
  tokio/src/io/driver/registration.rs
  tokio/src/io/poll_evented.rs
  tokio/src/process/unix/driver.rs
  tokio/src/process/unix/reap.rs
  tokio/src/signal/mod.rs
  tokio/src/signal/registry.rs
  tokio/src/signal/reusable_box.rs
  tokio/src/signal/unix.rs
  tokio/src/signal/windows.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/error.rs
  tokio/src/sync/watch.rs
Labels: A-tokio, M-runtime

#3569 rt: add Handle::block_on
  tokio/src/io/driver/registration.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/time/driver/entry.rs
  tokio/src/time/driver/handle.rs
  tokio/src/time/driver/mod.rs
  tokio/src/time/driver/tests/mod.rs
  tokio/src/util/error.rs
  tokio/tests/rt_handle_block_on.rs
Labels: A-tokio, M-runtime

#3621 chore: prepare Tokio v1.4.0
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio

#3622 chore: prepare tokio-util v0.6.5
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#3624 chore: prepare tokio-stream v0.1.5
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#3626 util: fix indentation and typos in `DelayQueue` docs
  tokio-util/src/time/delay_queue.rs
Labels: A-tokio-util, T-docs

#3628 runtime: fix unclear docs for `{Handle,Runtime}::block_on`
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
Labels: A-tokio, M-runtime, T-docs

#3625 stream: avoid yielding in AllFuture and AnyFuture
  tokio-stream/src/stream_ext/all.rs
  tokio-stream/src/stream_ext/any.rs
Labels: A-tokio-stream

#3629 fix typo in select macro docs
  tokio/src/macros/select.rs
Labels: A-tokio, M-macros, T-docs

#3272 util: makes `Framed` and `FramedStream` resumable after eof
  tokio-util/src/codec/decoder.rs
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_impl.rs
  tokio-util/tests/framed_read.rs
Labels: A-tokio-util, M-codec

#3612 Add sync_scope for LocalKey
  tokio/src/task/task_local.rs
Labels: A-tokio, M-task

#3634 chore: Avoid allocation if PollSemaphore is unused
  tokio-util/src/sync/poll_semaphore.rs
Labels: A-tokio-util, M-sync

#3635 doc: Clarify requirements of AsyncFd
  tokio/src/io/async_fd.rs
Labels: A-tokio, M-io, T-docs

#3638 Usage typo
  tokio/src/macros/select.rs
Labels: A-tokio, M-macros, T-docs

#3340 Add OwnedRwLockReadGuard and OwnedRwLockWriteGuard
  tokio/src/sync/mod.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/rwlock/owned_read_guard.rs
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/owned_write_guard_mapped.rs
  tokio/src/sync/rwlock/read_guard.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/src/sync/rwlock/write_guard_mapped.rs
  tokio/src/sync/tests/loom_rwlock.rs
Labels: A-tokio, M-sync

#3647 Fix warning from new Rust version
  tokio/src/process/mod.rs
  tokio/src/time/driver/entry.rs
Labels: A-ci

#3651 fixed several typos in docs
  tokio/src/lib.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/queue.rs
  tokio/src/sync/mpsc/block.rs
  tokio/src/task/task_local.rs
  tokio/src/time/driver/handle.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/wake.rs
Labels: A-tokio, T-docs

#3650 io: add AsyncSeekExt::stream_position
  tokio/src/io/util/async_seek_ext.rs
Labels: A-tokio, M-io

#3653 chore: update proptest to 1
  tokio-stream/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio, A-tokio-stream

#3645 (minor) amendments to Mutex docs
  tokio/src/sync/mutex.rs
Labels: A-tokio, M-sync, T-docs

#3654 Try to avoid noalias attributes on intrusive linked lists
  tokio/src/util/linked_list.rs
Labels: A-tokio, M-sync

#3652 sync: fix notification permit getting dropped on receiver drop
  tokio/src/sync/notify.rs
  tokio/tests/sync_notify.rs
Labels: A-tokio, M-sync

#3663 Typo in socket.rs: operationg => operating
  tokio/src/net/tcp/socket.rs
Labels: A-tokio, M-net, T-docs
