Repository tokio-rs/tokio, pull requests merged in 2021-06, with the labels that each got.

#3828 sync: Fix minor spelling mistake in mpsc::Sender docs
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, M-sync, T-docs

#3831 macros: suppress clippy::default_numeric_fallback lint in generated code
  .clippy.toml
  .github/workflows/ci.yml
  tokio-stream/tests/async_send_sync.rs
  tokio-util/tests/poll_semaphore.rs
  tokio/src/macros/select.rs
  tokio/src/runtime/task/state.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/wake.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_test.rs
  tokio/tests/task_blocking.rs
Labels: A-tokio, M-macros

#3835 runtime: fix typo in task state doc
  tokio/src/runtime/task/state.rs
Labels: A-tokio, M-runtime, T-docs

#3836 tracing: instrument task wakers
  tokio/src/future/mod.rs
  tokio/src/future/trace.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/task/waker.rs
  tokio/src/runtime/thread_pool/mod.rs
Labels: A-tokio, M-tracing

#3850 doc: Clarify EOF condition for AsyncReadExt::read_buf
  tokio/src/io/util/async_read_ext.rs
Labels: A-tokio, M-io, T-docs

#3808 doc: Add examples to `Semaphore`
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, T-docs

#3838 Tcp socket from std stream
  tokio/Cargo.toml
  tokio/src/net/tcp/socket.rs
Labels: A-tokio, M-net

#3851 chore: update version in README.md
  README.md
Labels: A-tokio, T-docs

#3833 Deprecate mpsc::RecvError
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/error.rs
Labels: A-tokio, M-sync

#3840 feat: Export `sync::notify::Notified` publicly.
  tokio/src/sync/mod.rs
  tokio/src/sync/notify.rs
Labels: A-tokio, M-sync

#3853 tracing: emit waker op as str instead as Debug
  tokio/src/runtime/task/waker.rs
Labels: A-tokio, M-tracing

#3844 Reenable test_socket_pair on FreeBSD
  tokio/tests/uds_cred.rs
Labels: A-ci, A-tokio

#3760 net: Provide a raw NamedPipe implementation and builders
  examples/Cargo.toml
  examples/named-pipe-multi-client.rs
  examples/named-pipe.rs
  tokio/Cargo.toml
  tokio/src/doc/mod.rs
  tokio/src/doc/os.rs
  tokio/src/doc/winapi.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/net/mod.rs
  tokio/src/net/windows/mod.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/tests/named_pipe.rs
Labels: A-tokio, M-net

#3863 chore: prepare Tokio v1.7.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
Labels: A-tokio

#3807 io: add get_{ref,mut} methods to AsyncFdReadyGuard and AsyncFdReadyMutGuard.
  tokio/src/io/async_fd.rs
Labels: A-tokio, M-io

#3864 Fix typo in Instant::saturating_duration_since docs
  tokio/src/time/instant.rs
Labels: A-tokio, M-time, T-docs

#3763 time: document auto-advancing behavior of runtime
  tokio/src/time/clock.rs
Labels: A-tokio, M-time

#3721 time: allow users to specify `Interval` behavior when delayed
  tokio/src/time/interval.rs
  tokio/src/time/mod.rs
  tokio/tests/time_interval.rs
Labels: A-tokio, M-time

#3813 sync: add `Receiver::borrow_and_update`
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#3877 sync: Implement `From<T>` for `OnceCell<T>`
  tokio/src/sync/once_cell.rs
  tokio/tests/sync_once_cell.rs
Labels: A-tokio, M-sync

#3866 Add ready/try methods to `NamedPipeClient`
  examples/Cargo.toml
  examples/named-pipe-ready.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/tests/named_pipe.rs
Labels: A-tokio, M-net

#3897 feat: add wait alias to sleep
  tokio/src/time/driver/sleep.rs
Labels: A-tokio, M-time, T-docs

#3839 Add drop guard for cancellation token
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/src/sync/cancellation_token/guard.rs
  tokio-util/src/sync/mod.rs
Labels: A-tokio-util, M-sync

#3899 Add read/try methods to `NamedPipeServer`
  examples/named-pipe-ready.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/tests/named_pipe.rs
Labels: A-tokio, M-net

#3900 Document cancellation safety
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/macros/select.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/semaphore.rs
  tokio/src/sync/watch.rs
Labels: A-tokio, M-io, M-macros, M-net, M-sync, T-docs

#3881 tracing: add tokio::task::Builder
  tokio/src/runtime/handle.rs
  tokio/src/task/builder.rs
  tokio/src/task/local.rs
  tokio/src/task/mod.rs
  tokio/src/task/spawn.rs
  tokio/src/util/trace.rs
  tokio/tests/task_builder.rs
Labels: A-tokio, M-task, M-tracing

#3902 Fix Timeout size_hint
  tokio-stream/src/stream_ext/timeout.rs
Labels: A-tokio-stream, M-time

#3163 Efficient implementation of vectored writes for BufWriter
  tokio/src/io/util/buf_reader.rs
  tokio/src/io/util/buf_stream.rs
  tokio/src/io/util/buf_writer.rs
  tokio/tests/io_buf_writer.rs
  tokio/tests/support/io_vec.rs
Labels: A-tokio, C-enhancement, M-io

#3898 net: add epollhup test
  tokio/src/net/unix/stream.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#3906 Test with tracing
  .github/workflows/ci.yml
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/runtime/tests/task.rs
Labels: A-tokio, M-tracing

#3907 chore: fix typos
  benches/rt_multi_threaded.rs
  tokio-stream/src/stream_ext.rs
  tokio-stream/src/wrappers/watch.rs
  tokio-test/src/lib.rs
  tokio-test/src/task.rs
  tokio-util/src/codec/any_delimiter_codec.rs
  tokio-util/src/codec/decoder.rs
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/codec/length_delimited.rs
  tokio-util/src/codec/lines_codec.rs
  tokio-util/src/either.rs
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/src/sync/intrusive_double_linked_list.rs
  tokio/docs/reactor-refactor.md
  tokio/src/io/driver/interest.rs
  tokio/src/io/driver/mod.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/io/read_buf.rs
  tokio/src/io/stdio_common.rs
  tokio/src/io/util/read_until.rs
  tokio/src/io/util/split.rs
  tokio/src/macros/select.rs
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/ucred.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/queue.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/thread_pool/idle.rs
  tokio/src/signal/unix/driver.rs
  tokio/src/sync/once_cell.rs
  tokio/tests/io_copy_bidirectional.rs
  tokio/tests/sync_rwlock.rs
  tokio/tests/task_abort.rs
  tokio/tests/task_local_set.rs
  tokio/tests/time_sleep.rs
Labels: T-docs
