Repository tokio-rs/tokio, pull requests merged in 2021-01, with the labels that each got.

#3364 util: add more `get_{ref,mut,pin_mut}` methods
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
  tokio-util/src/io/stream_reader.rs
Labels: A-tokio-util

#3363 sync: Remove underused internal Borrow wrapper
  tokio/src/sync/broadcast.rs
Labels: A-tokio, C-maintenance, M-sync

#3366 stream: move async-stream to dev-deps
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#3351 net: Add try_read_buf and try_recv_buf
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
  tokio/tests/tcp_stream.rs
  tokio/tests/udp.rs
  tokio/tests/uds_datagram.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#3343 Add Stream wrappers in tokio-stream
  tokio-stream/Cargo.toml
  tokio-stream/src/lib.rs
  tokio-stream/src/macros.rs
  tokio-stream/src/wrappers.rs
  tokio-stream/src/wrappers/interval.rs
  tokio-stream/src/wrappers/lines.rs
  tokio-stream/src/wrappers/mpsc_bounded.rs
  tokio-stream/src/wrappers/mpsc_unbounded.rs
  tokio-stream/src/wrappers/read_dir.rs
  tokio-stream/src/wrappers/split.rs
  tokio-stream/src/wrappers/tcp_listener.rs
  tokio-stream/src/wrappers/unix_listener.rs
  tokio/src/fs/read_dir.rs
  tokio/src/io/util/lines.rs
  tokio/src/io/util/split.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/unix/listener.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/time/interval.rs
Labels: A-tokio-stream

#3374 chore: prepare tokio-stream 0.1.1
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
  tokio-stream/src/lib.rs
Labels: A-tokio-stream

#3376 stream: remove path deps
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#3378 docs: fix tokio-stream features not being displayed
  tokio-stream/Cargo.toml
Labels: A-tokio-stream, T-docs

#3387 Exposing write_buffer on FramedWrite/Framed for consistency with FramedRead
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_write.rs
Labels: A-tokio-util, M-codec

#3369 tokio: wake localset on spawn_local
  tokio/src/task/local.rs
  tokio/tests/task_local_set.rs
Labels: A-tokio, M-task

#3397 docs: test-util feature doesn't enabled with full
  tokio/src/lib.rs
Labels: A-tokio, T-docs

#3385 runtime: fix typo
  tokio/src/runtime/thread_pool/idle.rs
Labels: A-tokio, M-runtime

#3404 macros: fix unused_braces in generated code
  tokio-macros/src/entry.rs
  tokio/tests/macros_test.rs
Labels: A-tokio-macros

#3402 chore: prepare tokio-util v0.6.1 release
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
Labels: A-tokio-util

#3413 util: remove path deps
  .cirrus.yml
  .github/workflows/ci.yml
  examples/Cargo.toml
  tokio-stream/src/wrappers/lines.rs
  tokio-stream/src/wrappers/split.rs
  tokio-util/Cargo.toml
Labels: A-ci, A-tokio-util

#3386 Add tokio 1.0 policies to contributing guide
  CONTRIBUTING.md
Labels: A-tokio

#3414 chore: prepare tokio-stream 0.1.2
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
  tokio-stream/src/lib.rs
Labels: A-tokio-stream

#3418 mpsc: Add `Sender::try_reserve` function
  tokio/src/sync/mpsc/bounded.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, C-enhancement, M-sync

#3314 Minimize the amount of duplicated code in the task harness
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
Labels: A-tokio, M-runtime

#3400 sync: RwLock add try_read and try_write methods
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
  tokio/tests/sync_rwlock.rs
Labels: A-tokio, M-sync

#3428 Fix unsoundness in read_to_end
  .github/workflows/ci.yml
  tokio/src/io/util/read_to_end.rs
Labels: A-tokio, M-io

#3437 Add documentation to process::Child fields
  tokio/src/process/mod.rs
Labels: A-tokio, M-process, T-docs

#3430 docs: Clarified the point about changing the file descriptor underlyi…
  tokio/src/io/async_fd.rs
Labels: A-tokio, M-io, T-docs

#3426 Keep track of initialized bytes in read_to_end
  tokio/src/io/util/mod.rs
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/read_to_string.rs
  tokio/src/io/util/vec_with_initialized.rs
  tokio/tests/io_read_to_end.rs
Labels: A-tokio, M-io

#3444 util: add pollable Semaphore
  tokio-util/Cargo.toml
  tokio-util/src/sync/mod.rs
  tokio-util/src/sync/poll_semaphore.rs
Labels: A-tokio-util, M-sync

#3443 io: add ReadBuf::inner_mut
  tokio/src/io/read_buf.rs
Labels: A-tokio, M-io

#3448 Update datagram docs on splitting
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
Labels: A-tokio, M-net, T-docs

#3434 sync: fix panic in broadcast::Receiver drop
  tokio/src/sync/broadcast.rs
  tokio/src/sync/tests/loom_broadcast.rs
Labels: A-tokio, M-sync

#3270 Fix panics on updating DelayQueue entries
  tokio-util/src/time/delay_queue.rs
  tokio-util/src/time/wheel/level.rs
  tokio-util/src/time/wheel/mod.rs
  tokio-util/tests/time_delay_queue.rs
  tokio/src/time/driver/wheel/level.rs
  tokio/src/time/driver/wheel/mod.rs
Labels: A-tokio-util, M-time

#3390 tests: fix ping pong saturation
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime

#3450 Use a sealed trait to constrain VecWithInitialized
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/read_to_string.rs
  tokio/src/io/util/vec_with_initialized.rs
Labels: A-tokio, M-io

#3453 Prepare tokio-util 0.6.2
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
Labels: A-tokio-util

#3457 Document that Sleep is not Unpin
  tokio/src/time/driver/sleep.rs
Labels: A-tokio, M-time, T-docs

#3456 Add link to PollSemaphore
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, T-docs

#3438 Add LocalSet example
  tokio/src/task/local.rs
Labels: A-tokio, M-task, T-docs

#3207 Upgrade mio dependency
  tokio/Cargo.toml
Labels: A-tokio, C-maintenance, T-v0.2.x

#3458 Improve bounded mpsc documentation
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, M-sync, T-docs

#3462 Prepare Tokio 1.1.0
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/lib.rs
Labels: A-tokio

#3469 Fix the dates in CHANGELOG.md
  tokio/CHANGELOG.md
Labels: A-tokio

#3466 process: allow for ergonomically piping stdio of one child into another
  tests-integration/tests/process_stdio.rs
  tokio/src/io/poll_evented.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/windows.rs
Labels: A-tokio, M-process, relnotes

#3476 Update `Permit` rustdoc to account for `Sender::try_reserve`
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, M-sync, T-docs

#3471 Improve discoverability of TcpSocket
  tokio/src/net/addr.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, M-net, T-docs

#3460 Tokio 0.2.x: Update panic messages to include version
  tokio/src/io/driver/mod.rs
  tokio/src/runtime/handle.rs
  tokio/src/sync/broadcast.rs
  tokio/src/task/spawn.rs
  tokio/src/time/driver/handle.rs
Labels: A-tokio, M-runtime, T-v0.2.x

#3461 Tokio 0.3.x: Update panic messages to include version
  tokio/src/io/driver/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/task/spawn.rs
  tokio/src/time/driver/handle.rs
Labels: A-tokio, T-v0.3.x

#3478 chore: prepare Tokio 0.2.25
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/lib.rs
Labels: A-tokio, T-v0.2.x

#3479 chore: prepare Tokio 0.3.7
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/lib.rs
Labels: A-tokio, T-v0.3.x

#3389 Update documentation to mention possibility of deadlock
  tokio/src/sync/rwlock.rs
Labels: A-tokio, M-sync, T-docs

#3421 process: drop child stdin in `wait()`
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#3477 io: fix memory leak during shutdown
  .github/workflows/ci.yml
  tests-integration/Cargo.toml
  tests-integration/src/bin/test-mem.rs
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/io/driver/registration.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/lib.rs
Labels: A-tokio, M-runtime

#3464 util: add ReusableBoxFuture utility
  tokio-util/src/sync/mod.rs
  tokio-util/src/sync/reusable_box.rs
  tokio-util/tests/reusable_box.rs
Labels: A-tokio-util

#3463 util: use ReusableBoxFuture for PollSemaphore
  tokio-util/Cargo.toml
  tokio-util/src/sync/poll_semaphore.rs
Labels: A-tokio-util, M-sync

#3487 Remove tokio-stream dependency from tokio-util
  tokio-util/Cargo.toml
  tokio-util/src/codec/decoder.rs
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
  tokio-util/src/codec/mod.rs
  tokio-util/src/io/reader_stream.rs
  tokio-util/src/io/stream_reader.rs
  tokio-util/src/udp/frame.rs
Labels: A-tokio-stream, A-tokio-util

#3488 Prepare tokio-util v0.6.3
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
Labels: A-tokio-util
