Repository tokio-rs/tokio, pull requests merged in 2021-12, with the labels that each got.

#4292 Call tcp.set_nonblocking(true) in AsyncFd example.
  tokio/src/io/async_fd.rs
Labels: T-docs, A-tokio, M-io, A-examples

#4293 time: add doc links in entry doc
  tokio/src/time/driver/entry.rs
Labels: T-docs, A-tokio, M-time

#4295 process: Add `as_std()` method to `Command`
  tokio/src/process/mod.rs
  tokio/src/runtime/handle.rs
Labels: A-tokio, M-process

#4303 runtime: fix typo
  tokio/src/runtime/mod.rs
Labels: T-docs, A-tokio, M-runtime

#4304 fix typo in tokio-time document
  tokio/src/time/interval.rs
Labels: T-docs, A-tokio, M-time

#4300 make `tokio::io::empty` cooperative
  tokio/src/io/util/empty.rs
  tokio/tests/io_util_empty.rs
Labels: A-tokio, M-io, M-coop

#4313 chore(util): start v0.7 release cycle
  benches/Cargo.toml
  examples/Cargo.toml
  tokio-stream/Cargo.toml
  tokio-util/Cargo.toml
Labels: A-tokio-util

#4302 tracing: instrument more resources
  tokio/src/macros/cfg.rs
  tokio/src/macros/trace.rs
  tokio/src/sync/barrier.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/rwlock/owned_read_guard.rs
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/owned_write_guard_mapped.rs
  tokio/src/sync/rwlock/read_guard.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/src/sync/rwlock/write_guard_mapped.rs
  tokio/src/sync/semaphore.rs
  tokio/src/time/driver/sleep.rs
  tokio/src/time/interval.rs
  tokio/src/util/trace.rs
Labels: A-tokio, M-sync, M-tracing, R-loom

#4314 make timeout robust against budget-depleting tasks
  tokio/src/coop.rs
  tokio/src/time/timeout.rs
  tokio/tests/time_timeout.rs
Labels: A-tokio, M-time, R-loom

#4320 chore: prepare Tokio v1.15.0 release
  README.md
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio-macros, A-tokio

#4324 net: allow to set linger on TcpSocket
  tokio/src/net/tcp/socket.rs
  tokio/tests/tcp_socket.rs
Labels: A-tokio, M-net

#4307 replace use of `transmute` with pointer manipulations
  tokio/src/io/read_buf.rs
Labels: A-tokio, M-io

#4327 stats: mark stats feature unstable in lib.rs
  tokio/src/lib.rs
Labels: T-docs, A-tokio, M-stats

#4333 chore: make the introduction in examples/Cargo.toml more clear
  examples/Cargo.toml
Labels: T-docs, A-benches

#4352 improve Builder::max_frame_length docs
  tokio-util/src/codec/length_delimited.rs
Labels: T-docs, A-tokio-util, M-codec

#4355 stream: add `StreamExt::then`
  tokio-stream/src/stream_ext.rs
  tokio-stream/src/stream_ext/then.rs
Labels: M-stream, A-tokio-stream

#4358 io: fix clippy lint in `write_all`
  .github/workflows/ci.yml
  tokio/src/io/util/write_all.rs
Labels: A-tokio, M-io

#4270 Update mio to 0.8
  tokio/Cargo.toml
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, M-net

#4361 net: fix build error on master
  tokio/src/net/tcp/socket.rs
Labels: A-tokio, M-net, A-ci

#4364 net: add TcpSocket::take_error
  tokio/src/net/tcp/socket.rs
Labels: A-tokio, M-net

#4363 net: add buffer size methods to UdpSocket
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
Labels: A-tokio, M-net

#4366 net: add tos and set_tos methods to TCP and UDP sockets
  tokio/src/net/tcp/socket.rs
  tokio/src/net/udp.rs
Labels: A-tokio, M-net

#4351 tokio-stream: add `StreamExt::map_while`
  tokio-stream/src/stream_ext.rs
  tokio-stream/src/stream_ext/map_while.rs
Labels: A-tokio-stream

#4359 Don't inherit Send from parking_lot::*Guard
  .github/workflows/ci.yml
  tokio/src/loom/std/parking_lot.rs
Labels: A-tokio

#4342 Add a has_changed function to `watch::Receiver`
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync, R-loom
