Repository tokio-rs/tokio, pull requests merged in 2022-06, with the labels that each got.

#4733 Add 1.18 as LTS release
  README.md
  tokio/README.md
Labels: A-tokio

#4735 Replace non-binding `if let` statements
  tokio/src/sync/notify.rs
Labels: A-tokio, M-sync, R-loom

#4739 net: Add `take_error` to `TcpSocket` and `TcpStream`
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, M-net

#4738 chore: prepare Tokio v1.19.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#4740 chore: fix changelog typo
  tokio/CHANGELOG.md
Labels: A-tokio

#4744 chore: prepare tokio-util 0.7.3
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#4742 chore: prepare tokio-macros 1.8.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/CHANGELOG.md
Labels: A-tokio-macros

#4743 chore: prepare tokio-stream 0.1.9
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#4747 sync: fix panic in `Notified::enable`
  tokio/src/sync/notify.rs
  tokio/tests/sync_notify.rs
Labels: A-tokio, M-sync, R-loom

#4750 chore: prepare Tokio v1.19.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio, M-sync

#4751 sync: fix `will_wake` usage in `Notify`
  tokio/src/sync/notify.rs
  tokio/tests/sync_notify.rs
Labels: A-tokio, M-sync, R-loom

#4754 chore: prepare Tokio v1.19.2
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#4755 joinset: rename `join_one` to `join_next`
  tokio-util/src/task/join_map.rs
  tokio-util/tests/task_join_map.rs
  tokio/src/runtime/tests/loom_join_set.rs
  tokio/src/task/join_set.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/task_join_set.rs
Labels: A-tokio-util, A-tokio, M-task, R-loom

#4761 Improve the documentation for #[tokio::test]
  tokio-macros/src/lib.rs
Labels: T-docs, A-tokio-macros

#4762 fs: Warn about performance pitfall
  tokio/src/fs/mod.rs
Labels: T-docs, A-tokio, M-fs

#4769 chore: fix spelling
  .circleci/config.yml
  tokio-stream/src/stream_ext.rs
  tokio-util/src/codec/decoder.rs
  tokio-util/src/io/stream_reader.rs
  tokio/CHANGELOG.md
  tokio/src/park/mod.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/sync/barrier.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/time/timeout.rs
  tokio/tests/rt_metrics.rs
Labels: T-docs, R-loom

#4764 net: be more specific about winapi features
  tokio/Cargo.toml
Labels: A-tokio, M-net

#4770 rt: unhandled panic config for current thread rt
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/task/local.rs
  tokio/tests/rt_basic.rs
  tokio/tests/task_local_set.rs
Labels: C-enhancement, A-tokio, M-runtime, R-loom

#4680 Improve LocalPoolHandle
  tokio-util/src/task/spawn_pinned.rs
  tokio-util/tests/spawn_pinned.rs
Labels: A-tokio-util, M-task

#4777 sync: document spurious failures in oneshot
  tokio/src/sync/oneshot.rs
  tokio/tests/sync_oneshot.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#4783 joinset: fix loom test without tokio_unstable
  tokio/src/runtime/tests/loom_join_set.rs
Labels: A-tokio, M-task, R-loom

#4791 time: add track_caller to public APIs
  tokio/src/time/clock.rs
  tokio/src/time/driver/handle.rs
  tokio/src/time/driver/sleep.rs
  tokio/tests/time_panic.rs
Labels: A-tokio, M-time

#4794 chore: disable caching for cross jobs
  .github/workflows/ci.yml
Labels: A-ci

#4758 `sync::watch`: Add `has_changed` flag and method to `Ref`
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom

#4795 task: various small improvements to `LocalKey`
  tokio/src/task/task_local.rs
  tokio/tests/task_local.rs
Labels: A-tokio, M-task
