Repository tokio-rs/tokio, pull requests merged in 2022-10, with the labels that each got.

#5066 make copy continue filling the buffer when writer stalls
  benches/Cargo.toml
  benches/copy.rs
  tokio/src/io/util/copy.rs
Labels: A-tokio, M-io

#5071 chore: use `std::AtomicPtr` and `std::AtomicU8`
  tokio/src/loom/std/atomic_ptr.rs
  tokio/src/loom/std/atomic_u16.rs
  tokio/src/loom/std/atomic_u32.rs
  tokio/src/loom/std/atomic_u8.rs
  tokio/src/loom/std/atomic_usize.rs
  tokio/src/loom/std/mod.rs
Labels: A-tokio, M-sync

#5074 coop: fix flaky coop test
  tokio/tests/rt_common.rs
Labels: A-tokio, M-coop

#5078 remove unnecessary `Option` for `mio::Events` in `Driver`
  tokio/src/runtime/io/mod.rs
Labels: A-tokio, M-runtime, R-loom

#5094 chore: release tokio-stream 0.1.11
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#5099 runtime: fix Stacked Borrows violation in `LocalOwnedTasks`
  tokio/src/runtime/task/list.rs
  tokio/src/task/local.rs
Labels: R-loom

#5103 tokio: rename internal thread_local macro
  tokio/src/coop.rs
  tokio/src/fs/mocks.rs
  tokio/src/macros/scoped_tls.rs
  tokio/src/macros/thread_local.rs
  tokio/src/park/thread.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/enter.rs
  tokio/src/task/local.rs
  tokio/src/util/rand.rs
Labels: C-maintenance, A-tokio, R-loom

#5087 macros: don't take ownership of futures in macros
  tokio/src/future/poll_fn.rs
  tokio/src/macros/join.rs
  tokio/src/macros/select.rs
  tokio/src/macros/try_join.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_try_join.rs
Labels: A-tokio, M-macros

#5092 Reduce usage of last statement spans in proc-macros
  tokio-macros/src/entry.rs
Labels: A-tokio-macros

#5105 time: remove Unpin bound on throttle methods
  tokio-stream/src/stream_ext/throttle.rs
Labels: M-time, A-tokio-stream

#5101 stream: document that `throttle` operates on ms granularity
  tokio-stream/src/stream_ext.rs
Labels: T-docs, M-time, A-tokio-stream

#5106 runtime: update the alignment of `CachePadded`
  tokio/src/runtime/time/entry.rs
Labels: A-tokio, M-time, R-loom

#5093 time: panic in release mode when `mark_pending` called illegally
  tokio/src/runtime/time/entry.rs
Labels: A-tokio, M-time, R-loom

#5107 rt: remove a reference to internal time handle
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/park.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/time/mod.rs
Labels: C-maintenance, A-tokio, M-runtime, R-loom

#5118 time: document return type of `timeout`
  tokio/src/time/error.rs
  tokio/src/time/timeout.rs
Labels: T-docs, A-tokio, M-time

#5117 task: document that spawned tasks execute immedaitely
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/task/join.rs
  tokio/src/task/join_set.rs
  tokio/src/task/local.rs
  tokio/src/task/spawn.rs
Labels: T-docs, A-tokio, M-task, R-loom

#5120 rt: misc time driver cleanup
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/handle.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/source.rs
  tokio/src/time/sleep.rs
Labels: A-tokio, M-runtime, R-loom

#5121 rt: move signal driver to runtime module
  tokio/src/macros/cfg.rs
  tokio/src/process/unix/driver.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/signal/mod.rs
  tokio/src/signal/mod.rs
  tokio/src/signal/unix.rs
Labels: C-maintenance, A-tokio, M-runtime, M-signal

#5127 rt: start decoupling I/O driver and I/O handle
  tokio/src/process/unix/mod.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/io/mod.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/process.rs
  tokio/src/runtime/signal/mod.rs
Labels: C-maintenance, A-tokio, M-io, M-runtime

#5128 rt: switch io::handle refs with scheduler:Handle
  tokio/src/io/async_fd.rs
  tokio/src/io/bsd/poll_aio.rs
  tokio/src/io/poll_evented.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/io/mod.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/time/sleep.rs
Labels: C-maintenance, A-tokio, M-io, M-runtime, R-loom

#5134 rt: remove Arc from I/O driver
  tokio/src/runtime/driver.rs
  tokio/src/runtime/io/mod.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/metrics/runtime.rs
Labels: C-maintenance, A-tokio, M-io, M-runtime

#5135 rt: use signal driver handle via scheduler::Handle
  tokio/src/runtime/context.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/signal/mod.rs
  tokio/src/signal/unix.rs
Labels: C-maintenance, A-tokio, M-runtime, M-signal

#5139 rt: move internal clock fns out of context
  tokio/src/runtime/context.rs
  tokio/src/time/clock.rs
Labels: C-maintenance, A-tokio, M-runtime, M-time

#5142 rt: remove rng_seed+mt test and update docs
  tokio/src/runtime/builder.rs
  tokio/tests/rt_threaded.rs
Labels: C-maintenance, A-tokio, M-runtime

#5141 rt: keep driver cfgs in driver.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/time/clock.rs
  tokio/src/time/sleep.rs
Labels: C-maintenance, A-tokio, M-runtime

#5124 expose backpressure_boundary in Framed API
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/codec/framed_write.rs
  tokio-util/tests/framed_write.rs
Labels: A-tokio-util, M-codec

#5126 Doc change for when timeouts may not fire.
  tokio/src/time/timeout.rs
Labels: T-docs, A-tokio, M-time

#5130 Implement Mutex::blocking_lock_owned
  tokio/src/sync/mutex.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#5137 Allow acquiring `n` permits from `PollSemaphore`
  tokio-util/src/sync/poll_semaphore.rs
  tokio-util/tests/poll_semaphore.rs
Labels: A-tokio-util, M-sync, R-loom

#5070 Add `SinkWriter` in analogy to `StreamReader` to `tokio_util`
  tokio-util/src/io/copy_to_bytes.rs
  tokio-util/src/io/mod.rs
  tokio-util/src/io/sink_writer.rs
  tokio-util/tests/io_sink_writer.rs
Labels: A-tokio-util, M-io

#5146 Make channel semaphore types named
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
Labels: A-tokio, M-sync, R-loom

#5138 rt: add a method to determine the flavor of the runtime.
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
Labels: A-tokio, M-runtime, R-loom

#5144 Expose Semaphore::MAX_PERMITS and document it
  tokio-util/src/sync/poll_semaphore.rs
  tokio/src/sync/semaphore.rs
  tokio/tests/sync_semaphore.rs
Labels: A-tokio, M-sync, R-loom

#5143 rt: add runtime::context to unify thread-locals
  tokio/src/lib.rs
  tokio/src/macros/support.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/util/mod.rs
  tokio/src/util/rand.rs
Labels: C-maintenance, A-tokio, M-runtime

#5150 tokio: fix function name in UdpSocket recv doc
  tokio/src/net/udp.rs
Labels: T-docs, A-tokio, M-net

#5145 io: add lines example for `StreamReader`
  tokio-util/src/io/stream_reader.rs
Labels: T-docs, A-tokio-util, M-io

#5151 rt: rename some confusing internal variables/fns
  tokio/src/runtime/context.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/task/local.rs
Labels: C-maintenance, A-tokio, M-runtime
