Repository tokio-rs/tokio, pull requests merged in 2022-02, with the labels that each got.

#4335 Add `JoinSet`
  tokio/Cargo.toml
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/tests/loom_join_set.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/task/join_set.rs
  tokio/src/task/mod.rs
  tokio/src/util/idle_notified_set.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/mod.rs
  tokio/src/util/wake.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/task_join_set.rs
Labels: A-tokio, M-task, R-loom

#4443 io: add test for take bug
  tokio/tests/io_take.rs
Labels: A-tokio, M-io

#4462 rt: remove unnecessary enum in basic_scheduler
  tokio/src/runtime/basic_scheduler.rs
Labels: C-maintenance, A-tokio, M-runtime, R-loom

#4461 time: Eliminate panics from `Instant` arithmetic
  tokio/src/time/instant.rs
Labels: A-tokio, M-time

#4475 metrics: fix build on mips
  tokio/src/macros/cfg.rs
  tokio/src/runtime/metrics/worker.rs
Labels: A-tokio, M-metrics, R-loom

#4476 io: improve safety comment on FillBuf
  tokio/src/io/util/fill_buf.rs
Labels: A-tokio, M-io

#4465 Implement Encoder<BytesMut> for BytesCodec
  tokio-util/src/codec/bytes_codec.rs
  tokio-util/tests/codecs.rs
Labels: A-tokio-util, M-codec

#4241 Remove error case from the infallible DelayQueue::poll_elapsed
  tokio-util/src/time/delay_queue.rs
  tokio-util/tests/time_delay_queue.rs
Labels: A-tokio-util, M-time, S-breaking-change

#4478 io: make duplex stream cooperative (#4470)
  tokio/src/io/util/mem.rs
  tokio/tests/io_mem_stream.rs
Labels: A-tokio, M-io, M-coop

#4483 task: fix missing `#[track_caller]` in `spawn_local`
  tokio/src/task/local.rs
Labels: A-tokio, M-tracing

#4397 chore: test more features with Miri
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tokio/src/fs/file/tests.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/task/waker.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/signal/registry.rs
  tokio/src/signal/reusable_box.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/notify.rs
  tokio/src/time/driver/entry.rs
  tokio/src/time/driver/tests/mod.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/slab.rs
  tokio/src/util/wake.rs
Labels: A-ci, R-loom

#4214 sync: refactored `PollSender<T>` to fix a subtly broken `Sink<T>` implementation
  tokio-util/src/sync/mod.rs
  tokio-util/src/sync/mpsc.rs
  tokio-util/tests/mpsc.rs
Labels: A-tokio-util, R-loom, S-breaking-change

#3762 util: add lifetime parameter to ReusableBoxFuture
  tokio-stream/src/wrappers/broadcast.rs
  tokio-stream/src/wrappers/watch.rs
  tokio-util/src/sync/mpsc.rs
  tokio-util/src/sync/poll_semaphore.rs
  tokio-util/src/sync/reusable_box.rs
Labels: A-tokio-util, M-sync, R-loom, S-breaking-change

#4486 chore: prepare tokio-util 0.7.0
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#4479 doc: Created a simple example for tokio::process::ChildStdin
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio, M-process

#4490 util: bump tokio dependency to 1.6 to satisfy minimal versions
  tokio-util/Cargo.toml
Labels: A-tokio-util

#4492 chore: update minimal mio requirement to 0.7.11
  tokio/Cargo.toml
Labels: A-tokio

#4491 replace deprecated `spin_loop_hint` with `hint::spin_loop`
  tokio/src/loom/std/mod.rs
  tokio/src/sync/task/atomic_waker.rs
Labels: A-tokio, R-loom

#4271 net: use std::future::ready instead of own Ready future
  tokio/src/future/mod.rs
  tokio/src/future/ready.rs
  tokio/src/net/addr.rs
Labels: A-tokio, M-net

#4449 Update to Mio v0.8
  tokio/Cargo.toml
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, M-io

#4497 Fix waker update condition in `CancellationTokenState::check_for_cancellation`
  tokio-util/src/sync/cancellation_token.rs
Labels: A-tokio-util, M-sync, R-loom

#4499 rt: make `JoinSet` unstable
  tokio/src/macros/cfg.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/task/mod.rs
  tokio/src/util/mod.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/task_join_set.rs
Labels: A-tokio, M-task, R-loom

#4480 time: use bit manipulation instead of modulo
  tokio/src/time/driver/wheel/level.rs
Labels: A-tokio, M-time

#4503 task: fix unstable API documentation notes
  tokio/src/task/builder.rs
  tokio/src/task/join_set.rs
Labels: T-docs, A-tokio, M-task

#4519 fix select macro to process 64 branches
  tokio/src/macros/select.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, M-macros

#4310 sync: add `watch::Sender::send_modify` method
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync, R-loom

#4527 ci: fix test not working on wasm
  tokio/tests/sync_watch.rs
Labels: A-tokio, A-ci

#4520 util: fix import path of CancellationToken in example code
  tokio-util/src/sync/cancellation_token.rs
Labels: A-tokio-util, M-sync, R-loom

#4508 Add `length_field_type` to `LengthDelimitedCodec` builder
  tokio-util/src/codec/length_delimited.rs
Labels: A-tokio-util, M-codec

#4531 task: fix missing doc(cfg(...)) attributes for `JoinSet`
  tokio/src/task/join_set.rs
Labels: A-tokio, M-task

#4507 tokio: Add initial io driver metrics
  .gitignore
  tests-integration/Cargo.toml
  tokio/src/io/driver/metrics.rs
  tokio/src/io/driver/mod.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/metrics/io.rs
  tokio/src/runtime/metrics/mod.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/mod.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-io, M-metrics, R-loom

#4530 task: add `AbortHandle` type for cancelling tasks in a `JoinSet`
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/tests/task_combinations.rs
  tokio/src/task/join_set.rs
  tokio/src/task/mod.rs
  tokio/tests/task_join_set.rs
Labels: A-tokio, M-runtime, M-task, C-feature-accepted, R-loom

#4485 recover when OS fails to spawn a new thread
  tokio/src/runtime/blocking/pool.rs
Labels: A-tokio, M-blocking, R-loom

#4524 Improve docs for tokio_unstable.
  .cirrus.yml
  .github/workflows/ci.yml
  tokio/src/lib.rs
Labels: T-docs, A-tokio

#4545 task: fix broken link in `AbortHandle` RustDoc
  tokio/src/runtime/task/abort.rs
Labels: T-docs, A-tokio, M-task

#4539 switch tokio-util from log to tracing
  tokio-util/Cargo.toml
  tokio-util/src/codec/framed_impl.rs
Labels: A-tokio-util

#4540 feat: Add SignalKind Hash/Eq impls and c_int conversion
  tokio/src/signal/unix.rs
Labels: A-tokio, M-signal

#4548 Unbounded receiver docs
  tokio/src/sync/mpsc/unbounded.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#4525 remove `example`'s `Cargo.toml` dependencies path,make example works.
  examples/Cargo.toml
Labels: A-examples
