Repository tokio-rs/tokio, pull requests merged in 2022-12, with the labels that each got.

#5251 rt: fix new yield_now behavior with block_in_place
  tokio/src/runtime/context.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/tests/rt_threaded.rs
Labels: C-bug, A-tokio, M-runtime, R-loom

#5256 chore: move conditional AtomicU64 impl to new file
  Cross.toml
  tokio/src/loom/std/atomic_u64.rs
  tokio/src/loom/std/atomic_u64_as_mutex.rs
Labels: C-maintenance, A-tokio

#5261 Fix documentation in `tokio::sync::watch`
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom

#5264 Add note about current_thread + Handle::block_on
  tokio/src/runtime/runtime.rs
Labels: R-loom

#5265 Impl `std::io::BufRead` on `SyncIoBridge<T>` if `T: AsyncBufRead + Unpin`
  tokio-util/src/io/sync_bridge.rs
Labels: A-tokio-util, M-io

#5231 rt: fix `*_closed` false positives
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/split_owned.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/src/runtime/io/scheduled_io.rs
  tokio/tests/tcp_stream.rs
Labels: A-tokio, M-io, R-loom

#5270 chore: prepare Tokio v1.23 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#5276 chore: update CI's clippy version to 1.65
  .github/workflows/ci.yml
  tokio-macros/src/select.rs
  tokio-stream/src/stream_ext/then.rs
  tokio-util/src/sync/poll_semaphore.rs
  tokio-util/tests/spawn_pinned.rs
  tokio-util/tests/time_delay_queue.rs
  tokio/src/io/util/read.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/unix/split_owned.rs
  tokio/src/runtime/scheduler/multi_thread/queue.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/time/sleep.rs
  tokio/src/util/linked_list.rs
  tokio/tests/buffered.rs
  tokio/tests/io_driver.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_try_join.rs
  tokio/tests/rt_common.rs
  tokio/tests/tcp_peek.rs
Labels: C-maintenance, A-ci, R-loom

#5186 rt: allow configuring I/O events capacity
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/io/mod.rs
Labels: A-tokio, M-io, M-runtime, R-loom

#5257 ci: check task::Id conditional compilation
  .github/workflows/ci.yml
  tokio/tests/_require_full.rs
  tokio/tests/support/panic.rs
  tokio/tests/sync_once_cell.rs
  tokio/tests/task_join_set.rs
Labels: C-maintenance, M-runtime, A-ci

#5280 tokio-util: Remove Encoder bound on FramedParts constructor
  tokio-util/src/codec/framed.rs
Labels: A-tokio-util, M-codec

#5282 rt: implement task::Id using `StaticAtomicU64`
  tokio/src/loom/mocked.rs
  tokio/src/loom/std/atomic_u64.rs
  tokio/src/loom/std/atomic_u64_as_mutex.rs
  tokio/src/loom/std/atomic_u64_native.rs
  tokio/src/loom/std/atomic_u64_static_const_new.rs
  tokio/src/loom/std/atomic_u64_static_once_cell.rs
  tokio/src/loom/std/mod.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/util/once_cell.rs
Labels: C-maintenance, A-tokio, M-runtime, R-loom

#5284 Change flags for having an atomic u64
  tokio/build.rs
  tokio/src/macros/cfg.rs
Labels: A-tokio

#5115 Don't auto-advance time when a spawn_blocking task is running.
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/tests/loom_blocking.rs
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/time/clock.rs
  tokio/tests/task_blocking.rs
Labels: A-tokio, M-task, M-time, R-loom

#5302 metrics: make `num_idle_blocking_threads` test less flaky
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics

#5248 task: refactor: rename State::has_join_waker to State::is_join_waker_set
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/state.rs
Labels: A-tokio, M-runtime, R-loom

#5303 signal: remove redundant Pin around globals
  tokio/src/signal/registry.rs
  tokio/src/signal/unix.rs
Labels: A-tokio, M-signal

#4250 feat(rt): read default worker thread from env
  tokio/src/lib.rs
  tokio/src/loom/std/mod.rs
  tokio/src/runtime/builder.rs
Labels: A-tokio, M-runtime, R-loom

#5316 ci: remove uses of unmaintained actions-rs actions
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/loom.yml
  .github/workflows/pr-audit.yml
  .github/workflows/stress-test.yml
Labels: A-ci

#5306 sync: document that there is no spsc and spmc channel
  tokio/src/sync/broadcast.rs
  tokio/src/sync/mod.rs
  tokio/src/sync/mpsc/mod.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#5314 chore: fix typo in `process::imp::Pipe` comment
  tokio/src/process/unix/mod.rs
Labels: T-docs, A-tokio, M-process

#5320 ci: update Swatinem/rust-cache action to v2
  .github/workflows/ci.yml
  .github/workflows/loom.yml
  .github/workflows/stress-test.yml
Labels: A-ci

#5300 remove frequent global is_shutdown flag check on io operations
  tokio/docs/reactor-refactor.md
  tokio/src/runtime/io/mod.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/io/scheduled_io.rs
Labels: A-tokio, M-time, T-performance, R-loom

#5309 fs: use chunks in `fs::read_dir`
  tokio/src/fs/read_dir.rs
Labels: A-tokio, M-fs

#5322 tests: fix SB violation in LeakedBuffers
  tokio/tests/support/leaked_buffers.rs
Labels: A-tokio

#5325 ci: update cargo-check-external-types to 0.1.6
  .github/workflows/ci.yml
Labels: A-ci

#5327 rt: move task::Id into its own file
  .github/workflows/ci.yml
  tokio/src/runtime/task/id.rs
  tokio/src/runtime/task/mod.rs
Labels: C-maintenance, A-tokio, M-runtime

#5329 rt: use internal ThreadId implementation
  tokio/src/runtime/context.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/thread_id.rs
  tokio/src/task/local.rs
  tokio/tests/rt_metrics.rs
Labels: C-maintenance, A-tokio, M-runtime
