Repository tokio-rs/tokio, pull requests merged in 2022-01, with the labels that each got.

#4372 util: add mutable reference getters for codecs to pinned `Framed`
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
Labels: A-tokio-util, M-codec

#4376 test: fix version requirement of tokio-stream
  tokio-test/Cargo.toml
Labels: A-tokio-test

#4377 rt: refactor current-thread scheduler
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/loom_basic_scheduler.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/util/atomic_cell.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-runtime, R-loom

#4227 examples: update `tracing-subscriber` to 0.3
  .cargo/audit.toml
  examples/Cargo.toml
Labels: M-tracing, A-examples

#4386 Edit API Docs to reference using port 0 on UDPSocket
  tokio/src/net/udp.rs
Labels: A-tokio, M-net

#4384 add UnwindSafe impls to UdpSocket
  tokio/src/io/poll_evented.rs
  tokio/tests/net_types_unwind.rs
Labels: A-tokio, M-net

#4170 Add shrink_to_fit and compact methods to DelayQueue
  tokio-util/Cargo.toml
  tokio-util/src/time/delay_queue.rs
  tokio-util/src/time/wheel/mod.rs
  tokio-util/src/time/wheel/stack.rs
  tokio-util/tests/time_delay_queue.rs
Labels: A-tokio-util, M-time

#4315 process: drop pipe after child exits in `wait_with_output`
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#4360 watch: document recursive `borrow` deadlock
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#4334 Add blocking_recv method to oneshot::Receiver
  tokio/src/sync/oneshot.rs
Labels: A-tokio, M-sync, R-loom

#4394 Revert "rt: refactor current-thread scheduler (#4377)"
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/loom_basic_scheduler.rs
  tokio/src/runtime/thread_pool/atomic_cell.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/util/mod.rs
Labels: R-loom

#4393 chore: test hyper on CI
  .github/workflows/ci.yml
Labels: A-ci

#4395 rt: refactor current-thread scheduler (take 2)
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/loom_basic_scheduler.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/util/atomic_cell.rs
  tokio/src/util/mod.rs
  tokio/tests/rt_basic.rs
Labels: R-loom

#4396 ci: upgrade to new nightly
  .cirrus.yml
  .github/workflows/ci.yml
Labels: A-ci

#4398 Add better error message when spawning blocking threads
  tokio/src/runtime/blocking/pool.rs
Labels: A-tokio, M-runtime

#4401 chore: fix ci to track Rust 1.58
  tests-build/tests/fail/macros_type_mismatch.stderr
Labels: A-ci

#4383 rt: reduce no-op wakeups in the multi-threaded scheduler
  tokio/src/runtime/thread_pool/idle.rs
  tokio/src/runtime/thread_pool/worker.rs
Labels: A-tokio, M-runtime, R-loom

#4373 runtime: expand on runtime metrics
  tokio/Cargo.toml
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/metrics/batch.rs
  tokio/src/runtime/metrics/mock.rs
  tokio/src/runtime/metrics/mod.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/scheduler.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/queue.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/stats/mock.rs
  tokio/src/runtime/stats/mod.rs
  tokio/src/runtime/stats/stats.rs
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/tests/rt_basic.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_threaded.rs
Labels: R-loom

#4417 chore: setup ARM CI with CircleCI
  .circleci/config.yml
Labels: A-ci

#4418 runtime: mark JoinHandle as UnwindSafe (#4414)
  tokio/src/runtime/task/join.rs
  tokio/tests/unwindsafe.rs
Labels: A-tokio, M-task, R-loom

#4316 Guarantee that `File::write_all` writes all data (or at least tries)
  tokio/src/blocking.rs
  tokio/src/fs/file.rs
  tokio/src/fs/mocks.rs
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/loom_blocking.rs
  tokio/src/task/builder.rs
Labels: A-tokio, M-fs, M-runtime, M-task, R-loom

#4428 Fix `take` when using evil reader
  tokio/src/io/util/take.rs
  tokio/tests/io_take.rs
Labels: A-tokio, M-io

#4427 feat: implement `Framed::map_codec`
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
  tokio-util/tests/framed.rs
  tokio-util/tests/framed_read.rs
  tokio-util/tests/framed_write.rs
Labels: A-tokio-util, M-codec

#4421 Enable running wasm32-unknown-unknown tests
  .github/workflows/ci.yml
  tokio/Cargo.toml
  tokio/src/coop.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/sync/tests/atomic_waker.rs
  tokio/src/sync/tests/notify.rs
  tokio/src/sync/tests/semaphore_batch.rs
  tokio/src/util/linked_list.rs
  tokio/tests/_require_full.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_pin.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_test.rs
  tokio/tests/macros_try_join.rs
  tokio/tests/net_lookup_host.rs
  tokio/tests/no_rt.rs
  tokio/tests/sync_barrier.rs
  tokio/tests/sync_broadcast.rs
  tokio/tests/sync_errors.rs
  tokio/tests/sync_mpsc.rs
  tokio/tests/sync_mutex.rs
  tokio/tests/sync_mutex_owned.rs
  tokio/tests/sync_notify.rs
  tokio/tests/sync_oneshot.rs
  tokio/tests/sync_rwlock.rs
  tokio/tests/sync_semaphore.rs
  tokio/tests/sync_semaphore_owned.rs
  tokio/tests/sync_watch.rs
  tokio/tests/task_local.rs
Labels: A-tokio, A-ci, R-loom

#4385 Add generic trait to combine UnixListener and TcpListener
  tokio-util/src/lib.rs
  tokio-util/src/net/mod.rs
  tokio-util/src/net/unix/mod.rs
Labels: A-tokio-util

#4425 Add blocking lock methods to `RwLock`
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
Labels: A-tokio, M-sync, R-loom

#3370 Add spawn_pinned to tokio-util
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
  tokio-util/src/task/mod.rs
  tokio-util/src/task/spawn_pinned.rs
  tokio-util/tests/spawn_pinned.rs
Labels: A-tokio-util, M-task, C-feature-request

#4431 chore: prepare Tokio v1.16 release.
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#4437 io: fix take pointer check
  tokio/src/io/util/take.rs
Labels: A-tokio, M-io

#4430 runtime: swallow panics in drop(join_handle)
  tokio/src/runtime/task/harness.rs
  tokio/tests/join_handle_panic.rs
Labels: A-tokio, M-runtime, R-loom

#4441 adjusted feature name in tests
  tokio-stream/tests/stream_timeout.rs
  tokio-stream/tests/time_throttle.rs
Labels: A-tokio-stream

#4436 rt: reduce an unnecessary lock operation
  tokio/src/runtime/blocking/pool.rs
Labels: A-tokio, M-runtime, R-loom

#4453 Add fetch_add for AtomicU64
  tokio/src/loom/std/atomic_u64.rs
Labels: A-tokio, M-stats

#4457 chore: increase MSRV to 1.49.
  .clippy.toml
  .github/workflows/ci.yml
  README.md
  tokio-macros/Cargo.toml
  tokio-stream/Cargo.toml
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
  tokio/Cargo.toml
  tokio/README.md
Labels: C-maintenance, A-ci
