Repository tokio-rs/tokio, pull requests merged in 2022-04, with the labels that each got.

#4592 Import tracing without the default attributes feature
  tokio-util/Cargo.toml
Labels: A-tokio, M-tracing

#4601 stream: expose Timeout
  tokio-stream/src/lib.rs
Labels: M-time, A-tokio-stream

#4567 Update Handle::current to mention EnterGuard
  tokio/src/runtime/handle.rs
Labels: M-runtime, A-examples, R-loom

#4560 Add Clone to RecvError types
  tokio-stream/src/wrappers/broadcast.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/mpsc/error.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom

#4616 blocking: #[track_caller] for spawn_blocking
  tokio/src/runtime/blocking/pool.rs
Labels: A-tokio, M-blocking, R-loom

#4620 Update FreeBSD CI image to 12.3. 12.2 is EoL.
  .cirrus.yml
Labels: A-ci

#4622 chore: add panic documentation for `tokio::sync::broadcast::channel`
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#4613 macros: custom crate name for #[tokio::main] and #[tokio::test]
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
  tokio/tests/macros_rename_test.rs
Labels: A-tokio-macros

#4629 rt: internally split Handle into two structs
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/park.rs
  tokio/src/runtime/thread_pool/queue.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/task/builder.rs
Labels: C-maintenance, A-tokio, M-runtime, R-loom

#4626 Add `add_try_buf` for `net::windows::named_pipe::{NamedPipeClient, NamedPipeServer}`
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#4632 fix some typos
  tokio/src/io/stdio_common.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/thread_pool/worker.rs
Labels: T-docs, A-tokio, R-loom

#4634 docs: Signal::recv is cancel-safe
  tokio/src/macros/select.rs
  tokio/src/signal/unix.rs
Labels: T-docs, A-tokio, M-signal

#4630 task: add task IDs
  tokio/Cargo.toml
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/error.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/src/task/join_set.rs
  tokio/src/task/local.rs
  tokio/src/task/mod.rs
  tokio/src/task/spawn.rs
  tokio/src/util/trace.rs
Labels: C-enhancement, A-tokio, M-task, R-loom

#4640 util: implement `JoinMap`
  .cargo/config
  README.md
  tokio-util/Cargo.toml
  tokio-util/src/task/join_map.rs
  tokio-util/src/task/mod.rs
  tokio-util/tests/task_join_map.rs
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/runtime/task/abort.rs
Labels: A-tokio-util, M-task, R-loom

#4641 tokio: prepare to release v1.18.0
  tokio/CHANGELOG.md
Labels: A-tokio

#4636 macros: always emit return statement
  tests-build/tests/fail/macros_core_no_default.stderr
  tests-build/tests/fail/macros_dead_code.stderr
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tests-build/tests/fail/macros_type_mismatch.rs
  tests-build/tests/fail/macros_type_mismatch.stderr
  tokio-macros/src/entry.rs
Labels: A-tokio-macros
