Repository tokio-rs/tokio, pull requests merged in 2022-08, with the labels that each got.

#4877 net: add tos and set_tos methods to TCP and UDP sockets
  tokio/src/net/tcp/socket.rs
  tokio/src/net/udp.rs
Labels: A-tokio, M-net

#4886 Add #[must_use] to lock guards
  benches/sync_rwlock.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock/read_guard.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/tests/sync_mutex.rs
  tokio/tests/sync_panic.rs
  tokio/tests/sync_rwlock.rs
Labels: A-tokio, M-sync, R-loom

#4883 doc: update clippy command in contribution guide
  CONTRIBUTING.md
Labels: T-docs

#4882 net: add device and bind_device methods to TCP/UDP sockets
  tokio/src/net/tcp/socket.rs
  tokio/src/net/udp.rs
Labels: A-tokio, M-net

#4893 Only use a single `to` in `AsyncSeekExt::rewind`'s documentation
  tokio/src/io/util/async_seek_ext.rs
Labels: T-docs, A-tokio, M-io

#4898 signal: don't register write interest on signal pipe
  tokio/src/signal/unix/driver.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-signal

#4897 Change panic on seeking busy file to error.
  tokio/src/fs/file.rs
  tokio/src/fs/file/tests.rs
Labels: A-tokio, M-fs

#4896 Remove unused lifetime on Semaphore impl
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync

#4901 task: add cancel safety docs to `JoinHandle`
  tokio/src/runtime/task/join.rs
Labels: T-docs, A-tokio, M-task, R-loom

#4905 ci: fix new error output from rustc 1.63.0
  tests-build/README.md
  tests-build/tests/fail/macros_core_no_default.stderr
  tests-build/tests/fail/macros_dead_code.stderr
Labels: A-ci

#4906 Link to GitHub discussions on "new issue" page
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
Labels: A-readme

#4907 docs: add changelog links to readme
  README.md
  tokio/README.md
Labels: A-readme

#4903 ci: upgrade nightly to `nightly-2022-07-25`
  .github/workflows/ci.yml
Labels: A-ci

#4904 channel: add max_capacity method
  tokio/src/sync/mpsc/bounded.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom

#4922 docs: fix indent of `tokio::sync::watch` example code
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, R-loom

#4920 chore: stabilize JoinSet and AbortHandle
  tokio-util/src/task/join_map.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/task/join_set.rs
  tokio/src/task/mod.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-task

#4931 io: remove `PollEvented` docs reference to `clear_read_ready`
  tokio/src/io/poll_evented.rs
Labels: T-docs, A-tokio, M-io

#4933 doc: correct `cargo doc` command in contrib guide
  CONTRIBUTING.md
Labels: A-readme

#4935 rt, refactor: extract basic_scheduler::Config
  tokio/src/runtime/basic_scheduler.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/thread_pool/mod.rs
  tokio/src/runtime/thread_pool/worker.rs
Labels: C-maintenance, A-tokio, M-runtime, R-loom

#4938 util: add shutdown() to SyncIoBridge
  tokio-util/src/io/sync_bridge.rs
  tokio-util/tests/io_sync_bridge.rs
Labels: A-tokio-util, M-io

#4936 rt: add unstable option to disable the LIFO slot
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/thread_pool/worker.rs
  tokio/tests/rt_threaded.rs
Labels: A-tokio, M-runtime, R-loom

#4937 net: add documentation to `try_read()` for zero-length buffers
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/split_owned.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
Labels: T-docs, A-tokio, M-net

#4942 rt: move I/O driver into `runtime` module
  tokio/src/io/async_fd.rs
  tokio/src/io/bsd/poll_aio.rs
  tokio/src/io/interest.rs
  tokio/src/io/mod.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/ready.rs
  tokio/src/lib.rs
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/io/metrics.rs
  tokio/src/runtime/io/mod.rs
  tokio/src/runtime/io/platform.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/io/scheduled_io.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/signal/unix/driver.rs
Labels: C-maintenance, A-tokio, M-io, M-runtime, R-loom

#4945 rt, chore: rename internal scheduler types
  tokio/src/lib.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/idle.rs
  tokio/src/runtime/scheduler/multi_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/park.rs
  tokio/src/runtime/scheduler/multi_thread/queue.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/spawner.rs
  tokio/src/runtime/tests/loom_current_thread_scheduler.rs
  tokio/src/runtime/tests/loom_queue.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/task/blocking.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_panic.rs
  tokio/tests/sync_panic.rs
  tokio/tests/task_abort.rs
  tokio/tests/task_blocking.rs
  tokio/tests/task_local_set.rs
  tokio/tests/time_panic.rs
  tokio/tests/time_rt.rs
Labels: C-maintenance, A-tokio, M-runtime

#4951 Adds a comment to Interval.tick() example
  tokio/src/time/interval.rs
Labels: T-docs, A-tokio, M-time

#4956 signal: make `SignalKind` methods const
  tokio/src/signal/unix.rs
Labels: A-tokio, M-signal

#4953 fix incorrect signature in task::Builder::spawn_on
  tokio/src/task/builder.rs
Labels: A-tokio, M-task

#4924 Feature: Add more windows signal handlers
  tokio/src/signal/windows.rs
  tokio/src/signal/windows/stub.rs
  tokio/src/signal/windows/sys.rs
Labels: A-tokio, M-signal

#4960 task: fix warning
  tokio/src/signal/windows/sys.rs
  tokio/src/task/join_set.rs
Labels: A-tokio, M-task
