Repository tokio-rs/tokio, pull requests merged in 2022-07, with the labels that each got.

#4806 signal: add track_caller to public APIs
  tokio/src/signal/unix.rs
  tokio/src/signal/unix/driver.rs
  tokio/tests/signal_panic.rs
Labels: A-tokio, M-signal

#4808 sync: add track_caller to public APIs
  tokio/src/future/block_on.rs
  tokio/src/runtime/enter.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/rwlock.rs
  tokio/tests/sync_panic.rs
Labels: A-tokio, M-sync, R-loom

#4823 Make `task::Builder::spawn*` methods fallible
  tokio/src/runtime/blocking/mod.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/task/builder.rs
  tokio/src/task/join_set.rs
  tokio/tests/task_builder.rs
Labels: A-tokio, M-runtime, R-loom

#4831 Merge 1.20.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#4811 `spawn_blocking`: Expand on cancellation a bit
  tokio/src/task/blocking.rs
Labels: T-docs, A-tokio, M-task

#4765 Add LocalSet::enter (#4736)
  tokio/src/task/local.rs
  tokio/src/task/mod.rs
  tokio/tests/task_local_set.rs
Labels: A-tokio, M-task

#4833 chore: allow miri to use latest nightly once again
  .github/workflows/ci.yml
Labels: A-ci

#4841 tokio: avoid temporary references in Link impls
  tokio/build.rs
  tokio/src/io/driver/scheduled_io.rs
  tokio/src/macros/addr_of.rs
  tokio/src/macros/mod.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/notify.rs
  tokio/src/time/driver/entry.rs
  tokio/src/util/idle_notified_set.rs
Labels: A-tokio, R-loom

#4805 net: add track_caller to public APIs
  tokio/src/io/poll_evented.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/src/runtime/context.rs
  tokio/tests/net_panic.rs
Labels: A-tokio, M-net, R-loom

#4843 runtime: move owned field to Trailer
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
Labels: A-tokio, M-runtime, R-loom

#4845 net: Add security flags to ServerOptions
  tokio/Cargo.toml
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#4848 task: add track_caller to public APIs
  tokio/src/runtime/mod.rs
  tokio/src/task/local.rs
  tokio/src/task/task_local.rs
  tokio/tests/task_panic.rs
Labels: A-tokio, M-task, R-loom

#4852 io: add track_caller caller to no-rt io driver
  tokio/src/io/driver/mod.rs
Labels: A-tokio, M-io

#4824 process: use blocking threadpool for child stdio I/O
  tokio/Cargo.toml
  tokio/src/io/blocking.rs
  tokio/src/io/poll_evented.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/windows.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/handle.rs
Labels: A-tokio, M-process, R-loom

#4849 doc: remove incorrect panic section for Builder::worker_threads
  tokio/src/runtime/builder.rs
Labels: R-loom

#4854 process: revert test_cat to use blocking I/O
  tests-integration/Cargo.toml
  tests-integration/src/bin/test-cat.rs
  tests-integration/tests/process_stdio.rs
Labels: A-tokio, M-process

#4858 Spelling
  .github/workflows/stress-test.yml
  CONTRIBUTING.md
  SECURITY.md
  tokio-test/src/macros.rs
  tokio-util/src/sync/cancellation_token/tree_node.rs
  tokio-util/src/sync/tests/loom_cancellation_token.rs
  tokio-util/src/time/delay_queue.rs
  tokio-util/tests/framed_write.rs
  tokio-util/tests/sync_cancellation_token.rs
  tokio/docs/reactor-refactor.md
  tokio/src/coop.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/waker.rs
  tokio/src/sync/watch.rs
  tokio/src/task/consume_budget.rs
  tokio/src/task/local.rs
  tokio/src/time/driver/entry.rs
  tokio/src/time/driver/tests/mod.rs
  tokio/src/time/interval.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_try_join.rs
  tokio/tests/rt_common.rs
  tokio/tests/sync_semaphore.rs
  tokio/tests/sync_semaphore_owned.rs
Labels: R-loom

#4860 chore: fix version detection in build script
  tokio/build.rs
  tokio/src/macros/thread_local.rs
  tokio/src/task/task_local.rs
Labels: A-tokio

#4863 chore: fix version detection for `addr_of`
  tokio/build.rs
Labels: A-tokio

#4840 io: reduce syscalls in poll_read
  tokio/src/io/driver/registration.rs
  tokio/src/io/poll_evented.rs
Labels: A-tokio, M-io

#4864 chore: use target_family wasm instead of wasm32
  tokio/Cargo.toml
  tokio/src/coop.rs
  tokio/src/io/driver/registration.rs
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/sync/tests/atomic_waker.rs
  tokio/src/sync/tests/notify.rs
  tokio/src/sync/tests/semaphore_batch.rs
  tokio/src/util/linked_list.rs
  tokio/tests/_require_full.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_pin.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_try_join.rs
  tokio/tests/sync_barrier.rs
  tokio/tests/sync_broadcast.rs
  tokio/tests/sync_errors.rs
  tokio/tests/sync_mpsc.rs
  tokio/tests/sync_mutex.rs
  tokio/tests/sync_mutex_owned.rs
  tokio/tests/sync_notify.rs
  tokio/tests/sync_oneshot.rs
  tokio/tests/sync_rwlock.rs
  tokio/tests/sync_semaphore.rs
  tokio/tests/sync_semaphore_owned.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, R-loom, T-wasm

#4595 Implement Weak version of mpsc::Sender
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/mod.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom

#4857 Scope workflows
  .github/workflows/labeler.yml
  .github/workflows/loom.yml
Labels: A-ci
