Repository tokio-rs/tokio, pull requests merged in 2022-11, with the labels that each got.

#5154 sync: make Notify panic safe
  tokio/src/sync/notify.rs
  tokio/tests/unwindsafe.rs
Labels: A-tokio, M-sync, R-loom

#5152 rt: move `coop` mod into `runtime`
  tokio/src/io/util/empty.rs
  tokio/src/io/util/mem.rs
  tokio/src/lib.rs
  tokio/src/park/thread.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/blocking/task.rs
  tokio/src/runtime/coop.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/task/join.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/oneshot.rs
  tokio/src/task/consume_budget.rs
  tokio/src/task/local.rs
  tokio/src/task/unconstrained.rs
  tokio/src/time/sleep.rs
  tokio/src/time/timeout.rs
Labels: C-maintenance, A-tokio, M-runtime, M-coop

#5155 rt: rm coop::budget from `LocalSet::run_until`
  tokio/src/task/local.rs
  tokio/tests/task_local_set.rs
Labels: C-maintenance, A-tokio, M-task

#5157 rt: move budget state to context thread-local
  tokio/src/runtime/context.rs
  tokio/src/runtime/coop.rs
  tokio/src/runtime/mod.rs
Labels: C-maintenance, A-tokio, M-runtime, M-coop, R-loom

#5158 rt: move park logic into runtime module
  tokio/src/future/block_on.rs
  tokio/src/lib.rs
  tokio/src/park/mod.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/park.rs
  tokio/src/sync/mpsc/chan.rs
Labels: C-maintenance, A-tokio, M-runtime

#5159 rt: move `Runtime` into its own file
  tokio/src/lib.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/multi_thread/mod.rs
Labels: C-maintenance, A-tokio, M-runtime

#5160 chore: typo in TryLockError for RwLock::try_write
  tokio/src/sync/mutex.rs
Labels: R-loom

#5164 chore: fix tests for Rust 1.65 release
  .github/workflows/ci.yml
  tokio/tests/macros_join.rs
Labels: C-maintenance, A-tokio

#5163 rt: unify entering a runtime with Handle::enter
  tokio/src/future/block_on.rs
  tokio/src/runtime/blocking/shutdown.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/multi_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: C-maintenance, A-tokio, M-runtime

#5165 sync: fix copy-paste error for `AtomicWaker`
  tokio/src/sync/tests/atomic_waker.rs
Labels: A-tokio, M-sync, R-loom

#5161 runtime: export metrics about the blocking thread pool
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics, R-loom

#5166 rt: remove handle reference from each scheduler
  tokio/src/runtime/builder.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/mod.rs
Labels: C-maintenance, A-tokio, M-runtime

#5167 rt: move `enter` into `context`
  tokio/src/future/block_on.rs
  tokio/src/runtime/blocking/shutdown.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/enter.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/multi_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/task/local.rs
Labels: C-maintenance, A-tokio, M-runtime

#5169 chore: fix typo in expect message
  tokio/src/future/block_on.rs
Labels: T-docs, A-tokio, M-runtime

#5173 chore: bump clippy version
  .github/workflows/ci.yml
  tokio-stream/src/stream_ext/collect.rs
  tokio-stream/src/stream_ext/timeout.rs
  tokio-stream/src/wrappers/broadcast.rs
  tokio-util/src/time/delay_queue.rs
  tokio-util/tests/context.rs
  tokio-util/tests/sync_cancellation_token.rs
  tokio/src/io/ready.rs
  tokio/src/lib.rs
  tokio/src/macros/thread_local.rs
  tokio/src/net/addr.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/runtime/io/mod.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/once_cell.rs
  tokio/src/sync/oneshot.rs
  tokio/src/time/error.rs
  tokio/tests/fs_file.rs
  tokio/tests/io_buf_writer.rs
  tokio/tests/io_mem_stream.rs
  tokio/tests/macros_test.rs
  tokio/tests/sync_mpsc.rs
  tokio/tests/task_local.rs
  tokio/tests/task_panic.rs
  tokio/tests/tcp_split.rs
  tokio/tests/time_sleep.rs
  tokio/tests/udp.rs
  tokio/tests/uds_datagram.rs
Labels: A-ci, R-loom

#5174 ci: update miri flags
  .github/workflows/ci.yml
Labels: A-ci

#5175 runtime: fix `unsync_load` on atomic types
  tokio/src/loom/std/atomic_u16.rs
  tokio/src/loom/std/atomic_u32.rs
  tokio/src/loom/std/atomic_usize.rs
  tokio/src/runtime/tests/queue.rs
Labels: A-tokio, M-runtime, R-loom

#5172 task: elaborate safety comments in task deallocation
  tokio/src/runtime/task/harness.rs
Labels: A-tokio, M-runtime, R-loom

#5168 rt: combine context and entered thread-locals
  tokio/src/runtime/context.rs
Labels: C-maintenance, A-tokio, M-runtime

#5178 rt: fix accidental unsetting of current handle
  tokio/src/runtime/context.rs
  tokio/tests/rt_common.rs
Labels: C-maintenance, A-tokio, M-runtime

#5182 rt: move CoreStage functions to Core
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
Labels: A-tokio, M-runtime, R-loom

#5179 rt: fix `LocalSet` drop in thread local
  tokio/src/runtime/context.rs
  tokio/src/runtime/coop.rs
  tokio/src/task/local.rs
  tokio/src/util/mod.rs
  tokio/src/util/vec_deque_cell.rs
  tokio/tests/task_local_set.rs
Labels: C-bug, A-tokio, M-task

#5189 sync: implement Weak version of mpsc::UnboundedSender
  tokio/src/sync/mpsc/mod.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/tests/sync_mpsc.rs
  tokio/tests/sync_mpsc_weak.rs
Labels: A-tokio, M-sync, R-loom

#5171 rt: add a method to retrieve task id
  tokio-util/src/task/join_map.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/error.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/task/mod.rs
  tokio/tests/task_id.rs
Labels: A-tokio, M-task, R-loom

#5190 chore: fix compilation on master
  tokio/tests/sync_mpsc_weak.rs
Labels: A-ci

#5191 net: remove libc type leakage in a public API.
  tokio/src/net/unix/mod.rs
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net

#5197 Remove libc types from external types allow list
  tokio/external-types.toml
Labels: A-tokio, A-ci

#5203 chore: prepare Tokio v1.22.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#5196 ci: run tests on ARM and i686 using cross
  .github/workflows/ci.yml
  tokio/tests/rt_common.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/task_local_set.rs
  tokio/tests/tcp_connect.rs
  tokio/tests/tcp_socket.rs
Labels: A-ci

#5208 net: fix named pipe connect
  tokio/src/net/windows/named_pipe.rs
  tokio/tests/net_named_pipe.rs
Labels: A-tokio, M-net

#5215 doc: update `parking_lot` info in feature list
  tokio/src/lib.rs
Labels: T-docs, A-tokio, M-sync

#5216 process: expose AW::poll_write_vectored on unix
  tests-integration/Cargo.toml
  tests-integration/tests/process_stdio.rs
  tokio/src/io/poll_evented.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
Labels: A-tokio, M-process

#5153 Impl `tokio_util::sync::WaitForCancellationFutureOwned`
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/src/sync/mod.rs
  tokio-util/src/sync/tests/loom_cancellation_token.rs
  tokio-util/tests/sync_cancellation_token.rs
Labels: A-tokio-util, M-sync, R-loom

#5213 runtime: reduce codegen per task
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/join.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/task/waker.rs
Labels: A-tokio, M-runtime, R-loom

#5204 Port to `windows-sys`
  examples/Cargo.toml
  examples/named-pipe-multi-client.rs
  tokio/Cargo.toml
  tokio/src/doc/mod.rs
  tokio/src/doc/winapi.rs
  tokio/src/fs/open_options.rs
  tokio/src/lib.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/src/process/windows.rs
  tokio/src/signal/windows.rs
  tokio/src/signal/windows/sys.rs
  tokio/tests/net_named_pipe.rs
  tokio/tests/process_raw_handle.rs
Labels: A-tokio, M-fs, M-net, M-process, M-signal

#5224 fix a typo
  tokio/src/runtime/signal/mod.rs
Labels: T-docs, A-tokio, M-signal, R-loom

#5219 examples: update hello world comment
  examples/hello_world.rs
Labels: T-docs, A-examples

#5226 Add tokio_no_atomic_u64 cfg
  .github/workflows/ci.yml
  target-specs/i686-unknown-linux-gnu.json
  tokio/src/macros/cfg.rs
Labels: A-tokio, A-ci

#5221 net: do not mention sockets in named pipe docs
  tokio/src/net/windows/named_pipe.rs
Labels: T-docs, A-tokio, M-net

#5217 task: fix the incomplete/wrong description of JOIN_WAKER bit.
  tokio/src/runtime/task/mod.rs
Labels: T-docs, A-tokio, M-runtime, R-loom

#5236 tests: fix a typo
  tokio/tests/async_send_sync.rs
Labels: T-docs, A-tokio

#5244 macros: fix span of body variable
  tokio-macros/src/entry.rs
  tokio/tests/macros_test.rs
Labels: A-tokio-macros

#5246 chore: prepare tokio-macros v1.8.2
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio-macros

#5223 rt: yield_now defers task until after driver poll
  .github/workflows/loom.yml
  tokio/src/runtime/context.rs
  tokio/src/runtime/defer.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/park.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/tests/loom_yield.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/task/yield_now.rs
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime, R-loom
