Repository tokio-rs/tokio, pull requests merged in 2022-03, with the labels that each got.

#4553 Use with_capacity
  tokio/src/runtime/thread_pool/worker.rs
Labels: A-tokio, M-runtime, R-loom

#4543 Rename `tokio::select!`'s internal `util` module to `__tokio_select_util`
  tokio/src/macros/select.rs
Labels: A-tokio, M-macros

#4502 stream: expose `Elapsed`
  tokio-stream/src/lib.rs
  tokio-stream/src/stream_ext.rs
Labels: M-time, A-tokio-stream

#4511 Include more documentation for thread_pool/worker
  tokio/src/runtime/thread_pool/worker.rs
Labels: T-docs, A-tokio, M-runtime, R-loom

#4555 tokio: add support for signals up to SIGRTMAX
  tokio/src/signal/registry.rs
  tokio/src/signal/unix.rs
Labels: A-tokio, M-signal

#4542 Add a method on Receiver that gives information on queue status in broadcast channel
  tokio/src/sync/broadcast.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, M-sync, R-loom

#4558 chore: fix a bunch of annoying clippy lints
  tokio/src/io/driver/mod.rs
  tokio/src/net/addr.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/sync/barrier.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/oneshot.rs
  tokio/src/time/driver/sleep.rs
  tokio/tests/sync_mutex.rs
  tokio/tests/sync_mutex_owned.rs
Labels: A-tokio, R-loom

#4562 ci: run doctests for unstable APIs
  .github/workflows/ci.yml
  tokio/src/runtime/metrics/runtime.rs
Labels: R-loom

#4559 Add method that exposes the internal buffer of StreamReader
  tokio-util/src/io/stream_reader.rs
Labels: A-tokio-util, M-io

#4581 sync: add `watch::Receiver::same_channel`
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#4582 Make try_io methods call mio's try_io internally
  tokio/Cargo.toml
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
Labels: A-tokio, M-net

#4521 chore: prepare tokio-util 0.7.1 release
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#4587 tests: complete TODOs in uds_stream.
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net
