Repository tokio-rs/tokio, pull requests merged in 2023-03, with the labels that each got.

#5517 metrics: add a new metric for budget exhaustion yields
  tokio/src/runtime/coop.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/scheduler.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics, R-loom

#5521 chore: prepare for Tokio v1.26.0 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#5524 chore: list 1.25.x as LTS release
  README.md
  tokio/README.md
Labels: A-tokio, A-readme

#5515 net: document usage of `ready` with stream halves
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/unix/split.rs
  tokio/src/net/unix/split_owned.rs
Labels: T-docs, A-tokio, M-net

#5529 Fix typo in doc: "with regards"
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio, M-process

#5528 fs: fix `File::from_raw_fd` test
  tokio/tests/fs_file.rs
Labels: A-tokio, M-fs

#5527 Add `RwLockWriteGuard::{downgrade_map, try_downgrade_map}`.
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/src/sync/rwlock/write_guard_mapped.rs
  tokio/tests/sync_rwlock.rs
Labels: A-tokio, M-sync, R-loom

#5512 5417 expose async io
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#5538 time: fix typo
  tokio/src/time/timeout.rs
Labels: T-docs, A-tokio, M-time

#5514 Add implementations of AsFd/AsHandle/AsSocket
  tokio/build.rs
  tokio/src/fs/file.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/pipe.rs
  tokio/src/net/unix/stream.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
Labels: A-tokio, M-io, M-net

#5540 io: add missing AsFd/AsHandle impls
  tokio/src/doc/os.rs
  tokio/src/io/async_fd.rs
  tokio/src/io/stderr.rs
  tokio/src/io/stdin.rs
  tokio/src/io/stdout.rs
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#5537 Make Contributing guide more newbie friendly
  CONTRIBUTING.md
Labels: A-readme

#5530 tokio: make all windows docs visible in unix builds
  tokio/src/doc/os.rs
  tokio/src/fs/file.rs
  tokio/src/fs/mod.rs
  tokio/src/fs/open_options.rs
  tokio/src/fs/symlink_dir.rs
  tokio/src/fs/symlink_file.rs
  tokio/src/io/stderr.rs
  tokio/src/io/stdin.rs
  tokio/src/io/stdout.rs
  tokio/src/macros/cfg.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio

#5543 task: make `JoinHandle::abort_handle` public
  tokio/src/runtime/task/join.rs
Labels: A-tokio, M-task, R-loom

#5520 net: add `UdpSocket::peek_sender()`
  tokio/Cargo.toml
  tokio/src/net/udp.rs
  tokio/tests/udp.rs
Labels: A-tokio, M-net

#5555 fs: fuse std iterator in `ReadDir`
  tokio/src/fs/read_dir.rs
Labels: A-tokio, M-fs

#5525 macros: define cancellation safety
  tokio/src/macros/select.rs
Labels: T-docs, A-tokio, M-macros

#5558 io: use memchr from libc
  tokio/Cargo.toml
  tokio/src/io/util/read_until.rs
  tokio/src/util/memchr.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-io

#5557 Accept path as crate rename as well
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tokio-macros/src/entry.rs
  tokio/tests/macros_rename_test.rs
Labels: A-tokio-macros

#5554 Tokio test mock wait
  tokio-test/src/io.rs
  tokio-test/tests/io.rs
Labels: A-tokio-test, M-time

#5328 examples: fix tinyhttp example
  examples/tinyhttp.rs
Labels: A-examples

#5561 sync: try to lock the parent first in CancellationToken
  tokio-util/src/sync/cancellation_token/tree_node.rs
Labels: A-tokio-util, M-sync, R-loom

#5570 time: fix repeatedly_reset_entry_inserted_as_expired test
  tokio-util/tests/time_delay_queue.rs
Labels: A-tokio-util, M-time

#5559 tokio: bump MSRV to 1.56
  .clippy.toml
  .github/workflows/ci.yml
  README.md
  tokio-macros/Cargo.toml
  tokio-stream/Cargo.toml
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
  tokio-util/src/sync/cancellation_token/tree_node.rs
  tokio/Cargo.toml
  tokio/README.md
  tokio/build.rs
  tokio/src/macros/addr_of.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/metrics/batch.rs
  tokio/src/runtime/time/source.rs
  tokio/src/signal/windows/sys.rs
  tokio/src/time/instant.rs
  tokio/src/time/interval.rs
  tokio/src/util/slab.rs
  tokio/tests/macros_select.rs
  tokio/tests/net_bind_resource.rs
  tokio/tests/process_kill_on_drop.rs
  tokio/tests/tcp_peek.rs
Labels: A-tokio-util, A-tokio-macros, A-tokio-test, A-tokio, A-tokio-stream, R-loom, A-readme

#5571 Update stream, util, test to 2021 edition
  tokio-stream/Cargo.toml
  tokio-stream/src/stream_map.rs
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
Labels: A-tokio-util, A-tokio-test, A-tokio-stream

#5573 tracing: fix `spawn_blocking` location fields
  tokio/src/runtime/blocking/pool.rs
Labels: A-tokio, M-tracing

#5575 add details to docs of `tokio::io::copy[_buf]`
  tokio/src/io/util/copy.rs
  tokio/src/io/util/copy_buf.rs
Labels: T-docs, A-tokio, M-io

#5576 cite `ReaderStream` and `StreamReader` in `tokio::io` docs
  tokio/src/io/mod.rs
Labels: T-docs, A-tokio, M-io

#5574 time: clean up redundant check in Wheel::poll()
  tokio/src/runtime/time/wheel/mod.rs
Labels: A-tokio, M-time, R-loom

#5572 macros: update syn
  tokio-macros/Cargo.toml
  tokio-macros/src/entry.rs
  tokio-macros/src/select.rs
Labels: A-tokio-macros

#5582 sync: fix `Semaphore::MAX_PERMITS` test
  tokio/src/sync/tests/semaphore_batch.rs
Labels: A-tokio, M-sync, R-loom

#5553 time: fix wake-up with interval on `Ready`
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/time/interval.rs
  tokio/src/time/sleep.rs
  tokio/tests/time_interval.rs
Labels: A-tokio, M-time, R-loom

#5584 chore: prepare Tokio v1.27.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#5065 Support AIX for get_peer_cred
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net

#5583 net: Add recv_buf for UdpSocket and UnixDatagram
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/tests/udp.rs
  tokio/tests/uds_datagram.rs
Labels: A-tokio, M-net

#5587 fix typo in `tokio::sync::watch::Sender` docs
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#5589 Fix typo in private poll_proceed() doc comment
  tokio/src/runtime/coop.rs
Labels: T-docs, A-tokio, M-coop
