Repository tokio-rs/tokio, pull requests merged in 2023-12, with the labels that each got.

#6180 chore: remove uses of unsafe from maybe_done.rs
  tokio/src/future/maybe_done.rs
Labels: A-tokio

#6184 chore: move comment to the right place
  tokio/src/runtime/park.rs
Labels: T-docs, A-tokio, M-runtime

#6189 Make tokio `Runtime` be unwind-safe
  tokio/src/runtime/runtime.rs
Labels: A-tokio, M-runtime

#6001 reduce the lock contention in task spawn.
  benches/Cargo.toml
  tokio/src/runtime/builder.rs
  tokio/src/runtime/id.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/task/id.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/util/linked_list.rs
  tokio/src/util/mod.rs
  tokio/src/util/sharded_list.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6194 runtime: skip notified tasks during taskdumps
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/state.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/tests/dump.rs
Labels: A-tokio, M-taskdump, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6179 chore: use relaxed load for `unsync_load`
  tokio/src/loom/std/atomic_u16.rs
  tokio/src/loom/std/atomic_u32.rs
  tokio/src/loom/std/atomic_usize.rs
Labels: A-tokio, M-runtime

#6182 docs: fix typo in `tokio/src/sync/broadcast.rs`
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6169 io: drop the `Sized` requirements from `AsyncReadExt.read_buf`
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/read_buf.rs
Labels: A-tokio, M-io

#6200 sync: improve safety comments for WakeList
  tokio/src/util/wake_list.rs
Labels: A-tokio, M-sync

#6203 chore: use relaxed load for unsync_load 2
  tokio/src/loom/std/atomic_u16.rs
  tokio/src/loom/std/atomic_u32.rs
  tokio/src/loom/std/atomic_usize.rs
Labels: A-tokio, M-runtime

#6197 chore: prepare Tokio v1.35.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6212 docs: fix typo in `tokio::task` documentation
  tokio/src/task/mod.rs
Labels: T-docs, A-tokio, M-coop

#6213 typo fixes
  benches/copy.rs
  tokio-macros/src/entry.rs
  tokio/CHANGELOG.md
  tokio/src/process/mod.rs
Labels: A-readme

#6221 io: add budgeting to tokio::runtime::io::registration::async_io
  .github/workflows/ci.yml
  Cargo.lock
  tokio/src/runtime/context.rs
  tokio/src/runtime/io/registration.rs
  tokio/tests/coop_budger.rs
Labels: A-tokio, M-net, M-coop, R-loom

#6227 Merge 'tokio-1.25.3' into 'tokio-1.32.x'
  tokio/CHANGELOG.md
  tokio/src/runtime/context.rs
  tokio/src/runtime/io/registration.rs
  tokio/tests/coop_budger.rs
Labels: A-tokio

#6229 Merge 'tokio-1.32.1' into 'tokio-1.35.x'
  tokio/CHANGELOG.md
  tokio/src/runtime/io/registration.rs
  tokio/tests/coop_budger.rs
Labels: A-tokio

#6231 Merge 'tokio-1.35.1' into 'master'
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/runtime/io/registration.rs
  tokio/tests/coop_budger.rs
Labels: A-tokio

#6220 io: add Join utility
  tokio/src/io/join.rs
  tokio/src/io/mod.rs
  tokio/tests/io_join.rs
Labels: A-tokio, M-io

#6234 tests: fix name of `coop_budget.rs`
  tokio/tests/coop_budget.rs
Labels: A-tokio, M-coop

#6235 io: implement `AsyncWrite` for `Empty`
  tokio/src/io/util/empty.rs
Labels: A-tokio, M-io

#6239 feat: Adding Sink trait impl to Either
  tokio-util/src/either.rs
Labels: A-tokio-util, M-io

#6243 benches: fix benchmarking conflicts
  benches/rt_current_thread.rs
  benches/rt_multi_threaded.rs
Labels: A-benches

#6244 ci: fix configured clippy msrv
  .clippy.toml
Labels: A-ci

#6246 benches: fix benchmarking conflicts for real this time
  benches/rt_current_thread.rs
  benches/rt_multi_threaded.rs
Labels: A-benches

#6255 chore: Fixing failures with the latest compilers
  tests-build/tests/fail/macros_type_mismatch.stderr
  tokio/src/future/mod.rs
Labels: A-tokio, A-ci

#6254 io: make `repeat` and `sink` cooperative
  tokio/src/io/util/empty.rs
  tokio/src/io/util/mod.rs
  tokio/src/io/util/repeat.rs
  tokio/src/io/util/sink.rs
  tokio/tests/io_repeat.rs
  tokio/tests/io_sink.rs
Labels: A-tokio, M-io, M-coop

#6127 net: add support for anonymous unix pipes
  tokio/src/net/unix/pipe.rs
  tokio/tests/net_unix_pipe.rs
Labels: A-tokio, M-net

#6252 Add `mark_unchanged` method to `watch::Receiver`
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync, R-loom-sync
