Repository tokio-rs/tokio, pull requests merged in 2023-08, with the labels that each got.

#5893 Update CI config
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/loom.yml
  .github/workflows/pr-audit.yml
  .github/workflows/stress-test.yml
  tokio/src/loom/std/parking_lot.rs
  tokio/src/macros/cfg.rs
  tokio/tests/tcp_connect.rs
  tokio/tests/tcp_socket.rs
Labels: A-ci

#5905 Fix flaky test wake_while_rt_is_dropping
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime

#5908 rt: pop at least one task from inject queue
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread

#5878 implement extra reset variants for Interval
  tokio/src/time/interval.rs
  tokio/tests/time_interval.rs
Labels: A-tokio, M-time

#5907 rt(alt): fix a number of concurrency bugs
  tokio/Cargo.toml
  tokio/src/loom/mocked.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/inject/shared.rs
  tokio/src/runtime/scheduler/inject/synced.rs
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
  tokio/tests/rt_threaded_alt.rs
Labels: A-tokio, M-runtime, C-request, R-loom-multi-thread-alt

#5916 Hide `Unpin`'s documentation for `Sleep`
  tokio-stream/Cargo.toml
  tokio-util/Cargo.toml
  tokio/Cargo.toml
  tokio/src/time/sleep.rs
Labels: T-docs, A-tokio, M-time

#5899 process: Impl `{ChildStd*}::into_owned_{fd, handle}`
  tokio/src/doc/os.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/windows.rs
Labels: A-tokio, M-process

#5917 chore: prepare Tokio v1.30.0 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#5914 io: delegate poll_write_vectored to inner
  tokio/src/io/split.rs
  tokio/tests/io_split.rs
Labels: A-tokio, M-io

#5927 rt: unstable EWMA poll time metric
  tokio/src/runtime/metrics/batch.rs
  tokio/src/runtime/metrics/mock.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/stats.rs
  tokio/src/runtime/scheduler/multi_thread_alt/stats.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-runtime, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#5928 chore: prepare Tokio v1.31.0 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: C-maintenance, A-tokio

#5915 Create StreamMock for testing Streams
  tokio-test/src/lib.rs
  tokio-test/src/stream_mock.rs
  tokio-test/tests/stream_mock.rs
Labels: A-tokio-test

#5930 Stabilise Command::raw_arg
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#5925 broadcast: Stop notifying after we've woken all wakers
  tokio/src/sync/broadcast.rs
Labels: A-tokio, M-sync, R-loom-sync

#5931 readme: list previous LTS releases
  README.md
  tokio/README.md
Labels: A-readme

#5932 io: AsyncFd minor tweaks
  tokio/src/io/async_fd.rs
Labels: A-tokio, M-io

#5935 rt(alt): tweak some constants to improve scalability
  tokio/src/runtime/io/scheduled_io.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread-alt

#5781 io: add `Ready::ERROR` and report error readiness
  tokio/src/io/interest.rs
  tokio/src/io/ready.rs
  tokio/tests/io_async_fd.rs
Labels: A-tokio, M-io

#5793 rt: improve docs for Builder::max_blocking_threads
  tokio/src/runtime/builder.rs
Labels: R-loom

#5937 chore: prepare Tokio v1.32.0 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: C-maintenance, A-tokio

#5939 Semaphore example for limiting access to a file
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#5903 sync: Add const fn `OnceCell::from_value`
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/once_cell.rs
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, R-loom-sync

#5943 chore: prepare tokio-test v0.4.3
  tokio-test/CHANGELOG.md
  tokio-test/Cargo.toml
Labels: A-tokio-test

#5941 Enrich StreamReader and SinkWriter
  tokio-util/src/io/copy_to_bytes.rs
  tokio-util/src/io/sink_writer.rs
  tokio-util/src/io/stream_reader.rs
Labels: A-tokio-util, M-io

#5951 ci: drop MIPS targets from cross-check
  .github/workflows/ci.yml
Labels: A-ci

#5947 sync: improve cancel-safety documentation for mpsc::Sender::send
  tokio/src/sync/mpsc/bounded.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#5952 Remove stats feature
  tokio/Cargo.toml
Labels: A-tokio

#5953 Fix tokio-test category slugs
  tokio-test/Cargo.toml
Labels: A-tokio-test

#5954 sync: improve docs for watch channels
  tokio/src/sync/mod.rs
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#5958 Implement vectored write functionality for files
  tokio/src/fs/file.rs
  tokio/src/io/blocking.rs
  tokio/tests/fs_file.rs
Labels: A-tokio, M-fs
