Repository tokio-rs/tokio, pull requests merged in 2023-11, with the labels that each got.

#6120 ci: fix docs on latest nightly
  tokio/src/doc/mod.rs
Labels: T-docs, A-ci

#6095 tokio-stream: add `StreamExt::Peekable` method
  tokio-stream/src/stream_ext.rs
  tokio-stream/src/stream_ext/peekable.rs
Labels: M-stream, A-tokio-stream

#6126 chore: update rust-version to 1.63 in all crates
  tokio-macros/Cargo.toml
  tokio-stream/Cargo.toml
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
Labels: A-tokio-util, A-tokio-macros, A-tokio-test, A-tokio-stream

#6097 time: remove cached `elapsed` value from driver state
  tokio/src/runtime/time/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6130 Fix typo in peekable docs
  tokio-stream/src/stream_ext.rs
Labels: T-docs, M-stream, A-tokio-stream

#6131 Update stats when unparking worker in multi-threaded runtime
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: A-tokio, M-metrics, R-loom-multi-thread

#6134 io: fix possible I/O resource hang
  tokio/src/runtime/io/driver.rs
  tokio/src/runtime/io/scheduled_io.rs
Labels: A-tokio, M-io

#6135 io: increase `ScheduledIo` tick resolution
  tokio/src/runtime/io/scheduled_io.rs
Labels: A-tokio, M-io

#6148 runtime: handle missing context on wake
  tokio/src/runtime/context.rs
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime

#6149 io: flush in `AsyncWriteExt` examples
  tokio/src/io/util/async_write_ext.rs
Labels: T-docs, A-tokio, M-io

#6147 task: document cancel safety of `LocalSet::run_until`
  tokio/src/task/local.rs
Labels: T-docs, A-tokio, M-task

#6146 metrics: fix hang in `worker_overflow_count` test
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics

#6150 docs: fix task dump cargo config example
  tokio/src/runtime/handle.rs
Labels: T-docs, A-tokio, M-taskdump

#6107 sync: avoid creating mutex and rwlock resource_span with parent, use None parent instead
  tokio/src/sync/barrier.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/semaphore.rs
  tokio/src/time/interval.rs
  tokio/tests/tracing-instrumentation/tests/sync.rs
Labels: A-tokio, M-sync, M-tracing, R-loom-sync

#6143 Fix typos
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/task/local.rs
  tokio/tests/rt_handle_block_on.rs
Labels: T-docs, A-tokio, M-runtime, R-loom-multi-thread

#6166 chore: fix docsrs without net feature
  tokio/src/doc/mod.rs
Labels: T-docs, A-tokio, M-net

#6163 util: add `DelayQueue::deadline`
  tokio-util/src/time/delay_queue.rs
Labels: A-tokio-util, M-time

#6144 net: add support for getting abstract namespace from socketaddr
  tokio/src/net/unix/socketaddr.rs
Labels: A-tokio, M-net

#6145 runtime: document fairness guarantees and current behavior
  tokio/src/runtime/builder.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/error.rs
  tokio/src/runtime/task/join.rs
  tokio/src/sync/mutex.rs
  tokio/src/task/mod.rs
Labels: T-docs, A-tokio, M-runtime, R-loom-sync, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6176 Add Apple watchOS support
  tokio-util/tests/udp.rs
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net
