Repository tokio-rs/tokio, pull requests merged in 2023-07, with the labels that each got.

#5845 ci: reenable semver check
  .github/workflows/ci.yml
Labels: A-ci

#5691 Speedup CI
  .github/workflows/ci.yml
  .github/workflows/stress-test.yml
Labels: A-ci

#5814 test: fetch actions from mock handle before write
  tokio-test/src/io.rs
  tokio-test/tests/io.rs
Labels: A-tokio-test

#5818 std::error::Error import style fix
  tokio/src/sync/mpsc/error.rs
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync

#5820 docs: `broadcast::Sender::send`: refer to lagging
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#5849 util: fix broken intra-doc link
  tokio-util/src/io/sink_writer.rs
Labels: T-docs, A-tokio-util, M-io

#5858 runtime: expand on sharing runtime docs
  tokio/src/runtime/runtime.rs
Labels: T-docs, A-tokio, M-runtime, R-loom

#5859 Reduce LLVM code generation
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/list.rs
  tokio/src/util/trace.rs
Labels: A-tokio, M-task, R-loom

#5824 sync::broadcast: create Sender::new
  tokio/src/sync/broadcast.rs
Labels: A-tokio, M-sync, R-loom

#5865 process: fix raw_arg not showing up in docs
  tokio/src/macros/cfg.rs
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio, M-process

#5863 Use a dynamic buffer in the `AsyncReadExt`'s `read_exact` example
  tokio/src/io/util/async_read_ext.rs
Labels: T-docs, A-tokio, M-io

#5869 fs: Add `File::options()` assoc function to mimic std
  tokio/src/fs/file.rs
Labels: A-tokio, M-fs

#5873 Fix clippy warning in docs
  tokio/src/sync/mpsc/bounded.rs
Labels: T-docs, A-tokio, M-sync

#5872 Use `Arc::increment_strong_count` instead of `mem::forget`
  tokio/src/runtime/park.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/sync/tests/notify.rs
  tokio/src/util/wake.rs
Labels: A-tokio, M-runtime, R-loom

#5876 rt: use optional non-zero value for task `owner_id`
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/list.rs
Labels: A-tokio, M-runtime, R-loom

#5864 rt: add runtime Id
  tokio/src/runtime/handle.rs
  tokio/src/runtime/id.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/task/list.rs
  tokio/src/task/local.rs
  tokio/tests/rt_handle.rs
  tokio/tests/rt_threaded.rs
Labels: R-loom

#5823 rt: initial implementation of new threaded runtime
  .github/labeler.yml
  .github/workflows/loom.yml
  tokio/Cargo.toml
  tokio/src/loom/std/unsafe_cell.rs
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/block_in_place.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/inject/rt_multi_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread_alt/counters.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/taskdump.rs
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/mod.rs
  tokio/src/runtime/scheduler/multi_thread_alt/overflow.rs
  tokio/src/runtime/scheduler/multi_thread_alt/park.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/stats.rs
  tokio/src/runtime/scheduler/multi_thread_alt/trace.rs
  tokio/src/runtime/scheduler/multi_thread_alt/trace_mock.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker/taskdump.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker/taskdump_mock.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/src/runtime/tests/loom_current_thread.rs
  tokio/src/runtime/tests/loom_current_thread/yield_now.rs
  tokio/src/runtime/tests/loom_multi_thread.rs
  tokio/src/runtime/tests/loom_multi_thread/queue.rs
  tokio/src/runtime/tests/loom_multi_thread/shutdown.rs
  tokio/src/runtime/tests/loom_multi_thread/yield_now.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/queue.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/shutdown.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/yield_now.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/task/blocking.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_threaded_alt.rs
Labels: A-tokio, M-runtime, T-performance, R-loom, R-loom-multi-thread, R-loom-multi-thread-alt

#5886 rt(alt): track which workers are idle.
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread-alt

#5891 Fix clippy warnings
  tokio-stream/src/stream_ext.rs
  tokio-stream/src/stream_ext/take.rs
  tokio-util/src/compat.rs
  tokio/src/io/poll_evented.rs
  tokio/src/io/util/async_read_ext.rs
  tokio/src/io/util/async_write_ext.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/ucred.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/waker.rs
Labels: A-tokio-util, A-tokio, A-tokio-stream, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#5856 example: use copy_bidirectional in proxy.rs
  examples/proxy.rs
Labels: A-examples

#5890 Removed unused `tokio_*` cfgs
  tokio/src/fs/file.rs
  tokio/src/io/async_fd.rs
  tokio/src/io/stderr.rs
  tokio/src/io/stdin.rs
  tokio/src/io/stdout.rs
  tokio/src/macros/cfg.rs
  tokio/src/macros/thread_local.rs
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/pipe.rs
  tokio/src/net/unix/stream.rs
  tokio/src/net/windows/named_pipe.rs
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/task/task_local.rs
Labels: A-tokio, M-fs, M-io, M-net, M-process, M-task, M-macros

#5885 Make `{Mutex, Notify, OnceCell, RwLock, Semaphore}::const_new` always available
  .github/workflows/ci.yml
  tokio/src/loom/std/mutex.rs
  tokio/src/macros/cfg.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/once_cell.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/semaphore.rs
  tokio/src/util/mod.rs
  tokio/tests/sync_once_cell.rs
  tokio/tests/task_join_set.rs
Labels: A-tokio, M-sync, R-loom, R-loom-sync
