Repository tokio-rs/tokio, pull requests merged in 2023-02, with the labels that each got.

#5428 ci: update Cirrus CI config
  .cirrus.yml
Labels: A-ci

#5434 rt: remove Arc from Clock
  tokio/src/runtime/driver.rs
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/source.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/time/clock.rs
  tokio/src/time/sleep.rs
Labels: C-maintenance, A-tokio, M-runtime, M-time, R-loom

#5436 bugfix: Remove erroneous wake call in SinkWriter
  tokio-util/src/io/sink_writer.rs
Labels: A-tokio-util, M-io

#5392 stream|tokio: Port proptest fuzz harnesses to use cargo-fuzz
  CONTRIBUTING.md
  tokio-stream/Cargo.toml
  tokio-stream/fuzz/.gitignore
  tokio-stream/fuzz/Cargo.toml
  tokio-stream/fuzz/fuzz_targets/fuzz_stream_map.rs
  tokio-stream/tests/stream_stream_map.rs
  tokio/Cargo.toml
  tokio/fuzz/.gitignore
  tokio/fuzz/Cargo.toml
  tokio/fuzz/fuzz_targets/fuzz_linked_list.rs
  tokio/src/fuzz.rs
  tokio/src/lib.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, A-tokio-stream

#5394 clarify what happens to spawned work during runtime shutdown
  tokio/src/runtime/mod.rs
  tokio/src/runtime/runtime.rs
Labels: T-docs, A-tokio, M-task, R-loom

#5386 chore: update windows-sys to 0.45
  examples/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio, A-examples

#5410 remove double store of deadline, saving 128 bytes
  tokio/src/runtime/time/entry.rs
  tokio/src/time/sleep.rs
Labels: A-tokio, M-time, R-loom

#5422 Mark `MutexGuard` with `#[clippy::has_significant_drop]`
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock/owned_read_guard.rs
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/owned_write_guard_mapped.rs
  tokio/src/sync/rwlock/read_guard.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/src/sync/rwlock/write_guard_mapped.rs
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, R-loom

#5438 sync: make CancellationToken UnwindSafe
  tokio-util/src/sync/cancellation_token.rs
Labels: A-tokio-util, M-sync, R-loom

#5442 Prepare tokio-util v0.7.5
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#5445 chore: fix dependency on Tokio
  tokio-util/Cargo.toml
Labels: A-tokio-util

#5447 chore: prepare tokio-util v0.7.6
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#5450 Revert "util: remove `Encoder` bound on `FramedParts` constructor"
  tokio-util/src/codec/framed.rs
Labels: A-tokio-util, M-codec

#5451 chore: prepare tokio-util v0.7.7
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#5455 CI: Always assume minor release in semver check
  .github/workflows/ci.yml
Labels: A-ci

#5452 fix: fix wording with 'unsend'
  tokio/src/task/local.rs
Labels: T-docs, A-tokio, M-task

#5440 Benchmark for oneshot highlighting runtime disparities
  benches/Cargo.toml
  benches/sync_mpsc_oneshot.rs
Labels: A-benches

#5448 sync: add doc aliases for `blocking_*` methods
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/mutex.rs
  tokio/src/sync/oneshot.rs
Labels: T-docs, A-tokio, M-sync

#5468 time: remove cache padding in timer entries
  tokio/src/runtime/time/entry.rs
  tokio/src/util/pad.rs
Labels: A-tokio, M-time, T-performance, R-loom

#5464 Reduce contention in watch channel
  tokio/src/runtime/context.rs
  tokio/src/sync/watch.rs
  tokio/src/util/rand.rs
Labels: A-tokio, M-sync, T-performance, R-loom

#5469 sync: don't leak tracing spans in mutex guards
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/rwlock/owned_read_guard.rs
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/owned_write_guard_mapped.rs
  tokio/src/sync/rwlock/read_guard.rs
  tokio/src/sync/rwlock/write_guard.rs
  tokio/src/sync/rwlock/write_guard_mapped.rs
Labels: A-tokio, M-sync, R-loom

#5472 Add a new benchmark to test mutex contention in `watch::Receiver`.
  benches/Cargo.toml
  benches/sync_watch.rs
Labels: M-sync, A-benches

#5350 Named Pipes: Support Message Read Mode
  tokio/src/net/windows/named_pipe.rs
  tokio/tests/net_named_pipe.rs
Labels: A-tokio, M-net

#5475 Solve deadlock in Semaphore
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/tests/semaphore_batch.rs
Labels: A-tokio, M-sync, R-loom

#5477 net: refactor named pipe builders to not use bitfields
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#5478 ci: remove PROPTEST_CASES from miri
  .github/workflows/ci.yml
Labels: A-ci

#5458 sync: make `notify_waiters` calls atomic
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/loom_notify.rs
  tokio/src/sync/tests/notify.rs
  tokio/src/util/linked_list.rs
Labels: C-bug, A-tokio, M-sync, R-loom

#5480 sync: fix docs for Send/Sync bounds in broadcast
  tokio/src/sync/broadcast.rs
Labels: A-tokio, M-sync, R-loom

#5474 Add MappedOwnedMutexGuard
  tokio/src/sync/mod.rs
  tokio/src/sync/mutex.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio, M-sync, R-loom

#5432 stream: add `WatchStream::from_changes`, add testing, etc.
  tokio-stream/src/wrappers/watch.rs
  tokio-stream/tests/watch.rs
Labels: A-tokio, M-sync

#5471 Drop wakers after unlocking the mutex in Notify
  tokio/src/sync/notify.rs
Labels: A-tokio, M-sync, R-loom

#5481 io: improve AsyncFd example
  tokio/src/io/async_fd.rs
Labels: T-docs, A-tokio, M-io

#5484 Prepare tokio-stream 0.1.12
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#5486 Use poll_fn in copy_bidirectional
  tokio/src/io/util/copy_bidirectional.rs
Labels: A-tokio, M-io

#5488 stream: fix changelog date
  tokio-stream/CHANGELOG.md
Labels: A-tokio-stream

#4299 Add `fs::try_exists`
  tokio/src/fs/mod.rs
  tokio/src/fs/try_exists.rs
  tokio/tests/fs_try_exists.rs
Labels: A-tokio, M-fs

#5483 Document supported platforms
  tokio/src/lib.rs
Labels: T-docs, A-tokio

#5496 Remove no-longer-necessary cargo-semver-checks flags.
  .github/workflows/ci.yml
Labels: A-ci

#5497 sync: document drop behavior for channels
  tokio/src/sync/broadcast.rs
  tokio/src/sync/mpsc/mod.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#5504 fix empty `join!` and `try_join!`
  tokio/src/macros/join.rs
  tokio/src/macros/try_join.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_try_join.rs
Labels: A-tokio, M-macros

#5494 Document the nature of the main future
  tokio-macros/src/lib.rs
  tokio/src/runtime/runtime.rs
Labels: T-docs, A-tokio, M-runtime, R-loom

#5506 net: fix test compilation failure
  tokio/Cargo.toml
  tokio/tests/net_named_pipe.rs
Labels: A-tokio, M-net, A-ci

#5459 Updated Documentation for Signals
  tokio/src/signal/unix.rs
  tokio/src/signal/windows.rs
Labels: T-docs, A-tokio, M-signal

#5507 io: ignore SplitByUtf8BoundaryIfWindows test on miri
  tokio/src/io/stdio_common.rs
Labels: A-tokio, M-io, A-ci

#5351 net: add types for named Unix pipes
  tokio/src/net/unix/mod.rs
  tokio/src/net/unix/pipe.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/net_unix_pipe.rs
Labels: A-tokio, M-net

#5509 time: document immediate completion guarantee for timeouts
  tokio/src/time/timeout.rs
Labels: T-docs, A-tokio, M-time

#5511 chore: remove unnecessary dot in comment
  tokio/src/runtime/handle.rs
Labels: T-docs, A-tokio, M-runtime

#5513 time: Improve `Instant::now()` perf with test-util
  benches/Cargo.toml
  benches/time_now.rs
  tokio/src/time/clock.rs
  tokio/tests/rt_time_start_paused.rs
Labels: C-enhancement, A-tokio, M-time, T-performance
