Repository tokio-rs/tokio, pull requests merged in 2023-09, with the labels that each got.

#5971 SyncIOBridge: Add `into_inner`
  tokio-util/src/io/sync_bridge.rs
  tokio-util/tests/io_sync_bridge.rs
Labels: A-tokio-util, M-io

#5972 tokio: render taskdump documentation on docs.rs
  tokio/Cargo.toml
Labels: T-docs, A-tokio, M-taskdump

#5977 add cancel-safety documentation for child::wait
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio, M-process

#5980 chore: list 1.32.x as LTS release
  README.md
  tokio/README.md
Labels: A-tokio, A-readme

#5984 task: fix spawn_local source location for console
  tokio/src/task/local.rs
Labels: A-tokio, M-tracing

#5985 implement write_vectored for DuplexStream
  tokio/src/io/util/mem.rs
  tokio/tests/duplex_stream.rs
Labels: A-tokio, M-io

#5982 docs: specify the line ending of LinesCodec
  tokio-util/src/codec/lines_codec.rs
Labels: T-docs, A-tokio-util, M-codec

#5993 style: Rename spawn<T> to spawn<F>
  tokio/src/task/spawn.rs
Labels: A-tokio, M-task

#5981 use criterion
  benches/Cargo.toml
  benches/copy.rs
  benches/fs.rs
  benches/rt_current_thread.rs
  benches/rt_multi_threaded.rs
  benches/signal.rs
  benches/spawn.rs
  benches/sync_mpsc.rs
  benches/sync_mpsc_oneshot.rs
  benches/sync_notify.rs
  benches/sync_rwlock.rs
  benches/sync_semaphore.rs
  benches/sync_watch.rs
  benches/time_now.rs
Labels: A-benches

#5906 io: add Interest::remove method
  tokio/src/io/interest.rs
Labels: A-tokio, M-io

#5997 Add `?Sized` bound for `MutexGuard::map` and `OwnedMutexGuard::map`.
  tokio/src/sync/mutex.rs
Labels: A-tokio, M-sync, R-loom-sync

#5994 tokio: fix cache line size for RISC-V
  tokio/src/runtime/io/scheduled_io.rs
  tokio/src/runtime/task/core.rs
  tokio/src/util/cacheline.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#5962 sync: implement `watch::Receiver::mark_unseen()`
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync, R-loom-sync

#6002 sync: document that `const_new()` is not instrumented
  tokio/src/sync/mutex.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/once_cell.rs
  tokio/src/sync/rwlock.rs
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, R-loom-sync

#5999 fix ci
  .github/workflows/ci.yml
  Cargo.lock
  tokio/src/future/mod.rs
Labels: A-ci

#5956 Semaphore example using an Arc<Semaphore> for semaphore passing
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6020 sync::watch::Receiver: Fix code comment
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom-sync

#5960 backport io: use memchr from libc
  tokio/Cargo.toml
  tokio/src/io/util/read_until.rs
  tokio/src/util/memchr.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-io

#6025 Merge 1.20.6 into 1.25.x
  .github/workflows/ci.yml
  Cargo.lock
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/src/future/mod.rs
  tokio/src/io/util/read_until.rs
  tokio/src/util/memchr.rs
  tokio/src/util/mod.rs
Labels: A-tokio

#6027 Merge 1.25.2 into 1.32.x
  .github/workflows/ci.yml
  tokio/CHANGELOG.md
  tokio/src/future/mod.rs
Labels: A-tokio

#6028 Merge tokio-1.32.x into master
  tokio/CHANGELOG.md
  tokio/src/future/mod.rs
Labels: A-tokio

#6030 fix incorrect line number in sync::Mutex documentation
  tokio/src/sync/mutex.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#5978 add token bucket example to Semaphore
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6031 Reorder semaphore examples
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#5970 tokio: remove wildcard in match pattern
  tokio-macros/src/entry.rs
  tokio-stream/src/stream_ext/merge.rs
  tokio-stream/src/stream_map.rs
  tokio-test/src/macros.rs
  tokio-util/tests/length_delimited.rs
  tokio/src/fs/file.rs
  tokio/src/fs/mocks.rs
  tokio/src/io/blocking.rs
  tokio/src/runtime/handle.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/notify.rs
  tokio/src/sync/tests/loom_list.rs
  tokio/src/time/error.rs
Labels: A-tokio, R-loom-sync

#6032 Make `TokenBucket::close` into a destructor
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6021 watch::Receiver::wait_for(): Prevent poisoning of the lock
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom-sync

#6018 `sync::watch`: Use Acquire/Release memory ordering instead of SeqCst
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom, R-loom-sync

#6034 benches: move sender to a spawned task in `watch` benchmark
  benches/sync_watch.rs
Labels: A-tokio, M-sync, A-benches

#6037 io: mark Interest::add as must_use
  tokio/src/io/interest.rs
Labels: A-tokio, M-io
