Repository tokio-rs/tokio, pull requests merged in 2023-04, with the labels that each got.

#5591 Update windows-sys to 0.48
  examples/Cargo.toml
  tokio/Cargo.toml
  tokio/src/process/windows.rs
Labels: A-tokio, A-examples

#5590 unsafe impl<'a> BufMut for ReadBuf<'a>
  tokio/src/io/read_buf.rs
  tokio/tests/io_read_buf.rs
Labels: A-tokio, M-io

#5599 Update ci.yml
  .github/workflows/ci.yml
Labels: A-ci

#5604 Fix typos
  tokio-util/src/time/delay_queue.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/util/once_cell.rs
Labels: T-docs, A-tokio-util, A-tokio

#5607 sync: add same_channel to broadcast channel
  tokio/src/sync/broadcast.rs
Labels: A-tokio, M-sync, R-loom

#5613 Fix FreeBSD ci
  .cirrus.yml
Labels: A-ci

#5600 stream: update StreamMap fuzz test
  tokio-stream/fuzz/fuzz_targets/fuzz_stream_map.rs
Labels: A-tokio-stream

#5622 ci: Gate costly checks behind basic ones
  .github/workflows/ci.yml
Labels: C-enhancement, A-ci

#5621 Make entrypoints more efficient part 2 (closes #4513)
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
Labels: C-enhancement, A-tokio-macros, M-macros

#5618 Allow getting the `Semaphore` from a `OwnedSemaphorePermit`.
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, R-loom

#5569 tokio-util: time: add `DelayQueue::peek`
  tokio-util/src/time/delay_queue.rs
  tokio-util/src/time/wheel/level.rs
  tokio-util/src/time/wheel/mod.rs
  tokio-util/src/time/wheel/stack.rs
  tokio-util/tests/time_delay_queue.rs
Labels: A-tokio-util, M-time

#5623 doc: Update Clippy version in contrib guide
  CONTRIBUTING.md
Labels: A-readme

#5578 sync: avoid deadlocks in `broadcast` with custom wakers
  tokio/src/sync/broadcast.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, M-sync, R-loom

#5542 add async_io for AsyncFd
  tokio/src/io/async_fd.rs
Labels: A-tokio, M-io

#4851 feature: add support for `StreamMap` to return on closed streams
  tokio-stream/src/lib.rs
  tokio-stream/src/stream_close.rs
  tokio-stream/src/stream_map.rs
  tokio-stream/tests/stream_close.rs
Labels: A-tokio-stream

#5610 io: make read_to_end not grow unnecessarily
  tokio/src/io/util/read_to_end.rs
  tokio/src/io/util/vec_with_initialized.rs
  tokio/tests/io_read_to_end.rs
Labels: A-tokio, M-io

#5612 Add `JoinSet::spawn_blocking`
  tokio/src/task/join_set.rs
Labels: A-tokio, M-task

#5630 [#5536] tokio-util: fix panic in DelayQueue
  tokio-util/src/time/wheel/level.rs
  tokio-util/src/time/wheel/mod.rs
  tokio-util/tests/time_delay_queue.rs
Labels: A-tokio-util, M-time

#5503 sync: reduce contention in `Notify`
  benches/Cargo.toml
  benches/sync_notify.rs
  tokio/src/sync/notify.rs
Labels: A-tokio, M-sync, R-loom

#5634 Fix spurious `yield_defers_until_park` test
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime

#5643 chore: fix compiler output changes in rustc 1.69
  tests-build/tests/fail/macros_type_mismatch.stderr
Labels: A-tokio-macros, A-ci

#5645 docs: Fix typo in `Semaphore::MAX_PERMITS`
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom

#5637 Revert "macros: hide internal constant in select! macro (#5617)"
  tokio/src/macros/select.rs
Labels: A-tokio, M-macros

#5639 stream: add "full" feature flag
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#5577 stream: add StreamExt::timeout_repeating
  tokio-stream/src/stream_ext.rs
  tokio-stream/src/stream_ext/timeout.rs
  tokio-stream/src/stream_ext/timeout_repeating.rs
Labels: M-time, A-tokio-stream

#5647 sync: useful Debug impl for RwLock
  tokio/src/sync/rwlock.rs
Labels: A-tokio, M-sync

#5648 Use the cargo-semver-checks GitHub Action for semver-checking
  .github/workflows/ci.yml
Labels: A-ci

#5649 chore: prepare tokio-macros v2.1.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio-macros

#5650 chore: prepare Tokio v1.28.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#5651 chore: prepare tokio-util v0.7.8
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#5652 chore: prepare tokio-stream v0.1.13
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#5657 stream: fix minimum Tokio dependency
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#5658 chore: prepare tokio-stream v0.1.14
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#5659 net: add uds doc alias for unix sockets
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
Labels: T-docs, A-tokio, M-net

#5628 runtime: Add a metric that counts currently active tasks
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/src/runtime/task/list.rs
  tokio/src/util/linked_list.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics, R-loom

#5608 Implement task dumps for current-thread runtime.
  .github/workflows/ci.yml
  examples/Cargo.toml
  examples/dump.rs
  tokio/Cargo.toml
  tokio/src/lib.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/dump.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/current_thread.rs
  tokio/src/runtime/task/list.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/raw.rs
  tokio/src/runtime/task/state.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/src/runtime/task/trace/symbol.rs
  tokio/src/runtime/task/trace/tree.rs
  tokio/src/task/spawn.rs
  tokio/src/task/yield_now.rs
  tokio/src/util/linked_list.rs
  tokio/tests/dump_current_thread.rs
Labels: A-tokio, M-task, R-loom

#5660 Resolve a semantic conflict between #5608 and #5628.
  tokio/src/util/linked_list.rs
Labels: A-tokio, M-runtime, A-ci

#5653 fs: reduce blocking ops in `fs::read_dir`
  tokio/src/fs/read_dir.rs
Labels: A-tokio, M-fs
