Repository tokio-rs/tokio, pull requests merged in 2023-10, with the labels that each got.

#6043 rt: fix flaky test `test_disable_lifo_slot`
  tokio/tests/rt_threaded.rs
Labels: A-tokio, M-runtime

#6042 Document that broadcast capacity is lower bound
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6045 Add apple tvos support
  tokio-util/tests/udp.rs
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net

#6038 docs: add semaphore example
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6050 Semaphore doc final cleanup
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6052 time: reduce iteration count in short_sleeps test
  tokio/tests/time_sleep.rs
Labels: A-tokio, M-time

#6055 docs: fix new doc warnings in 1.73.0
  tokio/src/net/unix/pipe.rs
  tokio/src/runtime/context.rs
  tokio/src/sync/mod.rs
Labels: T-docs, A-tokio, R-loom-sync

#6056 fix unclosed doctest
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6036 rt: do not trace tasks while locking `OwnedTasks`
  tokio/src/runtime/handle.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/tests/dump.rs
Labels: A-tokio, M-taskdump, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6058 Implement std::io::Seek for tokio_util::io::SyncIoBridge
  tokio-util/src/io/sync_bridge.rs
Labels: A-tokio-util, M-io

#6059 chore: prepare Tokio v1.33.0 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6060 chore: render taskdump docs in Netlify previews
  netlify.toml
Labels: T-docs, A-tokio, M-taskdump

#6067 io: allow `clear_readiness` after io driver shutdown
  tokio/src/runtime/io/scheduled_io.rs
  tokio/tests/io_async_fd.rs
Labels: A-tokio, M-io

#6069 chore: move 1.20.x to previous LTS releases
  README.md
  tokio/README.md
Labels: A-tokio, A-readme

#6073 tokio: remove #5973 from changelog
  tokio/CHANGELOG.md
Labels: A-tokio-macros, A-tokio

#6074 net: fix flaky doctest for `TcpStream::into_std`
  tokio/src/net/tcp/stream.rs
Labels: A-tokio, M-net

#6075 fs: update cfg attr in `fs::read_dir`
  tokio/src/fs/read_dir.rs
Labels: A-tokio, M-fs

#6046 util: add `JoinMap::keys`
  tokio-util/src/task/join_map.rs
  tokio-util/src/task/mod.rs
  tokio-util/tests/task_join_map.rs
Labels: A-tokio-util, M-task

#6016 tokio: distinguish LocalSet::enter() with being polled
  tokio/src/task/local.rs
  tokio/tests/task_local_set.rs
Labels: A-tokio, M-task

#6078 tokio: remove bin directory
  bin/publish
  bin/update-doc
Labels: A-tokio

#6076 time: reorder comment in sleep.rs
  tokio/src/time/sleep.rs
Labels: T-docs, A-tokio, M-time

#6079 changelog: fix typo in quadratic
  tokio/CHANGELOG.md
Labels: A-tokio

#6080 io: fix integer overflow in `take`
  tokio/src/io/util/take.rs
Labels: A-tokio, M-io

#6077 reame: remove rdbc and add axum to related projects
  README.md
  tokio/README.md
Labels: A-readme

#6010 Add recv_many for mpsc channels
  benches/sync_mpsc.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom-sync

#6033 sync: add `tokio_util::sync::TaskTracker`
  tokio-util/src/task/mod.rs
  tokio-util/src/task/task_tracker.rs
  tokio-util/tests/task_tracker.rs
Labels: A-tokio-util, M-sync, M-task

#6100 doc: fix broadcast::channel link
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6102 deps(tokio-util): update hashbrown to 0.14
  tokio-util/Cargo.toml
Labels: A-tokio-util

#6104 chore: prepare tokio-util v0.7.10
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#6110 tokio: gate panicking tests with `#[cfg(panic = "unwind")]`
  tokio/tests/rt_common.rs
  tokio/tests/task_abort.rs
  tokio/tests/task_blocking.rs
Labels: A-tokio

#6115 #[cfg(panic = "unwind")]
  tokio/src/runtime/tests/task_combinations.rs
  tokio/src/sync/tests/atomic_waker.rs
  tokio/tests/io_panic.rs
  tokio/tests/join_handle_panic.rs
  tokio/tests/net_panic.rs
  tokio/tests/rt_handle.rs
  tokio/tests/rt_panic.rs
  tokio/tests/sync_panic.rs
  tokio/tests/task_blocking.rs
  tokio/tests/task_panic.rs
  tokio/tests/time_panic.rs
  tokio/tests/time_pause.rs
Labels: A-tokio, A-ci, R-loom-sync

#6118 Fixed typos
  tokio-util/src/io/stream_reader.rs
  tokio/src/io/interest.rs
  tokio/src/runtime/scheduler/multi_thread/queue.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/tests/time_interval.rs
Labels: T-docs, A-tokio, R-loom-multi-thread, R-loom-multi-thread-alt

#6112 task: add tests for tracing instrumentation of tasks
  .github/workflows/ci.yml
  tokio/tests/tracing-instrumentation/Cargo.toml
  tokio/tests/tracing-instrumentation/tests/task.rs
Labels: A-tokio, M-tracing
