Repository tokio-rs/tokio, pull requests merged in 2024-04, with the labels that each got.

#6449 io: implement AsyncBufRead for Join
  tokio/src/io/join.rs
Labels: A-tokio, M-io

#6445 runtime: make improvements to `global_queue_interval`
  tokio/src/runtime/builder.rs
  tokio/src/runtime/scheduler/multi_thread/stats.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/stats.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/tests/rt_panic.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/rt_threaded_alt.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread, R-loom-multi-thread-alt

#6465 Add Apple visionOS support
  tokio-util/tests/udp.rs
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net

#6468 macros: render more comprehensible documentation for `select!`
  tokio/src/macros/select.rs
Labels: T-docs, A-tokio, M-macros

#6471 Ignore flaky `worker_steal_count` test
  tokio/tests/rt_metrics.rs
Labels: A-tokio, A-ci, M-metrics

#6466 Fix minor clippy lints
  examples/tinyhttp.rs
  tokio-stream/src/stream_map.rs
  tokio-stream/tests/async_send_sync.rs
  tokio-stream/tests/stream_timeout.rs
  tokio-util/src/sync/cancellation_token/tree_node.rs
  tokio-util/src/task/spawn_pinned.rs
  tokio/src/fs/open_options.rs
  tokio/src/runtime/io/scheduled_io.rs
  tokio/src/sync/tests/atomic_waker.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/sync_broadcast.rs
  tokio/tests/sync_mpsc.rs
  tokio/tests/sync_notify.rs
  tokio/tests/sync_once_cell.rs
  tokio/tests/sync_oneshot.rs
Labels: A-tokio-util, A-tokio, A-tokio-stream, R-loom-sync

#6433 feat: impl Clone for task_local where T: Clone
  tokio/src/task/task_local.rs
Labels: A-tokio, M-task

#6475 Update CONTRIBUTING.md with recommended commands for building docs
  CONTRIBUTING.md
Labels: A-readme

#6467 fs: rewrite file system docs
  spellcheck.dic
  tokio/src/fs/mod.rs
Labels: T-docs, A-tokio, M-fs

#6478 sync: use usize instead of u32 for `SemaphorePermit::split`
  tokio/src/sync/semaphore.rs
Labels: A-tokio, M-sync, R-loom-sync

#6477 sync: add examples for `SemaphorePermit`, `OwnedSemaphorePermit`
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6482 Add missing types to net module docs
  tokio/src/net/mod.rs
Labels: T-docs, A-tokio, M-net

#6494 Document that barriers are not cancel safe
  tokio/src/sync/barrier.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6496 docs: Runtime::metrics() documentation
  tokio/src/runtime/runtime.rs
Labels: T-docs, A-tokio, M-metrics

#6498 Fix obsolete reference to “stream ID” in `ReadHalf::unsplit()` documentation.
  tokio/src/io/split.rs
Labels: T-docs, A-tokio, M-io

#6499 sync: add instrument code to `Semaphore` leaf future
  tokio/src/sync/batch_semaphore.rs
Labels: A-tokio, M-sync, M-taskdump, R-loom-sync

#6503 docs: fix time::{pause,resume} requirement
  tokio/src/time/mod.rs
Labels: T-docs, A-tokio, M-time

#6500 io: add `copy_bidirectional_with_sizes`
  tokio/src/io/mod.rs
  tokio/src/io/util/copy.rs
  tokio/src/io/util/copy_bidirectional.rs
  tokio/src/io/util/mod.rs
Labels: A-tokio, M-io

#6508 Remove unnecessary uses of #[cfg(not(test))]
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
  tokio/src/lib.rs
Labels: A-tokio-macros, A-tokio

#6510 tokio: enable rt-multi-thread for wasm32-wasi-preview1-threads target
  .github/workflows/ci.yml
  tests-integration/Cargo.toml
  tests-integration/tests/macros_main.rs
  tests-integration/tests/macros_select.rs
  tokio-util/src/task/mod.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/inject/shared.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/src/task/mod.rs
Labels: A-tokio, M-runtime, T-wasm, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6513 runtime: remove misleading use of UnsafeCell::with_mut
  tokio/src/runtime/task/harness.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6487 time: do not panic on Interval::poll_tick if the sum of the timeout and period overflow
  tokio/src/time/interval.rs
  tokio/tests/time_interval.rs
Labels: A-tokio, M-time
