Repository tokio-rs/tokio, pull requests merged in 2024-06, with the labels that each got.

#6612 time: fix big time panic issue
  tokio/src/runtime/time/source.rs
  tokio/src/runtime/time/tests/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6608 Added method as_std_mut to tokio::process::Command
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#6616 Update FreeBSD CI environment
  .cirrus.yml
Labels: A-ci

#6607 test: make `Spawn` forward `size_hint`
  tokio-test/src/task.rs
  tokio-test/tests/task.rs
Labels: A-tokio-test

#6532 io: optimizing the chances of large write in copy_bidirectional and copy
  tokio/src/io/util/copy.rs
Labels: A-tokio, M-io

#6585 docs: fix docsrs builds with the fs feature enabled
  tokio/src/doc/mod.rs
  tokio/src/lib.rs
Labels: T-docs, A-tokio, M-fs

#6598 metrics: create MetricAtomicUsize for usized-metrics
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/util/metric_atomics.rs
Labels: A-tokio, M-metrics

#6621 Implement Clone for AbortHandle
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/tests/task.rs
Labels: A-tokio, M-task, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6593 macros: allow setting `unhandled_panic` behavior in tokio::{main, test}
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tokio-macros/src/entry.rs
  tokio-macros/src/lib.rs
  tokio/tests/macros_test.rs
Labels: A-tokio-macros

#6622 task: stabilize `consume_budget`
  tokio/src/task/consume_budget.rs
  tokio/src/task/mod.rs
Labels: A-tokio, M-coop

#6114 feat: add task counter pairs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/src/runtime/task/list.rs
  tokio/src/util/sharded_list.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6626 sync: implement Default for watch::Sender
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom-sync

#6629 Include relevant values in ReadBuf.put_slice() panic message #6580
  tokio/src/io/read_buf.rs
Labels: A-tokio, M-io

#6630 rt: modify the type bound of LinkedList when call into_guarded
  tokio/src/util/linked_list.rs
Labels: A-tokio, M-sync, M-time

#6618 6566 - Add 'run_until_cancelled' to 'tokio_util::sync::CancellationToken'
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/tests/sync_cancellation_token.rs
Labels: A-tokio-util, M-sync

#6584 time: avoid traversing entries in the time wheel twice
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/wheel/level.rs
  tokio/src/runtime/time/wheel/mod.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6641 Typo fix in join.rs and try_join.rs
  tokio/src/macros/join.rs
  tokio/src/macros/try_join.rs
Labels: T-docs, A-tokio, M-macros

#6637 Add sync::watch::Sender::same_channel()
  tokio/src/sync/watch.rs
Labels: A-tokio, M-sync, R-loom-sync

#6624 metrics: use `MetricAtomic*` for task counters
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/src/runtime/task/list.rs
  tokio/src/util/metric_atomics.rs
  tokio/src/util/sharded_list.rs
Labels: A-tokio, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6647 io: fix trait bounds on `impl Sink for StreamReader`
  tokio-util/src/io/stream_reader.rs
Labels: A-tokio-util, M-io

#6638 codec: docs: fix length_delimited doc description and make examples testable
  tokio-util/src/codec/length_delimited.rs
Labels: T-docs, A-tokio-util, M-codec

#6660 runtime: fix typo in unhandled_panic
  tokio/src/runtime/builder.rs
Labels: T-docs, A-tokio, M-runtime

#6667 metrics: rename `num_active_tasks` to `num_alive_tasks`
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/src/runtime/task/list.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt
