Repository tokio-rs/tokio, pull requests merged in 2024-09, with the labels that each got.

#6818 Tokio-util: Enable the full feature when compiled for the playground
  tokio-util/Cargo.toml
Labels: A-tokio-util

#6823 chore: prepare tokio-util 0.7.12
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#6810 Use `poll_fn` from the standard library
  tests-integration/src/bin/test-mem.rs
  tests-integration/tests/process_stdio.rs
  tokio-stream/src/lib.rs
  tokio-stream/src/poll_fn.rs
  tokio-stream/src/stream_map.rs
  tokio-util/src/util/poll_buf.rs
  tokio-util/tests/io_inspect.rs
  tokio-util/tests/mpsc.rs
  tokio-util/tests/poll_semaphore.rs
  tokio/src/fs/file.rs
  tokio/src/fs/read_dir.rs
  tokio/src/future/mod.rs
  tokio/src/future/poll_fn.rs
  tokio/src/io/util/copy_bidirectional.rs
  tokio/src/io/util/lines.rs
  tokio/src/io/util/split.rs
  tokio/src/macros/support.rs
  tokio/src/net/tcp/split.rs
  tokio/src/net/tcp/split_owned.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/stream.rs
  tokio/src/runtime/coop.rs
  tokio/src/runtime/io/registration.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/tests/loom_local.rs
  tokio/src/runtime/tests/loom_multi_thread.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/signal/mod.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/oneshot.rs
  tokio/src/sync/tests/loom_atomic_waker.rs
  tokio/src/sync/tests/loom_mpsc.rs
  tokio/src/sync/tests/loom_notify.rs
  tokio/src/sync/tests/loom_oneshot.rs
  tokio/src/sync/tests/loom_semaphore_batch.rs
  tokio/src/task/consume_budget.rs
  tokio/src/task/join_set.rs
  tokio/src/task/local.rs
  tokio/src/time/interval.rs
  tokio/tests/io_async_fd.rs
  tokio/tests/io_take.rs
  tokio/tests/macros_select.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/rt_threaded_alt.rs
  tokio/tests/tcp_accept.rs
  tokio/tests/tcp_stream.rs
  tokio/tests/udp.rs
  tokio/tests/uds_datagram.rs
Labels: A-tokio, R-loom-sync, R-loom-time-driver, R-loom-current-thread

#6825 stream: prepare 0.1.16 release
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#6807 loom: add abstraction for RwLock to remove poisoning aspect
  tokio/src/loom/mocked.rs
  tokio/src/loom/std/mod.rs
  tokio/src/loom/std/parking_lot.rs
  tokio/src/loom/std/rwlock.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/watch.rs
Labels: A-tokio, M-time, R-loom-sync, R-loom-time-driver

#6828 sync: add `#[must_use]` to `Notified`
  tokio/src/sync/notify.rs
Labels: A-tokio, M-sync, R-loom-sync

#6814 macros: render more comprehensible documentation for `join!`
  tokio/src/macros/join.rs
Labels: T-docs, A-tokio, M-macros

#6821 io: recommend `OwnedFd` with `AsyncFd`
  spellcheck.dic
  tokio/src/io/async_fd.rs
Labels: T-docs, A-tokio, M-io

#6822 Enable cfg_fs for wasi
  tokio/src/fs/open_options.rs
  tokio/src/macros/cfg.rs
Labels: A-tokio, M-fs, T-wasm

#6838 net: fix handling of leading zero byte in `from_abstract_name`
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#6840 Docs: Fix swapped examples for `TcpSocket::set_nodelay` and `TcpSocket::nodelay`
  tokio/src/net/tcp/socket.rs
Labels: T-docs, A-tokio, M-net

#6841 macros: render more comprehensible documentation for `try_join!`
  tokio/src/macros/try_join.rs
Labels: A-tokio, M-macros

#6833 Doc section for sync module on runtime compatibility
  tokio/src/sync/mod.rs
  tokio/src/sync/mpsc/mod.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6826 Always send large futures to heap
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/runtime.rs
  tokio/src/task/builder.rs
  tokio/src/task/local.rs
  tokio/src/task/spawn.rs
Labels: A-tokio, M-runtime

#6852 doc: Fix a symbol issue
  tokio/src/net/tcp/socket.rs
Labels: T-docs, A-tokio, M-net

#6854 metrics: Stabilize injection_queue_depth API
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/inject.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread/worker/metrics.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-runtime, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6861 Fix: comment error
  tokio-stream/src/stream_ext/peekable.rs
Labels: T-docs, M-stream, A-tokio-stream

#6859 Avoid pointer casts in IO driver on miri
  spellcheck.dic
  tokio/src/runtime/io/driver.rs
  tokio/src/runtime/io/mod.rs
  tokio/src/runtime/io/registration_set.rs
  tokio/src/runtime/io/scheduled_io.rs
  tokio/src/util/mod.rs
  tokio/src/util/ptr_expose.rs
Labels: A-tokio, M-runtime

#6862 metrics: don't hang in injection_queue_depth_multi_thread test
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics

#6858 chore: use boxed slice if possible
  tokio-util/src/task/spawn_pinned.rs
  tokio-util/src/time/wheel/mod.rs
  tokio/src/signal/unix.rs
Labels: A-tokio-util, A-tokio

#6868 socketaddr: implement conversions for tokio and std unix `SocketAddr`
  tokio/src/net/unix/socketaddr.rs
Labels: A-tokio, M-net

#6846 sync, coop: apply cooperative scheduling to `sync::watch`
  tokio/src/runtime/coop.rs
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync, M-coop, R-loom-sync

#6870 sync, coop: apply cooperative scheduling to sync::broadcast::Receiver
  tokio/src/sync/broadcast.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, M-sync, M-coop, R-loom-sync

#6873 Fix `Stream` link in broadcast docs
  tokio-stream/src/wrappers/broadcast.rs
Labels: T-docs, A-tokio, M-sync

#6874 macros: suppress clippy::needless_return and add docs
  tokio-macros/src/entry.rs
Labels: A-tokio-macros
