Repository tokio-rs/tokio, pull requests merged in 2024-03, with the labels that each got.

#6376 ci: update FreeBSD image to 14
  .cirrus.yml
Labels: A-ci

#6375 Mark 1.36 as an LTS release
  README.md
  tokio/README.md
Labels: A-tokio

#6377 Add missing period to docstring for broadcast::Sender::receiver_count
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6351 runtime: make the `enter` example deterministic
  tokio/src/runtime/runtime.rs
Labels: A-tokio, M-runtime

#6389 Small typo fix in `tokio-stream`
  tokio-stream/src/wrappers/signal_unix.rs
Labels: T-docs, M-signal, A-tokio-stream

#6388 sync: Implement `Clone` for `watch::Sender`
  tokio/src/sync/tests/loom_watch.rs
  tokio/src/sync/watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync, R-loom-sync

#6392 sync: reorder const_new before new_with
  tokio/src/sync/once_cell.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6395 sync: update watch channel docs
  tokio/src/sync/mod.rs
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6397 tokio-util: remove `'static` bound on `impl Sink for PollSender`
  tokio-util/src/sync/mpsc.rs
  tokio-util/tests/mpsc.rs
Labels: A-tokio-util, M-sync

#6345 io: implement `try_new` and `try_with_interest` for `AsyncFd`
  tokio/src/io/async_fd.rs
  tokio/src/io/mod.rs
  tokio/tests/io_async_fd.rs
  tokio/tests/io_panic.rs
Labels: A-tokio, M-io

#6401 chore: prepare tokio-stream v0.1.15
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#6400 chore: prepare tokio-test v0.4.4
  tokio-test/CHANGELOG.md
  tokio-test/Cargo.toml
Labels: A-tokio-test

#6403 io: use Mutex instead of spinlock
  tokio/src/io/split.rs
Labels: A-tokio, M-io

#6408 readme: fix the guide for running loom tests
  CONTRIBUTING.md
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
Labels: A-tokio, A-readme

#6406 sync: remove stale comment
  tokio/src/sync/mpsc/block.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6410 runtime: prevent using unhandled_panic option on multi-thread runtime
  tokio/src/runtime/builder.rs
Labels: A-tokio, M-runtime

#6423 chore: fix dead code warning
  benches/sync_mpsc.rs
  tokio/src/sync/tests/notify.rs
  tokio/src/sync/tests/semaphore_batch.rs
  tokio/src/util/markers.rs
Labels: A-tokio, R-loom-sync

#6411 fs: add `set_max_buf_size` to `tokio::fs::File`
  tokio/src/fs/file.rs
  tokio/src/fs/file/tests.rs
  tokio/src/fs/mocks.rs
  tokio/src/io/blocking.rs
  tokio/src/io/stdio_common.rs
  tokio/tests/fs_file.rs
Labels: A-tokio, M-fs

#6419 Add Semaphore example for limiting the number of outgoing requests be…
  tokio/src/sync/semaphore.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6405 sync: expose strong and weak counts of mpsc sender handles
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/tests/sync_mpsc_weak.rs
Labels: A-tokio, M-sync, R-loom-sync

#6425 readme: add discription about benchmarks
  .github/workflows/ci.yml
  CONTRIBUTING.md
Labels: A-readme

#6414 util: assert compatibility between `LengthDelimitedCodec` options
  tokio-util/src/codec/length_delimited.rs
  tokio-util/tests/length_delimited.rs
Labels: A-tokio-util, M-codec

#6348 Add `is_closed`, `is_empty` and `len` to `mpsc::Receiver` and `mpsc::UnboundedReceiver`
  tokio/src/sync/mpsc/block.rs
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/list.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/src/sync/tests/loom_mpsc.rs
  tokio/tests/sync_mpsc.rs
  tokio/tests/sync_mpsc_weak.rs
Labels: A-tokio, M-sync, R-loom-sync

#6418 sync: add a `rwlock()` method to owned `RwLock` guards
  tokio/src/sync/rwlock/owned_read_guard.rs
  tokio/src/sync/rwlock/owned_write_guard.rs
  tokio/src/sync/rwlock/owned_write_guard_mapped.rs
Labels: A-tokio, M-sync, R-loom-sync

#6417 util: add documentation about cancel safety of `SinkExt::send`
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
Labels: T-docs, A-tokio-util, M-codec

#6409 stream: add `next_many` and `poll_next_many` to `StreamMap`
  tokio-stream/src/lib.rs
  tokio-stream/src/poll_fn.rs
  tokio-stream/src/stream_map.rs
  tokio-stream/tests/stream_stream_map.rs
Labels: A-tokio-stream

#6431 io: document cancel safety of `AsyncBufReadExt::fill_buf`
  tokio/src/io/util/async_buf_read_ext.rs
Labels: A-tokio, M-io

#6435 chore: prepare Tokio v1.37.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6443 chore: update CI to clippy 1.77
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tokio-util/tests/compat.rs
  tokio/src/runtime/signal/mod.rs
  tokio/tests/io_async_fd.rs
  tokio/tests/rt_common.rs
  tokio/tests/task_local_set.rs
Labels: A-tokio-util, A-tokio, A-ci

#6441 Allow dynamically sized types in tokio_util::io::poll_read_buf
  tokio-util/src/util/poll_buf.rs
Labels: A-tokio-util

#6434 util: Make tracing optional when codec is enabled
  tokio-util/Cargo.toml
  tokio-util/src/codec/framed_impl.rs
  tokio-util/src/lib.rs
  tokio-util/src/tracing.rs
Labels: A-tokio-util, M-codec
