Repository tokio-rs/tokio, pull requests merged in 2024-08, with the labels that each got.

#6733 task: use `NonZeroU64` for `task::Id`
  tokio/src/runtime/task/id.rs
  tokio/src/runtime/task/mod.rs
Labels: A-tokio, M-task, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6744 Prevent niche-optimization on futures to avoid triggering miri
  tokio/src/future/maybe_done.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/tests/task.rs
  tokio/tests/macros_join.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6755 sync: Add into_inner method on TrySendErrors
  tokio/src/sync/mpsc/error.rs
Labels: A-tokio, M-sync, R-loom-sync

#6762 must use macro annotation for abort_handle of JoinHandle
  tokio/src/runtime/task/join.rs
Labels: A-tokio, M-task, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6764 update code according to MSRV change
  tokio-util/src/codec/length_delimited.rs
  tokio/src/fs/try_exists.rs
  tokio/src/io/util/read_int.rs
  tokio/src/io/util/write_int.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/task/core.rs
  tokio/src/task/spawn.rs
  tokio/src/util/bit.rs
  tokio/tests/io_async_fd.rs
Labels: A-tokio, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6768 Add config file to enable Buildomat CI for illumos
  .github/buildomat/README.md
  .github/buildomat/config.toml
Labels: A-ci

#6774 macros: improve documentation for `select!`
  tokio/src/macros/select.rs
Labels: T-docs, A-tokio, M-macros

#6776 tests: handle spurious EWOULDBLOCK in io_async_fd
  tokio/tests/io_async_fd.rs
Labels: A-tokio, M-io

#6778 tests: handle ECONNREFUSED in uds_stream::epollhup
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#6773 sync: document mpsc channel allocation behavior
  tokio/src/sync/mpsc/mod.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6772 net: add handling for abstract socket name
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio, M-net

#6782 chore: prepare Tokio v1.39.3
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6788 Merge 1.39.x into master
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/tests/uds_stream.rs
Labels: A-tokio

#6783 Mark some more types as `UnwindSafe`
  tokio/src/loom/std/atomic_u16.rs
  tokio/src/loom/std/atomic_u32.rs
  tokio/src/loom/std/atomic_usize.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom-sync

#6792 util: fix typo in `TaskTracker` docs
  tokio-util/src/task/task_tracker.rs
Labels: T-docs, A-tokio-util, M-task

#6790 fix explanation of 'zero bytes read' case
  tokio/src/io/async_read.rs
Labels: T-docs, A-tokio, M-io

#6589 Add `SimplexStream` structure
  tokio/src/io/mod.rs
  tokio/src/io/util/mem.rs
  tokio/src/io/util/mod.rs
Labels: A-tokio, M-io

#6786 Add `AbortOnDropHandle` type
  tokio-util/src/task/abort_on_drop.rs
  tokio-util/src/task/mod.rs
  tokio-util/tests/abort_on_drop.rs
Labels: A-tokio-util, M-task

#6784 task: add join_all method to JoinSet
  tokio/src/task/join_set.rs
  tokio/tests/task_join_set.rs
Labels: A-tokio, M-task

#6800 Fix typo in the docs for `Encoder::Error`
  tokio-util/src/codec/encoder.rs
Labels: T-docs, A-tokio-util, M-codec

#6742 rt: implement initial set of task hooks
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/task/core.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task_hooks.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/runtime/tests/task.rs
  tokio/src/task/local.rs
  tokio/tests/task_hooks.rs
Labels: A-tokio, M-runtime, M-task, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6779 time: eliminate timer wheel allocations
  tokio/src/loom/mocked.rs
  tokio/src/loom/std/mutex.rs
  tokio/src/runtime/time/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6806 chore: prepare Tokio v1.40.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6809 rt: fix race in yield_defers_until_park test
  tokio/tests/rt_common.rs
Labels: A-tokio, M-runtime
