Repository tokio-rs/tokio, pull requests merged in 2024-12, with the labels that each got.

#7000 time: use `array::from_fn` instead of manually creating array
  tokio-util/src/time/wheel/level.rs
Labels: A-tokio-util, M-time

#6999 runtime: fixed yield_now lost wakeup
  tokio/src/runtime/context.rs
  tokio/tests/task_yield_now.rs
Labels: A-tokio, M-task, M-blocking

#7006 ci: allow Unicode-3.0 license for unicode-ident
  deny.toml
Labels: A-ci

#7004 tests: fix typo in build test instructions
  tests-build/README.md
Labels: A-readme

#7005 chore: prepare Tokio v1.42.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7009 Unfreeze FreeBSD from rustc 1.81
  .cirrus.yml
Labels: A-ci

#7007 tracing: move tracing instrumentation tests into tokio tests
  .github/workflows/ci.yml
  tokio/Cargo.toml
  tokio/tests/tracing-instrumentation/Cargo.toml
  tokio/tests/tracing_sync.rs
  tokio/tests/tracing_task.rs
  tokio/tests/tracing_time.rs
Labels: A-tokio, M-tracing

#7011 codec: fix incorrect handling of invalid utf-8 in `LinesCodec::decode_eof`
  tokio-util/src/codec/lines_codec.rs
  tokio-util/tests/codecs.rs
Labels: A-tokio-util, M-codec

#7013 ci: detect trailing whitespace
  .circleci/config.yml
  .github/buildomat/README.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tokio-util/src/task/spawn_pinned.rs
  tokio/src/net/unix/stream.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/task_hooks.rs
  tokio/src/task/join_set.rs
Labels: A-ci

#6995 signal: add SignalKind::info on illumos
  tokio/src/signal/unix.rs
  tokio/tests/signal_info.rs
Labels: A-tokio, M-signal

#7016 Add instructions that explain how to fix spellcheck errors
  .github/workflows/ci.yml
Labels: A-ci

#7015 signal: remove oneshot channels from tests
  tokio/tests/signal_ctrl_c.rs
  tokio/tests/signal_info.rs
Labels: A-tokio, M-signal

#7020 chore: prepare tokio-stream v0.1.17
  tokio-stream/CHANGELOG.md
  tokio-stream/Cargo.toml
Labels: A-tokio-stream

#7014 process: add `Command::into_std()`
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#7023 Run spawn_pinned test on miri
  tokio-util/tests/spawn_pinned.rs
Labels: A-tokio-util, A-ci

#6975 allow getting task dump backtraces in a programmatic format
  spellcheck.dic
  tokio/src/runtime/dump.rs
  tokio/src/runtime/task/trace/mod.rs
Labels: A-tokio, M-taskdump, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7025 util: enable `Either` to use underlying `AsyncWrite` implementation
  tokio-util/src/either.rs
Labels: A-tokio-util

#7024 stream: add examples to wrapper types
  tokio-stream/src/wrappers/broadcast.rs
  tokio-stream/src/wrappers/interval.rs
  tokio-stream/src/wrappers/lines.rs
  tokio-stream/src/wrappers/mpsc_bounded.rs
  tokio-stream/src/wrappers/mpsc_unbounded.rs
  tokio-stream/src/wrappers/read_dir.rs
  tokio-stream/src/wrappers/signal_unix.rs
  tokio-stream/src/wrappers/signal_windows.rs
  tokio-stream/src/wrappers/split.rs
  tokio-stream/src/wrappers/tcp_listener.rs
  tokio-stream/src/wrappers/unix_listener.rs
Labels: T-docs, A-tokio-stream

#7018 Spelling and Date Format Corrections
  spellcheck.dic
  tokio-util/CHANGELOG.md
  tokio/CHANGELOG.md
  tokio/src/runtime/task/trace/mod.rs
Labels: A-readme, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7029 signal: add support for realtime signals on illumos
  tokio/Cargo.toml
  tokio/src/signal/unix.rs
  tokio/tests/signal_realtime.rs
  tokio/tests/support/signal.rs
Labels: A-tokio, M-signal

#7035 Minor simplification in lib.rs doc string
  README.md
  tokio/README.md
  tokio/src/lib.rs
  tokio/src/runtime/mod.rs
Labels: T-docs, A-tokio, M-runtime

#7044 codec: fix typo in API documentation
  tokio-util/src/codec/mod.rs
Labels: T-docs, A-tokio-util, M-codec

#7047 fix: A couple of typos in `once_cell.rs`
  tokio/src/sync/once_cell.rs
Labels: T-docs, A-tokio, M-sync

#6986 task: Drop the join waker of a task eagerly when the JoinHandle gets dropped or the task completes
  spellcheck.dic
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/state.rs
  tokio/src/runtime/tests/loom_current_thread.rs
  tokio/tests/rt_handle.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7055 io: use `BufMut::put_bytes` in `Repeat` read impl
  tokio/Cargo.toml
  tokio/src/io/util/repeat.rs
Labels: A-tokio, M-io
