Repository tokio-rs/tokio, pull requests merged in 2024-05, with the labels that each got.

#6521 util: make `WakeList::wake_all` use FIFO ordering
  tokio/src/util/wake_list.rs
Labels: A-tokio, M-sync

#6528 chore: fix latest rust-1.78.0 warnings
  .github/workflows/ci.yml
  tokio/src/process/unix/orphan.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/util/markers.rs
Labels: A-ci, T-wasm, R-loom-multi-thread

#6511 tokio: add `mpsc::Receiver::max_capacity` and `mpsc::Receiver::capacity`
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
Labels: A-tokio, M-sync, R-loom-sync

#6512 time: lazy init TimerShared in TimerEntry
  benches/Cargo.toml
  benches/time_timeout.rs
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/time/sleep.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6535 chore: prepare tokio-util v0.7.11
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#6537 Ignore `yield_calls_park_before_scheduling_again` test
  tokio/src/runtime/tests/loom_current_thread/yield_now.rs
  tokio/src/runtime/tests/loom_multi_thread/yield_now.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/yield_now.rs
Labels: A-tokio, M-runtime

#6540 tests: remove tests module from integration tests
  tokio/tests/task_builder.rs
Labels: A-tokio, M-task

#6541 util: no default features for hashbrown
  tokio-util/Cargo.toml
Labels: A-tokio-util

#6538 Bump nightly to nightly-2024-05-05
  .cirrus.yml
  .github/workflows/ci.yml
  target-specs/README.md
  target-specs/i686-unknown-linux-gnu.json
  tokio-macros/src/lib.rs
  tokio-stream/src/lib.rs
  tokio-test/src/lib.rs
  tokio-util/src/codec/length_delimited.rs
  tokio-util/src/lib.rs
  tokio-util/tests/task_join_map.rs
  tokio/src/lib.rs
  tokio/src/signal/mod.rs
  tokio/src/signal/unix.rs
  tokio/tests/_require_full.rs
  tokio/tests/dump.rs
  tokio/tests/fs_open_options.rs
  tokio/tests/macros_select.rs
  tokio/tests/rt_basic.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_handle.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/rt_threaded_alt.rs
  tokio/tests/task_abort.rs
  tokio/tests/task_builder.rs
  tokio/tests/task_id.rs
  tokio/tests/task_join_set.rs
  tokio/tests/task_local_set.rs
  tokio/tests/task_yield_now.rs
Labels: A-ci, R-loom

#6497 macros: append generated test attribute so others are aware of it
  tests-build/tests/fail/macros_invalid_input.rs
  tests-build/tests/fail/macros_invalid_input.stderr
  tokio-macros/src/entry.rs
Labels: A-tokio-macros

#6421 Adding support for QNX OS
  tokio/src/net/unix/ucred.rs
  tokio/src/process/mod.rs
Labels: A-tokio

#6559 metrics: fix flaky injection_queue_depth test
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics

#6563 time: remove the true_when field in TimerShared.
  tokio/src/runtime/time/entry.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6558 feat(oneshot channel): ensure msg won't be dropped on sender side when send returns ok
  tokio/src/sync/oneshot.rs
  tokio/src/sync/tests/loom_oneshot.rs
Labels: A-tokio, M-sync, R-loom-sync

#6561 util: Use ptr::addr_of over pointer arithmetics in linked_list
  tokio/src/util/linked_list.rs
Labels: A-tokio

#6564 docs: gate taskdump compiler_error behind not(doc)
  tokio/src/lib.rs
Labels: A-tokio, M-taskdump

#6568 Set RUSTUP_WINDOWS_PATH_ADD_BIN=1
  .github/workflows/ci.yml
Labels: A-ci

#6569 Improved the code with clippy 1.80
  benches/time_timeout.rs
  tokio-stream/src/wrappers/interval.rs
  tokio-util/src/codec/any_delimiter_codec.rs
  tokio-util/src/codec/lines_codec.rs
  tokio-util/src/time/wheel/mod.rs
  tokio/src/runtime/scheduler/multi_thread/stats.rs
  tokio/src/runtime/task/state.rs
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/broadcast.rs
  tokio/src/sync/rwlock.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, R-loom-sync, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6571 Clarify that you can't abort `spawn_blocking` tasks
  tokio/src/runtime/task/abort.rs
  tokio/src/runtime/task/join.rs
  tokio/src/task/blocking.rs
  tokio/src/task/mod.rs
Labels: T-docs, A-tokio, M-task, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6573 fs: add `create_new` function to `File`
  tokio/src/fs/file.rs
Labels: A-tokio, M-fs

#6534 Using sharded locks instead of a global lock for Timers
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/util/mod.rs
  tokio/src/util/rand.rs
Labels: A-tokio, M-time, R-loom-time-driver, R-loom-multi-thread, R-loom-multi-thread-alt

#6574 metrics: add MetricAtomicU64 and use in metrics
  spellcheck.dic
  tokio/src/macros/cfg.rs
  tokio/src/runtime/metrics/histogram.rs
  tokio/src/runtime/metrics/io.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/scheduler.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/tests/queue.rs
  tokio/src/util/metric_atomics.rs
  tokio/src/util/mod.rs
  tokio/tests/rt_basic.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/rt_threaded_alt.rs
Labels: A-tokio, M-metrics

#6552 Update nix and mio-aio dev-dependencies to the latest
  Cargo.toml
  tokio/Cargo.toml
  tokio/tests/io_async_fd.rs
  tokio/tests/io_poll_aio.rs
  tokio/tests/net_unix_pipe.rs
Labels: A-tokio, M-io, M-net

#6586 Derive common traits for NamedPipeInfo struct
  tokio/src/net/windows/named_pipe.rs
Labels: A-tokio, M-net

#6551 tokio(metrics): fix blocking_threads count
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/tests/rt_metrics.rs
Labels: A-tokio, M-metrics, R-loom-multi-thread, R-loom-multi-thread-alt

#6451 docs: Update license year to 2024
  LICENSE
  tokio-macros/LICENSE
  tokio-stream/LICENSE
  tokio-test/LICENSE
  tokio-util/LICENSE
  tokio/LICENSE
Labels: A-readme

#6590 Fix misleading NamedPipeServer example
  tokio/src/net/windows/named_pipe.rs
Labels: T-docs, A-tokio, M-net

#6520 Implementation of notify_one_last method
  tokio/src/sync/notify.rs
  tokio/src/util/linked_list.rs
  tokio/tests/sync_notify.rs
Labels: A-tokio, M-sync, R-loom-sync

#6556 metrics: stabilize `RuntimeMetrics::worker_count`
  tokio/src/macros/cfg.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/coop.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/io/metrics.rs
  tokio/src/runtime/metrics/histogram.rs
  tokio/src/runtime/metrics/io.rs
  tokio/src/runtime/metrics/mod.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/inject.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread/queue.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/tests/queue.rs
Labels: A-tokio, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6599 docs: fix a typo in doc of LocalSet::run_until
  tokio/src/task/local.rs
Labels: A-tokio, M-task

#6596 runtime: move the task out of the lifo_slot in block_in_place
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread

#6603 sync: fix incorrect is_empty on mpsc block boundaries
  tokio/src/sync/mpsc/block.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom-sync

#6600 Prepare tokio-macros v2.3.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio-macros

#6601 chore: prepare Tokio v1.38.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio
