Repository tokio-rs/tokio, pull requests merged in 2024-07, with the labels that each got.

#6663 io: implement `AsyncSeek` for `Empty`
  tokio/src/io/util/empty.rs
  tokio/tests/io_util_empty.rs
Labels: A-tokio, M-io

#6661 sync: add sender_weak_count and sender_strong_count for Receiver
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/chan.rs
  tokio/src/sync/mpsc/unbounded.rs
  tokio/tests/sync_mpsc_weak.rs
Labels: A-tokio, M-sync, R-loom-sync

#6671 Doc: JoinSet::try_join_next() returns None when no tasks are completed
  tokio/src/task/join_set.rs
Labels: T-docs, A-tokio, M-task

#6668 Hardcode platform list in short-read optimization
  tokio/src/io/poll_evented.rs
Labels: A-tokio, M-io

#6658 Making the Stream adaptor structures public in tokio-stream
  tokio-stream/src/lib.rs
  tokio-stream/src/stream_ext.rs
  tokio-stream/tests/stream_chain.rs
Labels: A-tokio-stream

#6683 time: update wake_up while holding all the locks of sharded time wheels
  tokio/src/runtime/time/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6688 chore: release v1.38.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6679 6536 - fix yield_calls_park_before_scheduling_again test
  tokio/src/runtime/park.rs
  tokio/src/runtime/scheduler/multi_thread/park.rs
  tokio/src/runtime/tests/loom_multi_thread/yield_now.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread

#6689 chore: release Tokio v1.38.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/runtime/time/mod.rs
Labels: A-tokio, R-loom-time-driver

#6674 io: update `tokio::io::stdout` documentation
  tokio/src/io/stdout.rs
Labels: T-docs, A-tokio, M-io

#6693 sync: update sync_watch.rs
  tokio/tests/sync_watch.rs
Labels: A-tokio, M-sync

#6692 task: add size check for user-supplied future
  tokio/src/runtime/blocking/pool.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/mod.rs
  tokio/src/runtime/runtime.rs
  tokio/src/task/builder.rs
  tokio/src/task/local.rs
  tokio/src/task/spawn.rs
Labels: A-tokio, M-task

#6619 metrics: stabilize num_alive_tasks
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/src/runtime/task/list.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6694 runtime: add cfg for loom specific code
  tokio/src/runtime/blocking/pool.rs
Labels: A-tokio, M-runtime

#6706 chore: make 1.38 an LTS
  README.md
  tokio/README.md
Labels: A-tokio

#6645 chore: increase MSRV to 1.70
  .github/workflows/ci.yml
  README.md
  tokio-macros/Cargo.toml
  tokio-stream/Cargo.toml
  tokio-test/Cargo.toml
  tokio-util/Cargo.toml
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6709 chore: replace num_cpus with available_parallelism
  benches/Cargo.toml
  tokio/Cargo.toml
  tokio/src/loom/std/mod.rs
Labels: A-tokio, M-runtime

#6666 Add `IntoFuture` support to `timeout` & `timeout_at`
  tokio/src/time/timeout.rs
Labels: A-tokio, M-time

#6696 metrics: add worker_park_unpark_count
  tokio/src/runtime/metrics/batch.rs
  tokio/src/runtime/metrics/mock.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/stats.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/stats.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-runtime, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6695 metrics: add worker thread id
  tokio/src/runtime/metrics/mock.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-runtime, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6154 Update `windows-sys` 0.52
  examples/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio, M-net

#6707 Prepare tokio-macros v2.4.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio-macros

#6710 macros: accept `IntoFuture` args for macros
  tokio/src/future/maybe_done.rs
  tokio/src/macros/select.rs
  tokio/src/macros/support.rs
  tokio/tests/macros_join.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, M-macros

#6711 Release Tokio v1.39.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6712 tests: ignore many_oneshot_futures test for alt scheduler
  tokio/tests/rt_threaded_alt.rs
Labels: A-tokio, M-runtime

#6715 time: revert "time: avoid traversing entries in the time wheel twice"
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/wheel/level.rs
  tokio/src/runtime/time/wheel/mod.rs
  tokio/src/util/linked_list.rs
Labels: A-tokio, M-time, R-loom-time-driver

#6716 chore: prepare Tokio v1.39.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6719 Run Quinn tests in CI
  .github/workflows/ci.yml
Labels: A-ci

#6725 chore: fix ci failures
  examples/dump.rs
  tokio-macros/src/lib.rs
  tokio/src/runtime/tests/queue.rs
Labels: A-ci

#6722 macros: allow temporary lifetime extension in select
  tokio/src/macros/select.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, M-macros

#6730 chore: prepare Tokio v1.39.2
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6731 process: stabilize `Command::process_group`
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#6728 docs: reiterate that `[build]` doesn't go in Cargo.toml
  tokio/src/lib.rs
Labels: T-docs, A-tokio

#6727 time,sync: make Sleep and BatchSemaphore instrumentation explicit roots
  tokio/src/sync/batch_semaphore.rs
  tokio/src/time/sleep.rs
  tokio/tests/tracing-instrumentation/tests/sync.rs
  tokio/tests/tracing-instrumentation/tests/time.rs
Labels: A-tokio, M-tracing, R-loom-sync

#6724 io: use vectored io for `write_all_buf` when possible
  tokio/src/io/util/write_all_buf.rs
  tokio/tests/io_write_all_buf.rs
Labels: A-tokio, M-io
