Repository tokio-rs/tokio, pull requests merged in 2024-02, with the labels that each got.

#6312 chore: prepare Tokio v1.36.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#6300 task: implement `FromIterator` for `JoinSet`
  tokio/src/task/join_set.rs
Labels: A-tokio, M-task

#6324 Update CHANGELOG.md
  tokio/CHANGELOG.md
Labels: A-tokio

#6326 Make downgrade must_use
  tokio/src/sync/mpsc/bounded.rs
  tokio/src/sync/mpsc/unbounded.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#6327 metrics: fix worker_steal_count test hanging
  tokio/tests/rt_metrics.rs
Labels: A-tokio, A-ci, M-metrics

#6328 runtime: include task `Id` in taskdumps
  examples/dump.rs
  tokio/src/runtime/dump.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker/taskdump.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/tests/dump.rs
Labels: A-tokio, M-taskdump, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#6331 sync: Add `forget_permits` method to semaphore
  tokio/src/sync/batch_semaphore.rs
  tokio/src/sync/semaphore.rs
  tokio/src/sync/tests/loom_semaphore_batch.rs
  tokio/src/sync/tests/semaphore_batch.rs
Labels: A-tokio, M-sync, R-loom-sync

#6334 chore: update CI to clippy 1.76
  .github/workflows/ci.yml
  CONTRIBUTING.md
  benches/copy.rs
  benches/rt_multi_threaded.rs
  benches/sync_broadcast.rs
  examples/custom-executor-tokio-context.rs
  stress-test/examples/simple_echo_tcp.rs
  tokio-util/src/codec/framed_impl.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
Labels: A-tokio-util, A-tokio, A-ci

#6310 util: add examples for FramedRead and FramedWrite
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
  tokio-util/src/codec/mod.rs
Labels: T-docs, A-tokio-util, M-codec

#6336 task: fix documentation links
  spellcheck.dic
  tokio/src/task/mod.rs
Labels: T-docs, A-tokio, M-task

#6337 io: document cancel safety of `AsyncReadExt`'s primitive read functions
  tokio/src/io/util/async_read_ext.rs
Labels: T-docs, A-tokio, M-io

#6339 macro select no branch else only
  tokio/src/macros/select.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, M-macros

#6329 runtime: fix leaking registration entries when os registration fails
  tokio/src/runtime/io/driver.rs
  tokio/src/runtime/io/registration_set.rs
Labels: A-tokio, M-runtime

#6360 Put import of os submodule behind 'net' feature to fix doc generation…
  tokio/src/lib.rs
Labels: A-tokio, M-net

#6340 task: Add `TaskLocalFuture::take_value` method to the `task_local`
  tokio/src/task/task_local.rs
  tokio/tests/task_local.rs
Labels: A-tokio, M-task

#6363 ci: downgrade to QEMU 7.2 for cross-compile builds (#6361)
  .github/workflows/ci.yml
Labels: A-ci

#6366 Add doc link from `Runtime` to `#[tokio::main]`.
  tokio/src/runtime/runtime.rs
Labels: T-docs, A-tokio, M-runtime
