Repository tokio-rs/tokio, pull requests merged in 2025-10, with the labels that each got.

#7635 runtime: add guide for choosing between runtime types
  spellcheck.dic
  tokio/src/runtime/mod.rs
Labels: T-docs, A-tokio, M-runtime

#7657 task: simplify the example of `TaskTracker`
  tokio-util/src/task/task_tracker.rs
Labels: T-docs, A-tokio-util, M-task

#7651 macros: suppress `clippy::unwrap_in_result` in `#[tokio::main]`
  tokio-macros/src/entry.rs
Labels: A-tokio-macros

#7661 sync: improve unbounded send method docs
  tokio/src/sync/mpsc/unbounded.rs
Labels: T-docs, A-tokio, M-sync
