Repository tokio-rs/tokio, pull requests merged in 2025-03, with the labels that each got.

#7188 util: optimize buffer reserve for AnyDelimiterCodec::encode
  tokio-util/src/codec/any_delimiter_codec.rs
Labels: A-tokio-util

#7189 Make 1.43 the next LTS
  README.md
  tokio/README.md
Labels: A-tokio

#7173 Adjust grammar in tokio/tests/coop_budget.rs
  tokio/tests/coop_budget.rs
Labels: A-tokio, M-coop

#7192 docs: fix grammar of the `ChildStdin` struct doc comment
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio, M-process

#7191 readme: adjust release schedule to once per month
  README.md
  tokio/README.md
Labels: A-readme

#7185 rt: coop should yield using waker defer strategy
  tokio/src/task/coop/mod.rs
  tokio/tests/rt_common.rs
Labels: C-bug, A-tokio, M-runtime, M-coop

#7164 macros: make `select!` budget-aware
  tokio/src/macros/select.rs
  tokio/src/macros/support.rs
  tokio/src/task/coop/mod.rs
  tokio/tests/macros_select.rs
Labels: A-tokio, M-coop, M-macros

#7166 net: debug_assert on creating a tokio socket from a blocking one
  Cargo.toml
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/listener.rs
  tokio/src/net/unix/stream.rs
  tokio/src/util/blocking_check.rs
  tokio/src/util/mod.rs
  tokio/tests/io_driver.rs
  tokio/tests/io_driver_drop.rs
  tokio/tests/no_rt.rs
  tokio/tests/tcp_peek.rs
Labels: A-tokio, M-net

#7162 Clarify Child::kill behavior
  tokio/src/process/mod.rs
Labels: T-docs, A-tokio, M-process

#7200 ci: enable printing in multi thread loom tests
  .github/workflows/loom.yml
Labels: A-ci

#7202 chore: prepare Tokio v1.44.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio, R-loom

#6899 stabilize worker_total_busy_duration
  tokio/src/macros/cfg.rs
  tokio/src/runtime/metrics/batch.rs
  tokio/src/runtime/metrics/mock.rs
  tokio/src/runtime/metrics/mod.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle/metrics.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-metrics, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7081 sync: add `CancellationToken::run_until_cancelled_owned`
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/tests/sync_cancellation_token.rs
Labels: A-tokio-util, M-sync

#7204 Do not require `Unpin` for some trait impls
  tokio/src/io/async_buf_read.rs
  tokio/src/io/async_read.rs
  tokio/src/io/async_seek.rs
  tokio/src/io/async_write.rs
  tokio/src/util/mod.rs
Labels: A-tokio, M-io, S-blocked-on-msrv

#7208 Remove an old custom `OnceCell` implementation in favor of `std`
  tokio/src/loom/std/atomic_u64_static_once_cell.rs
  tokio/src/process/unix/mod.rs
  tokio/src/signal/registry.rs
  tokio/src/util/mod.rs
  tokio/src/util/once_cell.rs
Labels: A-tokio, M-sync

#7212 test: Helpful panic messages for tokio_test::io
  tokio-test/src/io.rs
Labels: A-tokio-test

#7214 test: remove unused dependencies
  tokio-test/Cargo.toml
Labels: A-tokio-test

#7216 rt: skip defer queue in `block_in_place` context
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/tests/rt_handle_block_on.rs
  tokio/tests/rt_threaded.rs
Labels: A-tokio, M-runtime, M-coop, R-loom-multi-thread

#7217 chore: prepare Tokio v1.44.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7218 Merge 1.44.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/tests/rt_handle_block_on.rs
  tokio/tests/rt_threaded.rs
Labels: A-tokio, R-loom-multi-thread

#7215 chore: prepare tokio-util v0.7.14
  tokio-util/CHANGELOG.md
Labels: A-tokio-util

#7219 deps(tokio-util): update hashbrown to 0.15
  tokio-util/Cargo.toml
Labels: A-tokio-util

#7223 util: explicitly state that TaskTracker does not abort tasks on Drop
  tokio-util/src/task/task_tracker.rs
Labels: T-docs, A-tokio-util, M-task

#7224 chore: remove redundant words in comment
  tokio-stream/src/pending.rs
  tokio/src/runtime/scheduler/inject/rt_multi_thread.rs
  tokio/src/util/metric_atomics.rs
Labels: T-docs, A-tokio, A-tokio-stream
