Repository tokio-rs/tokio, pull requests merged in 2025-05, with the labels that each got.

#7302 Update tokio::time::sleep documentation to reflect maximum sleep
  tokio/src/time/sleep.rs
  tokio/tests/time_sleep.rs
Labels: T-docs, A-tokio, M-time

#7288 ci: Test AArch64 Windows
  .github/workflows/ci.yml
Labels: A-ci

#7226 time: revert "use sharding for timer implementation" related changes
  tokio/src/loom/mocked.rs
  tokio/src/loom/std/mutex.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/context.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/tests/mod.rs
  tokio/src/util/mod.rs
  tokio/src/util/rand.rs
Labels: A-tokio, M-time, R-loom-time-driver, R-loom-multi-thread

#7308 chore: prepare Tokio v1.45.0 release
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7311 runtime: add doc note that on_*_task_poll is unstable
  tokio/src/runtime/builder.rs
Labels: T-docs, A-tokio, M-runtime

#7326 time: remove outdated explicit `drop` call of `Mutex`
  tokio/src/time/clock.rs
Labels: A-tokio, M-time

#7328 time: address style issues
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/wheel/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver

#7339 Update macros_type_mismatch for Rust 1.87.0
  tests-build/tests/fail/macros_type_mismatch.stderr
Labels: A-ci

#7336 docs: socket.rs document of method recv_buffer_size
  tokio/src/net/tcp/socket.rs
Labels: T-docs, A-tokio, M-net

#7333 time: rename `cached_when` to `registered_when`
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/wheel/level.rs
  tokio/src/runtime/time/wheel/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver

#7320 rt: add infrastructure code for io_uring
  .github/workflows/ci.yml
  Cargo.toml
  spellcheck.dic
  tokio/Cargo.toml
  tokio/src/io/mod.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/driver/op.rs
  tokio/src/runtime/io/driver.rs
  tokio/src/runtime/io/driver/uring.rs
  tokio/src/runtime/io/mod.rs
Labels: A-tokio, M-runtime

#7346 runtime: various minor `LocalRuntime` improvements
  tokio/src/runtime/builder.rs
  tokio/src/runtime/local_runtime/options.rs
  tokio/src/runtime/local_runtime/runtime.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/rt_local.rs
Labels: A-tokio, M-runtime

#7340 runtime: eliminate unnecessary lfence while operating on `queue::Local<T>`
  tokio/src/runtime/scheduler/multi_thread/queue.rs
Labels: A-tokio, M-runtime, R-loom-multi-thread

#7329 time: eliminate `UnsafeCell` around the `TimerShared`
  tokio/src/runtime/time/entry.rs
Labels: A-tokio, M-time, R-loom-time-driver

#7322 rt: do not track time-based metrics on wasm32-unknown-unknown
  tokio/src/net/tcp/stream.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/metrics/batch.rs
  tokio/tests/tcp_shutdown.rs
Labels: A-tokio, M-time, M-metrics, T-wasm

#7359 chore: prepare Tokio v1.45.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio, M-time, M-metrics, T-wasm

#7342 chore: use `Wake` more
  tokio-test/src/task.rs
  tokio/src/runtime/park.rs
  tokio/src/util/mod.rs
  tokio/src/util/wake.rs
Labels: A-tokio-test, A-tokio, M-runtime

#7371 Update rand crate to latest version
  benches/Cargo.toml
  benches/copy.rs
  benches/sync_broadcast.rs
  benches/sync_watch.rs
  examples/Cargo.toml
  stress-test/Cargo.toml
  tokio/Cargo.toml
  tokio/tests/sync_broadcast.rs
  tokio/tests/time_pause.rs
Labels: A-examples

#7358 time&runtime: cumulative minor improvements
  tokio/src/runtime/local_runtime/runtime.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/time/entry.rs
  tokio/src/runtime/time/mod.rs
  tokio/src/runtime/time/tests/mod.rs
Labels: A-tokio, M-time, R-loom-time-driver
