Repository tokio-rs/tokio, pull requests merged in 2025-06, with the labels that each got.

#7382 Enable some tests to test with miri
  .github/workflows/ci.yml
  tokio/tests/io_async_fd.rs
  tokio/tests/net_unix_pipe.rs
Labels: A-ci

#7389 sync: add `same_channel` analogue to `OwnedPermit`
  tokio/src/sync/mpsc/bounded.rs
Labels: A-tokio, M-sync, R-loom-sync

#7393 net: add cygwin support
  Cargo.toml
  tokio/src/net/tcp/socket.rs
  tokio/src/net/unix/ucred.rs
Labels: A-tokio, M-net

#7392 benches: properly gate unix benches
  benches/Cargo.toml
  benches/fs.rs
  benches/signal.rs
Labels: A-benches

#7402 Add test that consumes park token during `block_on`
  tokio/tests/rt_handle_block_on.rs
Labels: A-tokio, M-runtime

#7407 sync: add `DropGuardRef` for `CancellationToken`
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/src/sync/cancellation_token/guard_ref.rs
  tokio-util/src/sync/mod.rs
Labels: A-tokio-util, M-sync

#7408 sync: improve docs of `tokio_util::sync::CancellationToken`
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/src/sync/cancellation_token/guard.rs
  tokio-util/src/sync/cancellation_token/guard_ref.rs
Labels: T-docs, A-tokio-util, M-sync

#7416 Fix documentation link for RawFd in TcpSocket docs
  tokio/src/net/tcp/socket.rs
Labels: T-docs, A-tokio, M-net

#7426 net: allow `pipe::OpenOptions::read_write` on Android
  tokio/src/net/unix/pipe.rs
  tokio/tests/net_unix_pipe.rs
Labels: A-tokio, M-net

#7429 Update AsRawFd documentation link to current Rust stdlib location
  tokio/src/net/tcp/socket.rs
Labels: T-docs, A-tokio, M-net

#7422 impl Clone for net::unix::SocketAddr
  tokio/src/net/unix/socketaddr.rs
Labels: C-enhancement, A-tokio, M-net
