Repository tokio-rs/tokio, pull requests merged in 2025-04, with the labels that each got.

#7242 chore: forward port 1.44.x
  .github/workflows/ci.yml
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
  tokio/src/runtime/tests/queue.rs
  tokio/src/sync/broadcast.rs
Labels: R-loom-sync

#7235 Update mio-aio dev dependency to 1.0
  tokio/Cargo.toml
Labels: A-tokio

#7244 Fix release date of Tokio v1.41.1
  tokio/CHANGELOG.md
Labels: A-tokio, A-readme

#7245 Merge 1.42.1 into 1.43.x
  tokio/CHANGELOG.md
Labels: A-tokio

#7248 Tokio 1.44.2 fix release date
  tokio/CHANGELOG.md
Labels: A-tokio, A-readme

#7230 Mark runtime::Handle as unwind-safe
  tokio/src/runtime/handle.rs
Labels: A-tokio, M-runtime

#7260 Benches: Add Helper Functions for Building Runtimes to `benches/spawn.rs`
  benches/spawn.rs
Labels: A-benches

#7264 fix #7257 by ignoring tasks with missing map keys
  tokio-util/src/task/join_map.rs
  tokio-util/tests/task_join_map.rs
Labels: A-tokio-util, M-task

#7249 Feat(process): Implement `Command::spawn_with`
  spellcheck.dic
  tokio/src/process/mod.rs
  tokio/src/process/unix/mod.rs
  tokio/src/process/windows.rs
Labels: A-tokio, M-process

#7273 Fix Code Comment Inconsistency
  tokio/src/runtime/metrics/histogram/h2_histogram.rs
Labels: T-docs, A-tokio, M-metrics

#7269 runtime: document the queue behavior of spawn_blocking
  tokio/src/runtime/builder.rs
Labels: T-docs, A-tokio, M-runtime

#7275 rt(unstable): remove alt multi-threaded runtime
  tokio/src/runtime/blocking/schedule.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/runtime.rs
  tokio/src/runtime/scheduler/block_in_place.rs
  tokio/src/runtime/scheduler/inject/synced.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread_alt/counters.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/handle/taskdump.rs
  tokio/src/runtime/scheduler/multi_thread_alt/idle.rs
  tokio/src/runtime/scheduler/multi_thread_alt/mod.rs
  tokio/src/runtime/scheduler/multi_thread_alt/overflow.rs
  tokio/src/runtime/scheduler/multi_thread_alt/park.rs
  tokio/src/runtime/scheduler/multi_thread_alt/queue.rs
  tokio/src/runtime/scheduler/multi_thread_alt/stats.rs
  tokio/src/runtime/scheduler/multi_thread_alt/trace.rs
  tokio/src/runtime/scheduler/multi_thread_alt/trace_mock.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker/metrics.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker/taskdump.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker/taskdump_mock.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/src/runtime/tests/loom_multi_thread_alt.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/queue.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/shutdown.rs
  tokio/src/runtime/tests/loom_multi_thread_alt/yield_now.rs
  tokio/src/runtime/tests/mod.rs
  tokio/src/runtime/time/entry.rs
  tokio/tests/rt_threaded_alt.rs
Labels: C-maintenance, A-tokio, M-runtime, R-loom-time-driver, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7256 Examples: Improve Echo Example Consistency
  examples/Cargo.toml
  examples/README.md
  examples/connect-tcp.rs
  examples/connect-udp.rs
  examples/connect.rs
  examples/echo-tcp.rs
  examples/echo-udp.rs
  examples/print_each_packet.rs
  examples/proxy.rs
  examples/tinydb.rs
Labels: A-examples

#7234 Update the mockall dev dependency to 0.13.0
  tokio/Cargo.toml
  tokio/src/fs/mocks.rs
Labels: A-tokio, M-fs

#7283 chore: prepare tokio-util v0.7.15
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#7286 ci: fix cfg!(miri) declarations in tests
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/runtime.rs
Labels: A-tokio, A-ci

#7276 Stabilize worker_park_count and worker_unpark_count
  tokio/src/runtime/metrics/batch.rs
  tokio/src/runtime/metrics/runtime.rs
  tokio/src/runtime/metrics/worker.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-metrics

#7279 docs: Improved docs & examples for ` tokio_util::compat`
  tokio-util/src/compat.rs
  tokio-util/src/lib.rs
Labels: T-docs, A-tokio-util
