Repository tokio-rs/tokio, pull requests merged in 2025-07, with the labels that each got.

#7442 chore: fix some minor issues in the comments
  tokio-util/tests/task_join_map.rs
  tokio/src/process/mod.rs
Labels: A-tokio-util, A-tokio, M-process, M-task

#7440 runtime(unstable): fix task hook spawn locations for `tokio::spawn`
  tokio/src/runtime/handle.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/mod.rs
  tokio/src/runtime/scheduler/multi_thread/handle.rs
  tokio/src/runtime/task/harness.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task_hooks.rs
  tokio/src/task/local.rs
  tokio/src/task/spawn.rs
  tokio/src/util/trace.rs
  tokio/tests/task_hooks.rs
Labels: R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7444 chore: prepare to release v1.46.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7450 sync: improve AtomicWaker::wake performance
  tokio/src/sync/task/atomic_waker.rs
  tokio/src/sync/tests/atomic_waker.rs
Labels: A-tokio, M-sync, R-loom, R-loom-sync

#7405 Make cooperative and poll_proceed public
  tokio/src/task/coop/mod.rs
  tokio/tests/async_send_sync.rs
Labels: A-tokio, M-coop

#7457 ci: cleanup legacy `R-loom-multi-thread-alt` label from the labeler
  .github/labeler.yml
Labels: A-ci

#7470 ci: use ubuntu-24.04-arm instead of ubuntu-22.04-arm
  .github/workflows/ci.yml
Labels: A-ci

#7252 (tokio-util JoinMap) Remove raw-entry feature in favour of HashTable API.
  tokio-util/Cargo.toml
  tokio-util/src/task/join_map.rs
  tokio-util/tests/task_join_map.rs
Labels: A-tokio-util

#7418 sync: Introduce the `SetOnce` struct
  tokio/src/sync/mod.rs
  tokio/src/sync/set_once.rs
  tokio/src/sync/tests/loom_set_once.rs
  tokio/src/sync/tests/mod.rs
  tokio/tests/async_send_sync.rs
  tokio/tests/sync_set_once.rs
Labels: C-enhancement, A-tokio, M-sync, R-loom-sync

#7484 changelog: fix incorrect PR number for 1.47.0
  tokio/CHANGELOG.md
Labels: T-docs, A-tokio

#7485 sync: fix broken link of Python `asyncio.Event` in `SetOnce` docs
  tokio/src/sync/set_once.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#7453 chore(runtime): reorder metrics to be grouped by cfg-gates
  tokio/src/runtime/metrics/runtime.rs
Labels: A-tokio, M-runtime

#7491 net: add `unix::SocketAddr::as_abstract_name`
  spellcheck.dic
  tokio/src/net/unix/socketaddr.rs
Labels: C-enhancement, A-tokio, M-net

#7475 future: add adapters of `CancellationToken` for `FutureExt`
  tokio-util/Cargo.toml
  tokio-util/src/future.rs
  tokio-util/src/future/with_cancellation_token.rs
  tokio-util/src/lib.rs
  tokio-util/src/sync/cancellation_token.rs
  tokio-util/src/sync/mod.rs
  tokio-util/src/time/mod.rs
  tokio-util/tests/future.rs
Labels: C-enhancement, A-tokio-util, M-sync, M-time

#7497 tokio: add 1.47 as LTS release
  README.md
  tokio/README.md
Labels: A-tokio, A-readme
