Repository tokio-rs/tokio, pull requests merged in 2025-08, with the labels that each got.

#7493 codec: add `FramedWrite::with_capacity`
  tokio-util/src/codec/framed_write.rs
Labels: C-enhancement, A-tokio-util, M-codec

#7501 blocking: clarify that spawn_blocking is aborted if not yet started
  tokio/src/task/blocking.rs
Labels: T-docs, A-tokio, M-blocking

#7502 Prepare Tokio v1.43.2
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7504 Prepare Tokio v1.47.1
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7506 sync: document cancel safety on `SetOnce::wait`
  tokio/src/sync/set_once.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#7075 feat(tokio_util): Stabilise JoinMap
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
  tokio-util/src/task/join_map.rs
  tokio-util/src/task/mod.rs
  tokio-util/tests/task_join_map.rs
Labels: A-tokio-util, M-task

#7507 Prepare tokio-util v0.7.16
  tokio-util/CHANGELOG.md
  tokio-util/Cargo.toml
Labels: A-tokio-util

#7509 fix(test): fix flaky joinmap test during abort
  tokio-util/src/task/join_map.rs
Labels: A-tokio-util, M-task

#7511 fix(process): upgrade Command::spawn_with to use FnOnce
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#7321 fs: add io_uring `open` operation
  .github/workflows/ci.yml
  tokio/Cargo.toml
  tokio/src/fs/mod.rs
  tokio/src/fs/open_options.rs
  tokio/src/fs/open_options/uring_open_options.rs
  tokio/src/io/mod.rs
  tokio/src/io/uring/mod.rs
  tokio/src/io/uring/open.rs
  tokio/src/io/uring/utils.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/driver/op.rs
  tokio/src/runtime/io/driver/uring.rs
  tokio/src/runtime/mod.rs
  tokio/tests/fs_open_options.rs
  tokio/tests/fs_uring.rs
Labels: A-tokio, M-fs

#7518 ci: pin the rust version for wasm tests
  .github/workflows/ci.yml
Labels: A-ci, T-wasm

#7520 doc: fix typo in comment for MAX_LIFO_POLLS_PER_TICK
  tokio/src/runtime/scheduler/multi_thread/worker.rs
Labels: T-docs, A-tokio, M-runtime, R-loom-multi-thread

#7529 ci: update GitHub actions/checkout to v5
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/loom.yml
  .github/workflows/pr-audit.yml
  .github/workflows/stress-test.yml
  .github/workflows/uring-kernel-version-test.yml
Labels: A-ci

#7530 Implement `Ord` for `task::Id`
  tokio/src/runtime/task/id.rs
Labels: A-tokio, M-task, R-loom-current-thread, R-loom-multi-thread

#7535 Reduce the generated code size of Timeout<T>::poll
  tokio/src/time/timeout.rs
Labels: A-tokio, M-time
