Repository tokio-rs/tokio, pull requests merged in 2025-09, with the labels that each got.

#7566 tokio-uitls: into_parts() for Framed Read/Write
  tokio-util/src/codec/framed.rs
  tokio-util/src/codec/framed_read.rs
  tokio-util/src/codec/framed_write.rs
Labels: C-enhancement, A-tokio-util, M-codec

#7573 net: implement `AsRef<Self>` for `TcpStream` and `UnixStream`
  tokio/src/net/tcp/stream.rs
  tokio/src/net/unix/stream.rs
Labels: A-tokio, M-net

#7569 sync: use `UnsafeCell::get_mut` in `Mutex::get_mut` and `RwLock::get_mut`
  tokio/src/sync/mutex.rs
  tokio/src/sync/rwlock.rs
Labels: A-tokio, M-sync, R-loom-sync

#7578 stream: improve the the docs of `TcpListenerStream`
  tokio-stream/src/wrappers/tcp_listener.rs
Labels: T-docs, A-tokio-stream

#7579 process: fix unit test for trailing LF in `uname -r`
  tokio/src/process/unix/pidfd_reaper.rs
Labels: A-tokio, M-process

#7581 examples: fix the write length in the `connect-tcp` example
  examples/connect-udp.rs
Labels: A-examples

#7583 io: fix typos in the docs of two `AsyncFd` readiness guards
  tokio/src/io/async_fd.rs
Labels: T-docs, A-tokio, M-io

#7575 ci: remove the job `test-pass`
  .github/workflows/ci.yml
Labels: A-ci

#7587 loom: loom::std::parking_lot::RwLock try_read/try_write methods block
  tokio/src/loom/std/parking_lot.rs
Labels: A-tokio

#7594 fs: add `File::max_buf_size`
  tokio/src/fs/file.rs
Labels: A-tokio, M-fs

#7595 sync: Improve a bit the documentation about allocation failure
  tokio/src/sync/broadcast.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#7598 macros: update the example git tag used in the release guide
  tokio-macros/Cargo.toml
Labels: C-maintenance, A-tokio-macros

#7599 io: export Chain for users of AsyncReadExt::chain
  tokio/src/io/mod.rs
  tokio/src/io/util/mod.rs
Labels: C-enhancement, A-tokio, M-io, S-waiting-on-author

#7604 net: Fix copy/paste errors in udp peek methods
  tokio/src/net/udp.rs
Labels: T-docs, A-tokio, M-net

#7577 task: clarify task ID reuse guarantees
  tokio/src/runtime/task/id.rs
  tokio/src/task/join_set.rs
Labels: T-docs, A-tokio, M-task, R-loom-current-thread, R-loom-multi-thread

#7601 sync: improve the docs of `sync::watch`
  tokio/src/sync/mod.rs
  tokio/src/sync/watch.rs
Labels: T-docs, A-tokio, M-sync, R-loom-sync

#7605 runtime: clarify the edge case of `Builder::global_queue_interval()`
  tokio/src/runtime/builder.rs
Labels: T-docs, A-tokio, M-runtime, S-waiting-on-author

#7622 waker: Fix weak memory issue in wake_by_ref()
  tokio/src/runtime/task/state.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread

#7630 ci: fix compiler output changes in Rust 1.90.0
  tests-build/tests/fail/macros_type_mismatch.stderr
Labels: A-ci

#7621 fs: use feature for io-uring instead of cfg
  .github/workflows/ci.yml
  .github/workflows/uring-kernel-version-test.yml
  Cargo.toml
  tokio/Cargo.toml
  tokio/src/fs/mod.rs
  tokio/src/fs/open_options.rs
  tokio/src/io/mod.rs
  tokio/src/macros/cfg.rs
  tokio/src/runtime/builder.rs
  tokio/src/runtime/driver.rs
  tokio/src/runtime/io/driver.rs
  tokio/src/runtime/io/mod.rs
  tokio/tests/fs_try_exists.rs
  tokio/tests/fs_uring.rs
Labels: A-tokio, M-fs, A-ci

#7629 sync: close the `broadcast::Sender` in `broadcast::Sender::new()`
  tokio/src/sync/broadcast.rs
  tokio/tests/sync_broadcast.rs
Labels: A-tokio, M-sync, R-loom-sync

#7590 task: add `tokio_util::task::JoinQueue`
  tokio-util/src/task/join_queue.rs
  tokio-util/src/task/mod.rs
  tokio-util/tests/task_join_queue.rs
Labels: C-enhancement, A-tokio-util, M-task

#7652 ci: freeze rustc on nightly-2025-01-25 in `netlify.toml`
  netlify.toml
Labels: A-ci

#7634 fs: emit compilation error without `tokio_unstable` for `io-uring`
  .cirrus.yml
  .github/workflows/ci.yml
  tokio-macros/src/lib.rs
  tokio/src/lib.rs
Labels: A-tokio, M-fs
