Repository tokio-rs/tokio, pull requests merged in 2025-01, with the labels that each got.

#7060 Run doc tests with miri in ci
  .github/workflows/ci.yml
  tokio/src/net/tcp/listener.rs
  tokio/src/net/tcp/socket.rs
  tokio/src/net/tcp/stream.rs
  tokio/src/net/udp.rs
  tokio/src/net/unix/datagram/socket.rs
  tokio/src/net/unix/stream.rs
  tokio/src/process/mod.rs
  tokio/src/runtime/runtime.rs
Labels: A-ci

#7063 Fix typo in miri ignore comment
  tokio/src/net/unix/datagram/socket.rs
Labels: A-tokio, M-net

#7066 Change `AsyncReadExt::read` docs formatting to clarify requirements
  tokio/src/io/util/async_read_ext.rs
Labels: T-docs, A-tokio, M-io

#7068 Add `UdpSocket::peek` method
  tokio/src/net/udp.rs
Labels: A-tokio, M-net

#7053 Clarify ReadBuf::uninit allows initialized buffers as well
  tokio/src/io/read_buf.rs
Labels: T-docs, A-tokio, M-io

#7067 Fix ambiguity in `TcpStream::try_write_vectored` docs
  tokio/src/net/tcp/stream.rs
Labels: T-docs, A-tokio, M-net

#7073 chore: use unsync loads for `unsync_load`
  tokio/src/loom/std/atomic_u16.rs
  tokio/src/loom/std/atomic_u32.rs
  tokio/src/loom/std/atomic_usize.rs
Labels: A-tokio, M-sync

#7071 ci: split miri jobs into unit and integration tests
  .github/workflows/ci.yml
Labels: A-ci

#7074 docs: Fix LocalRuntime doc links
  tokio/src/runtime/local_runtime/runtime.rs
Labels: T-docs, A-tokio, M-runtime

#7054 io: extend `Buf` length only after having read into it
  tokio/src/fs/file.rs
  tokio/src/io/blocking.rs
  tokio/src/io/stderr.rs
  tokio/src/io/stdin.rs
  tokio/src/io/stdout.rs
  tokio/src/process/windows.rs
Labels: A-tokio, M-io

#6963 metrics: Improve flexibility of H2Histogram Configuration
  tokio/src/runtime/builder.rs
  tokio/src/runtime/metrics/histogram/h2_histogram.rs
  tokio/tests/rt_unstable_metrics.rs
Labels: A-tokio, M-metrics

#7078 chore: prepare tokio-macros v2.5.0
  tokio-macros/CHANGELOG.md
  tokio-macros/Cargo.toml
  tokio/Cargo.toml
Labels: A-tokio-macros

#7079 chore: prepare Tokio v1.43.0
  README.md
  tokio/CHANGELOG.md
  tokio/Cargo.toml
  tokio/README.md
Labels: A-tokio

#7085 ci: fix ci error about wasm32-wasip1
  .github/workflows/ci.yml
Labels: A-ci, T-wasm

#7086 process: add `Command::get_kill_on_drop()`
  tokio/src/process/mod.rs
Labels: A-tokio, M-process

#7090 sync: fix sync::broadcast::Sender<T>::closed() doctest
  tokio/src/sync/broadcast.rs
Labels: A-tokio, M-sync, R-loom-sync

#7094 sync: handle panic during mpsc drop
  tokio/src/sync/mpsc/chan.rs
  tokio/tests/sync_mpsc.rs
Labels: A-tokio, M-sync, R-loom-sync

#7112 runtime: clean up magic number usage
  tokio/src/runtime/io/registration_set.rs
Labels: A-tokio, M-runtime

#7069 macros: characterization tests for ? operator fail
  tests-build/tests/fail/macros_type_mismatch.rs
  tests-build/tests/fail/macros_type_mismatch.stderr
Labels: A-tokio-macros

#7113 docs: fix warnings when building the docs
  tokio/src/doc/mod.rs
Labels: A-tokio

#7123 ci: test AArch64/Armv7hf Linux on ubuntu-22.04-arm runner
  .circleci/config.yml
  .github/workflows/ci.yml
Labels: A-ci

#7124 chore: use [lints] to address unexpected_cfgs lint
  .cirrus.yml
  .github/workflows/ci.yml
  Cargo.toml
  benches/Cargo.toml
  examples/Cargo.toml
  examples/dump.rs
  stress-test/Cargo.toml
  tests-build/Cargo.toml
  tests-integration/Cargo.toml
  tokio-macros/Cargo.toml
  tokio-macros/src/lib.rs
  tokio-stream/Cargo.toml
  tokio-stream/src/lib.rs
  tokio-test/Cargo.toml
  tokio-test/src/lib.rs
  tokio-util/Cargo.toml
  tokio-util/src/lib.rs
  tokio-util/tests/task_join_map.rs
  tokio/Cargo.toml
  tokio/src/lib.rs
  tokio/src/runtime/blocking/pool.rs
  tokio/tests/_require_full.rs
  tokio/tests/dump.rs
  tokio/tests/macros_select.rs
  tokio/tests/macros_test.rs
  tokio/tests/rt_basic.rs
  tokio/tests/rt_common.rs
  tokio/tests/rt_handle.rs
  tokio/tests/rt_local.rs
  tokio/tests/rt_metrics.rs
  tokio/tests/rt_threaded.rs
  tokio/tests/rt_threaded_alt.rs
  tokio/tests/rt_unstable_metrics.rs
  tokio/tests/task_builder.rs
  tokio/tests/task_hooks.rs
  tokio/tests/task_id.rs
  tokio/tests/task_join_set.rs
  tokio/tests/task_local_set.rs
  tokio/tests/task_yield_now.rs
  tokio/tests/tracing_sync.rs
  tokio/tests/tracing_task.rs
  tokio/tests/tracing_time.rs
Labels: A-ci

#6972 make tracing a task public so self-tracing is possible
  tokio/src/runtime/dump.rs
  tokio/src/runtime/handle.rs
  tokio/src/runtime/task/trace/mod.rs
  tokio/tests/task_trace_self.rs
Labels: A-tokio, M-taskdump, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt

#7128 io: implemented `get_ref` and `get_mut` for `SyncIoBridge`
  tokio-util/src/io/sync_bridge.rs
Labels: A-tokio-util, M-io

#7120 Task poll callbacks
  tokio/src/runtime/builder.rs
  tokio/src/runtime/config.rs
  tokio/src/runtime/scheduler/current_thread/mod.rs
  tokio/src/runtime/scheduler/multi_thread/worker.rs
  tokio/src/runtime/scheduler/multi_thread_alt/worker.rs
  tokio/src/runtime/task/mod.rs
  tokio/src/runtime/task_hooks.rs
  tokio/tests/rt_poll_callbacks.rs
Labels: A-tokio, M-runtime, R-loom-current-thread, R-loom-multi-thread, R-loom-multi-thread-alt
